/*
	fixedBottom : z-index: 41, 
	풀팝업: z-index: 45, 
	딤, bottomAlert(토스트메시지): z-index: 50, 
	일반팝업, 슬라이드 팝업: z-index: 60, 
	패널(drawer): z-index: 70, 
*/
body.fixed {
	overflow: hidden;
	position: fixed;
	#wrap {
		//pointer-events: none;
	}
}
.bg-dimmed {
	@include Hide_txt;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: {
		color: #000;
	}
	opacity: 0.5;
	z-index: 50;
}
.layer {
	&-wrap {
		line-height: 1;
		z-index: 60;
	}

	//슬라이드 형태
	&-slide {
		opacity: 0;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translateY(120%);
		transition: transform .4s;
		box-sizing: border-box;
		&.active {
			transform: translateY(0);
		}
		.slide-top {
			background-color: #fff;
			border-radius: 2rem 2rem 0 0;
			.layer-slide-close {
				cursor: pointer;
				width: 100%;
				height: 2.3rem;
				text-align:center;
				@include Hide_txt;
				&:after {
					content: '';
					@include Vertical-inline;
					width: 4.1rem;
					height: .3rem;
					background-color: #EBEBEB;
					border-radius: .5rem;
				}
			}
			h4 {
				font-size: 1.5rem;
				margin: 0 1.7rem;
				padding: .5rem 0 1.7rem;
				border-bottom: 1px solid #EBEBEB;
				@include Bold;
				@include Align-middle-left;
				> span {
					@include Normal;
					margin-left:.6rem;
					color:#999;
					font-size:1.2rem;
				}
				> i {
					margin-left:.6rem;
				}
			}
		}
		.slide-inner {
			background-color: #fff;
			overflow-y: visible;
			overflow-x: hidden;
			max-height:calc(100vh - 16rem);
			-webkit-overflow-scrolling:touch;
			.slide-cont {
				padding: 0 1.7rem;
			}
			.slide-btn {
			}
		}

		//필터 슬라이드
		&.layer-filter {
			.filter-reset-btn {
				@include Position($top:2rem, $right:1.7rem);
				i {margin-right: .4rem;}
			}
			.filter-col {
				position: relative;
				padding-top: 2rem;
				h5 {
					font-size: 1.4rem;
					@include Bold;
				}
				.price-all {
					border-bottom:1px solid #2B2B2B;
					@include Position($top: 2rem, $right: 0);
				}
				.chk-list {
					margin-top: .4rem;
					li {
						input {
							display: none;
						}
						label {
							position: relative;
							height: 4.1rem;
							display: block;
							@include Align-middle;
							box-sizing: border-box;
							font-size: 1.2rem;
							border-radius: 1rem;
							border: .15rem solid #EBEBEB;
							padding: 0 1.2rem;
							transition: all .4s;
						}
						input:checked + label {
							border-color: #2B2B2B;
							@include Bold;
							&:after {
								display: block;
								content: '';
								@include Position( $top: .7rem, $right: .7rem);
								z-index: 1;
								width: .5rem;
								height: .5rem;
								margin-left: -.2rem;
								border-radius: 100%;
								background-color: #F04040;
							}
						}
					}
				}
				.price_box_case {
					position: relative;
					&:before {
						display: block;
						content: '';
						width: 100%;
						width: calc(100% - 1.3rem);;
						height: .5rem;
						background-color: #EBEBEB;
						border-radius: .5rem;
						margin: 1.7rem 0;
					}
					.price-box {
						@include Position($top: 0, $right: 0);
						width: 100%;
						.ui-widget.ui-widget-content {
							background-color: #EBEBEB;
							border:0;
							height: .5rem;
							margin: 0 2.5rem 0 .8rem;
						}
						.ui-slider .ui-slider-range {
							background-color: #f04040;
							height: .5rem;
						}
						.ui-slider-horizontal .ui-slider-handle {
							width: 1.7rem;
							height: 1.7rem;
							background-color: #fff;
							border-radius: 100%;
							top: -.7rem;
							border: 0;
							box-shadow: 0 1px 5px rgba(96,97,112,0.3);
						}
					}
					.price-txt {
						@include Align-between;
						span {
							position: relative;
							&:first-child {
								margin-right: 1rem;
							}
							&:after {
								display: block;
								content: '';
								@include Position($top:-2.05rem, $left:50%);
								background-color: #fff;
								width: .2rem;
								height: .2rem;
								border-radius: 100%;
								margin-left: -.1rem;
							}
							&.active {
								@include Bold;
							}
						}
					}
				}

			}
			.slide-btn {
				padding: 2.6rem 1.7rem;
			}
		}

		//본인인증 슬라이드
		&.layer-certification {
			.slide-cont {
				padding: 0;
			}
			.certification-col-top {
				padding: 0 1.7rem;
				padding-top: 1.7rem;
				.guide {
					line-height: 1.3;
					font-size: 1.1rem;
				}
				.number {
					margin-top:2.6rem;
					background-color: #EFF2F7;
					border-radius: 1.5rem;
					height: 2.8rem;
					@include Align-middle;
					span {
						font-size: 1.1rem;
					}
					b {
						font-size: 1.1rem;
						@include Bold;
						margin-left:1.1rem;
					}
				}
			}
			.certification-col-form {
				margin: 1rem 0 3rem;
				.chk-agree-list {
					padding: 0 1.7rem;
				}
				.radio-box {
					padding: 0 1.7rem;
					label {
						height: 10.2rem;
						span {
							display: block;
							font-size: 1.1rem;
							margin-top: 1.2rem;
						}
					}
				}
				.radio-box2 {
					.radioIconBox {
						> label {
							@include Align-box;
							flex-flow: row;
							justify-content: left;
							padding: 1.5rem;
							margin: 0 1.7rem;
							i {flex: none;margin-right: 1.5rem;}
							strong {
								@include Bold;
								display: block;
								line-height: 1.3;
							}
							span {
								@include Normal;
								display: block;
								line-height: 1.3;
								margin-top: .7rem;
							}
						}
						> input:checked ~ .radio-depth {
							display: block;
						}
					}
				}
			}
		}

		//차량선택 슬라이드
		&.layer-carSelect {
			h4{
				border:0;
				@include Align-middle-left;
				> span {
					margin-left:auto;
				}
			}
			.filter-list{
				margin:0 0 1.7rem;
			}
			.slide-cont {
				padding:0;
			}
			.layer-carSelect-list {
				padding:0 1.7rem;
				> ul {
					border-bottom:1px solid #EBEBEB;
					> li {
						border-top:1px solid #EBEBEB;
						a{
							height: 8rem;
							@include Align-middle-left;
							.img {
								width:11rem;
								flex:none;
							}	
							> strong {
								word-break:break-all;
								line-height: 1.3;
								@include Bold;
								margin:0 1rem;
							}
							> i {
								margin-left: auto;
								flex:none;
								margin-right: 1rem;
							}
							.options {
								> strong {
									line-height: 1.3;
									font-size: 1.2rem;
									display: block;
									@include Bold;
								}
								> span{
									line-height: 1.3;
									font-size: 1.2rem;
									display: block;
									color:#999;
									margin-top: .5rem;
								}
							}
						}
					}
				}
			}
		}

		&.layer-allTime{
			.layer-time-col-cont{
				padding:3.4rem 1.7rem;
				.selectbox{
					border-left:0;
					border-right:0;
					border-radius: 0;
				}
			}
		}

		&.layer-suc-prog {
			.slide-message {
				color:#fff;
				padding:1.7rem 1.7rem 2.3rem;
			}
			.slide-top { 
				@include Align-between;
				padding:4.3rem 1.7rem 0;
				h4 {
					border:0;
					margin:0;
					padding:0;
				}
				.layer-slide-close {
					width: auto;
					height: 2.3rem;
					&:after {
						display: none;
					}
				}
			}
			.slide-cont {
				margin:3.4rem 0;
				.item-info {
					.detail-cont {
						> div { 
							@include Align-middle-left;
							strong {
								@include Bold;
								width:30%;
							}
							& + div {
								padding-top:2.6rem;
							}
							i {
								margin-left:auto;
							}
						}
					}
				}
			}
		}

	}

	//풀팝업 형태
	&-full {
		@include Position( $position:fixed, $top: 0, $left: 0);
		z-index: 45;
		opacity: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		transform: translateY(120%);
		transition: transform .4s;
		box-sizing: border-box;
		background-color: #fff;
		-webkit-overflow-scrolling:touch;
		&.fixed {
			overflow: hidden;
			pointer-events: none;
		}
		&.active {
			transform: translateY(0);
		}
		.full-top {
			background-color: #fff;
			height: 6.8rem;
			@include Align-middle;
			@include Position( $position:sticky, $top: 0, $left: 0);
        	z-index: 2;
			.layer-full-close {
				@include Position( $top: 50%, $right: 1.7rem);
				margin-top: -1.3rem;
			}
			h4 {
				font-size: 1.4rem;
				@include Bold;
			}
		}
		.full-inner {
			.full-cont {
				padding: 0 1.7rem 1.7rem;
			}
			.full-btn {
				padding: 1rem 1.7rem 2.6rem;
			}
		}

		//주소 풀팝업
		&.layer-address {
			.layer-address-top {
				@include Align-middle-left;
				> button {
					margin-left: .7rem;
					width: 7.5rem;
					height: 4.1rem;
					flex:none;
					font-size: 1.2rem;
				}
			}
			.layer-address-guide {
				position: relative;
				padding-left: 3.8rem;
				margin-top: 1rem;
				&:before {
					display: block;
					content: 'TIP.';
					font-size: 1rem;
					line-height: 1.3;
					@include Bold;
					@include Position($top:0, $left: 1.3rem)
				}
				> p {
					font-size: 1rem;
					line-height: 1.4;
				}
				> span {
					font-size: 1rem;
					color: #999;
					line-height: 1.4;
					display: block;
					a {
						font-size: 1rem;
						color: #999;
						line-height: 1.4;
					}
				}
				
			}
			.layer-address-result {
				margin-top: 2.2rem;
				.address-result-top {
					strong {
						@include Bold;
						b {
							color: #F04040;
						}
					}
				}
				.address-result-list {
					// border: 1px solid #EBEBEB;
					// border-radius: 1rem;
					border-bottom: 1px solid #EBEBEB;
					margin-top: 1rem;
					> ul {
						> li {
							border-top: 1px solid #EBEBEB;
							a {
								display: block;
								font-size: 1.1rem;
								line-height: 1.4;
								padding:1.2rem 1.2rem 1.2rem 4.7rem;
								position: relative;
								.flag-wrap{
									top: 1.3rem;
									left:0;
								}
								.address-result-txt{
									padding-top:.2rem;
									b{
										display:block;
										padding-top:.9rem;
										font-size:1rem;
									}
								}
							}
							.none {
								@include Align-middle;
								height: 11.5rem;
							}
						}
					}
				}
			}
			.layer-address-foot{
				padding: 2.6rem 0;
				.btn-white{
					border-color: #d2d2d2;
					color: #54585a;
					width:50%;
					margin:0 auto;
					border-radius: 1rem;
				}
			}
			.pagination-wrap {
				margin-top:1.3rem;
			}
		}

		//운전면허 정보안내 풀팝업
		&.layer-license {
			.layer-license-top {
				position: relative;
				max-width: 30rem;
				margin: 0 auto;
				i {
					&.red {
						@include Position($top: 1rem, $left: 1rem)
					}
					&.blue {
						@include Position($top: 2.5rem, $left: 9rem)
					}
					&.green {
						@include Position($top: 10rem, $left: 9rem)
					}
					&.mint {
						@include Position($top: 13.5rem, $left: 9rem)
					}
				}
			}
			.layer-license-guide {
				max-width: 30rem;
				margin: 1.7rem auto 0;
				> ul {
					@include Align-box;
					margin: 0 1.3rem;
					> li {
						flex-basis: 33.333%;
						margin-bottom: 1.1rem;
						@include Align-middle-left;
						> span {
							margin-left: .4rem;
						}
					}
				}
			}
		}

		//제휴카드 혜택안내 풀팝업
		&.layer-cards {
			.layer-cards-lists {
				padding-bottom: 4.6rem;
				position: relative;
				.cards-lists {
					padding-bottom: 2.6rem;
					border-bottom: 1px solid #EBEBEB;
				}
				.swiper-slide {
					@include Align-middle-column;
					justify-content: space-between;
					height: 41rem;
					.img {
						width: 18rem;
						height:18rem;
						margin: 0 auto 4rem;
						@include Align-bottom-middle;
						img {
							width: auto;
							max-width: 100%;
							max-height: 100%;
						}
					}
					.text {
						padding: 0 2rem;
						text-align: center;
						> strong {
							display: block;
							font-size:2rem;
							@include Bold;
							line-height: 1.3;
						}
						> span {
							display: block;
							line-height: 1.3;
							font-size: 1.1rem;
							margin-top: 1.3rem;
						}
					}
					.guide {
						padding: 0 2rem;
						margin-top: auto;
						font-size:1rem;
						line-height: 1.3;
						color:#999;
						text-align: center;
						a {
							font-size:1rem;
							line-height: 1.3;
							color:#999;
							text-decoration: underline;
						}
					}

				}
				.swiper-pagination-wrap {
					@include Position($bottom: 1rem, $left: 0);
					width: 100%;
					.swiper-pagination {
						position: static;
						@include Bold;
						font-size:1rem;
					}
				}
				.swiper-button-prev {
					left:-1rem;
					top: 13rem;
				}
				.swiper-button-next {
					right:-1rem;
					top: 13rem;
				}
				
				
			}
		}

		//후기작성및 상세 풀팝업
		&.layer-review-write{
			&-detail{
				.layer-review-write-detail{
					.detail-view-list{
						padding-bottom:2.9rem;
					}
					.swiper-pagination-wrap{
						@include Position($bottom:0, $left:0);
						@include Align-middle;
						width: 100%;
						z-index: 1;
						.swiper-pagination {
							position: static;
							background-color: rgba(255, 255, 255, .7);
							height: 2rem;
							padding: 0 1.4rem;
							border-radius: 1rem;
							@include Align-middle;
							.swiper-pagination-bullet {
								@include Inline-align-middle;
								margin: 0 .4rem;
								width: auto;
								height: auto;
								border-radius: none;
								background-color: transparent;
								border:0;
								opacity: 1;
								//transition: all .4s;
								&:before {
									display: inline-block;
									content: '';
									width: .5rem;
									height: .5rem;
									border-radius: 100%;
									background-color: #ccc;
								}
								&:after {
									display: inline-block;
									content: '';
									width: 0;
									transition: width .6s;
								}
								&.swiper-pagination-bullet-active {
									&:before {
										background-color: transparent;
										border: 0.3rem solid #2B2B2B;
										width: .3rem;
										height: .3rem;
									}
									
									&:after {
										width: 1.3rem;
										height: .3rem;
										background-color: #2B2B2B;
										border-radius: 0 .5rem .5rem 0;
										margin-left: -.1rem;
									}
								}
							}
						}
					}
					.unit-text{
						margin-top:0;
						padding-top:0;
						.text-cont{
							padding:0;
							.text-cont-in{
								.img {
									position: relative; 
									border-radius: 1rem;
									overflow: hidden;
									background-color: #fff;  
								}
								.text {
									white-space: normal;
									margin-top:1.3rem;
									strong {
										display:block;
										line-height: 1.3;
										word-break: keep-all;
										padding-bottom: 1.6rem;
									}
									span {
										display: block;
										@include Bold;
										padding-top: 1.7rem;
										border-top: 1px solid #EBEBEB;
									}
								}
								.thumb { 
									margin-top: .9rem;
									@include Align-between;
									.info{
										color: #999;
										margin-left:1rem;
									}
									.days {color: #999;}
								}
								.star {
									margin-top: .4rem;
									font-size: 0;
									i {
										margin-top: 0;
										margin-left: .4rem;
									}
									i:first-child{
										margin-left:0;
									}
								}
							}
						}
					}
				}
			}
			&-default{
				.unit-text{
					margin-top:0;
					padding-top:0;
					border-radius:0;
					.text-cont{
						padding:0 0 1.7rem;
						.list-cont{
							margin-bottom:1rem;
							strong{
								display: block;
								@include Bold;
								margin-bottom:1rem;
							}
							.unit-normal{
								padding:1.8rem 0;
								@include Align-middle;
								margin-top:0;
								.click-star {
									i{
										width:2.1rem;
										height:2.1rem;
										cursor: pointer;
									}
								}
							}
							.guide{
								font-size: 1rem;
								color: #999;
								line-height: 1.3;
							}
							.review-text-write-wrap{
								margin-top:1rem;
								textarea{
									height: 23.5rem;	
								}
							}
							.img-info{
								position: relative;
								padding:1.5rem 0 0;
								& > ul{
									margin-left:0;
									& > li{
										position: relative;
										margin-bottom:1rem;
										& > span{
											padding-left:.6rem;
											font-size: 1rem;
											color: #999;
											line-height: 1.3;
										}
										& > b{
											@include Bold;
											font-size: 1rem;
											line-height: 1.3;
										}
										&:after{
											display:block;
											content:"";
											@include Background($sprite:'ico-circle', $size:100% auto, $position:center center);
											width: 2px;
											height: 2px;
											@include Position($position:absolute, $top: 50%, $left: 0);
											transform: translateY(-50%);
											border-radius: 50%;
										}
									}
								}
							}
							.inputF{
								.img{
									width:9rem;
									height:9rem;
									position: absolute;
									top:0;
									left:0;
									z-index: 1;
								}
							}
							.chk-agree-cols{
								.chk-agree-top{
									border-top: 1px solid #EBEBEB;
									.chk-agree-txt{
										padding:1.4rem 0;
										@include Align-top-left;
										line-height: 1.3;
										@include Vertical-inline;
										font-size: 1.2rem;
										margin-left: .4rem;
									}
								}
							}
						}
					}
				}
				.layer-review-write-cont-box{
					margin-top:1.7rem;
					& > .inner{
						margin-top:0;
					}
				}
			}
		}

		//게시글작성 풀팝업
		&.layer-write {
			.layer-write-cont {
				textarea {
					height: 23.5rem;
				}
				.vs-item-btns {
					margin-top: 1rem;
				}
				.vs-cont-box {
					margin-top:1rem;
					.inner {
						margin-top:0;
					}
					&:after {
						display:none;
					}
				}
				.vs-item-enrollment{
					h5 {
						font-size:1.2rem;
						@include Bold;
						margin-top:1rem;
					}
				}
			}

		}

		//정보성 공통 풀팝업
		&.layer-infos{
			.full-top{
				// background-color:#2B2B2B;
				// color:#fff;
				// justify-content: left;
				// padding-left:1.7rem;
				border-bottom: .2rem solid #d2d2d2;
				z-index: 3;
				// .layer-full-close{
				// 	color:#fff;
				// }
			}
			.full-cont{
				.layer-infos{
					padding: 1.7rem 0;
					.layer-infos-top{
						strong{
							display:block;
							line-height: 1.3;
							@include Bold;
							margin-bottom: 1.5rem;
							.txt-red{
								color:#F04040;
							}
						}
						b{
							display:block;
							line-height: 1.3;
							font-size:1.4rem;
							@include Bold;
							margin-bottom: 1.5rem;
						}
					}
					.layer-infos-guide{
						margin-bottom: 1.5rem;
						& > ul{
							& > li{
								// text-indent: -.8rem;
								padding-left: 1.4rem;
								margin-top:.6rem;
								line-height: 1.3;
								i{
									margin-right:.6rem;
								}
								strong{
									@include Bold;
								}
								& > ul{
									& > li{
										padding-left: .8rem;
										margin-top:.6rem;
										font-size:1.1rem;
										& > strong{
											font-size:1.1rem;
										}
									}
								}
							}
							& > li:first-child{
								margin-top:0;		
							}
						}
						&-tip{
							& > ul{
								& > li{
									text-indent: -2.4rem;
									padding-left: 2.4rem;
									font-size:1.1rem;
								}
								& > li +  li{
									text-indent:0;
								}
							}
						}
					}
					.layer-infos-txt-box{
						@include Align-between;
						padding: 1.2rem;
						background-color: #F9FAFC;
						border: 1px solid #EBEBEB;
						border-radius: 1rem;
						font-size: 1.1rem;
						margin-bottom: 1.5rem;
						&-noboder{
							border:0 none;
							background-color:#EFF2F7;
							@include Align-middle-column;
							align-items: flex-start;
							& > strong{
								@include Bold;
								display:block;
								margin-bottom: 1.2rem;
							}
							& > ul{
								& > li{
									line-height: 1.4;
								}
							}
						}
					}
				}
				.unit-normal{
					margin-top:0;
					.option-wrap{
						margin-top:0;
					}
				}
				.short-payment{
					.detail-layer-inputT:first-child{
						margin-top: 0;
					}
					.detail-layer-inputT{
						margin-top:.9rem;
						.detail-layer-inputT-number{
							display:flex;
							width:100%;
							margin-left:0;
							li{
								position: relative;
								&:first-child{
									width:68%;
									margin-right:.4rem;
								}
								&:last-child{
									width:30%;
								}
								& > input{
									border:1px solid #EBEBEB;
									border-radius: 1rem;
									background-color: #fff;
									height: 4.1rem;
									width:100%;
									padding:0 1.2rem;
								}
								& > button{
									width:100%;
									height: 4.1rem;
									border-radius: 1rem; 
									background-color:#54585a;
									border-color:#54585a;
									color:#fff;
									font-size:1.2rem;
								}
							}
						}
					}
					.detail-layer-inputT-number02{
						margin-left:0;
						width:100%;
						.inputT{
							width:21.3%;
							margin-left:1.4rem;
						}
						.inputT:first-child{
							margin-left:0;
						}
						.inputT:after{
							display: block;
							content: "";
							border-left: .6rem solid #2B2B2B;
							position: absolute;
							top: 50%;
							left: -1rem;
							height: 0.15rem;
						}
						.inputT:first-child:after{
							display:none;
						}
					}
					.detail-layer-inputT-number03{
						margin-left:0;
						width:100%;
						.inputT{
							width:47%;
							margin-left:1.4rem;
						}
						.inputT:first-child{
							margin-left:0;
						}
					}
					.detail-layer-inputT-tit{
						@include Bold;
						margin-bottom:.9rem;
						@include Align-between;
						& > span{
							font-size:1rem;
							@include Regular;
							b{
								font-size:1rem;
								color:#ff404b;
							}
						}
					}
					.detail-layer-chk-box{
						.chk-agree-tit{
							margin: 1.7rem 0;
							background-color: #EFF2F7;
							padding: 1.5rem 1.3rem;
							border-radius: 1rem;
							strong {
								font-size: 1.4rem;
								@include Bold;
							}
						}
						.chk-agree-list{
							margin-top:0;
							padding: 0 1.3rem;
							.chk-agree-cols{
								& > li{
									border-bottom:0;
								}
								& > li + li{
									.chk-agree-top{
										align-items: flex-start;
									}
									.inputC{
										label{
											padding-top:0;
										}
									}
								}
								.inputC02{
									label {
										line-height: 1;
										&:before{
											@include Background($sprite:'ico-chk-off04', $type:'png', $size:92% auto, $position:center center);
											width: 1.2rem;
											height: .9rem;
										}
										span{
											font-size:1.1rem;
											color:#999;
											@include Regular;
										}
									}
									input:checked + label {
										&:before{
											@include Background($sprite:'ico-chk-on04', $type:'png', $size:92% auto, $position:center center);
										}
										span{
											color:#2f2f2f;
										}
									}
								}
							}
						}
					}
					.payment-guide{
						font-size: 1.1rem;
						line-height: 1.3;
						margin-top: 1.2rem;
						text-indent: -.8rem;
						padding-left:1rem;
						& > li{
							margin-top:.4rem;
							color:#8f9191;
							@include Regular;
							& > i{
								margin-right: .6rem;
								margin-top: -.2rem;
							}
							&.red_txt{
								color:#ed1c24;
							}
							& > button{
								@include Inline-align-middle;
								margin-left:.6rem;
								font-size:1rem;
								border-radius: .4rem;
								height:1.7rem;
								padding:0 .6rem;
								border-color: #d2d2d2;
							}
						}
						& > li:first-child{
							margin-top:0;
						}
					}
				}

			}
			&.type-fuel{
				.list-type-col2{
					margin-left:0;
					width:100%;
					& > li{
						width:75%;
						margin-top:0;
						& > .icon_info_box_fuel{
							@include Align-middle;
							box-sizing: border-box;
							border: .15rem solid #EBEBEB;
							border-radius: 1rem;
							position: relative;
							padding: 1.1rem 1.5rem;
							width:4.7rem;
							margin-top:.4rem;
							& > .fuelD{
								width:1.6rem;
							}
						}
					}
					& > li:first-child{
						width:25%;
					}
				}
			}
			//달력 풀팝업
			&.layer-schedule {
				.full-cont{
					padding:0;
					.layer-infos{
						padding:0;
					}
				}
				.schedule-wrap{
					.schedule-opt{
						@include Align-between-top;
						padding: 3.4rem 1.7rem 2.2rem;
						margin:0;
						background-color: #fafafa;
						ul{
							justify-content: space-between;
						}
						ul > li{
							@include Align-middle-column;
							align-items: flex-start;
							position: relative;
							width:auto;
						}
						ul > li:after{
							display:block;
							content:"";
							@include Background($sprite:'ico-next08', $type:'png', $size:100% auto, $position:center center);
							width: 1.6rem;
							height: .7rem;
							@include Position($top: 50%, $right: -50%);
							transform: translateY(-100%);
						}
						ul > li:last-child:after{
							display:none;
						}
						strong{
							font-size:1.4rem;
							@include Bold;
						}
						b{
							font-size:1.4rem;
							@include Regular;
							margin-top:.9rem;
						}
						.detail-layer-selectbox{
							margin-top:1.3rem;
						}
						.selectbox{
							padding-right:3.4rem;
							height:3rem;
						}
					}
					.calendar-wrap{
						overflow-y: auto;
						height:34.2rem;
						padding:1.6rem 0;
						margin:0 1.7rem;
						.calendar-tit{
							font-size:1.4rem;
							@include Bold;
							padding:.6rem 0;
							text-align:center;
						}
						.table{
							border:none;
							thead{
								th{
									margin:.9rem 0;
									padding:.7rem;
									text-align: center;
									@include Bold;
									font-size:1.1rem;
									border:0 none;
								}
							}
							tbody{
								td{
									padding:.9rem 0;
									text-align: center;
									border:0 none;
									.btn{
										padding:0;
										height:2rem;
										color:#54585a;
										@include Regular;
										font-size:1rem;
									}
									&.today{
										.btn{
											width:40%;
											border-bottom: 1px solid #a02a3d;
											padding-bottom:.2rem;
											@include Bold;
											color:#a02a3d;
										}
									}
									&.start{
										.btn{
											width:100%;
											background: rgb(254,43,123);
											background: linear-gradient(90deg, rgba(254,43,123,1) 0%, rgba(255,77,52,1) 100%);
											border-radius: 1.7rem 0 0 1.7rem;
											@include Bold;
											color:#fff;   
										}
									}
									&.during{
										.btn{
											width:100%;
											background: rgb(254,43,123);
											@include Bold;
											color:#fff;   
										}
									}
									&.end{
										.btn{
											width:100%;
											background: rgb(254,43,123);
											background: linear-gradient(90deg, rgba(254,43,123,1) 0%, rgba(255,77,52,1) 100%);
											border-radius: 0 1.7rem 1.7rem 0;
											@include Bold;
											color:#fff;   
										}
									}
								}
							}
						}
					}
				}
			}
			.btn-group{
				.btn{
					margin:0;
				}
			}
		}

		//상세검색 팝업
		&.layer-list-search {
			.full-cont {
				padding:0;
				.layer-infos{
					padding: 0 !important;
					.layer-search-item{
						padding:3.4rem 0;
						border-bottom:.6rem solid #f5f5f5;
						&:last-child {
							border-bottom: 0;
						}
						h5 {
							font-size: 1.4rem;
							padding-bottom:1.3rem;
							@include Bold;
						}
						.section-filter {
							padding:0 1.7rem;
						}
						.section-filter-list{
							.result {
								.filter-col {
									padding:0 0 2rem 0;
									.chk-list {
										margin-top:0;
										li {
											label {
												height:8.6rem;
												border-radius: .4rem;
												color:#54585a;
												@include Align-middle-column;
												background-color: #fff;
												font-size:1rem;
												@include Regular;
												span{
													margin:1.7rem 0 0 0;
												}
											}
											input:checked + label {
												background-color:rgb(255,249,249);
												background: linear-gradient(90deg, rgba(255,249,249,1) 0%, rgba(255,249,249,1) 100%);
												color:#ff404b;
												border:1px solid #ff404b;
												.brand01{
													@include Background($sprite:'ico-brand01-on', $size:100% auto, $position:center center);
												}
												.brand02{
													@include Background($sprite:'ico-brand02-on', $size:100% auto, $position:center center);
												}
												.brand03{
													@include Background($sprite:'ico-brand03-on', $size:100% auto, $position:center center);
												}
												.brand04{
													@include Background($sprite:'ico-brand04-on', $size:100% auto, $position:center center);
												}
												.brand05{
													@include Background($sprite:'ico-brand05-on', $size:100% auto, $position:center center);
												}
												.brand06{
													@include Background($sprite:'ico-brand06-on', $size:100% auto, $position:center center);
												}
											}
											input:checked + label:after{
												display:none;
											}
										}
									}
								}
							}
							.result-type {
								.filter-col {
									padding:0;
									.chk-list {
										li {
											label {
												height:3.9rem;
												font-size:1.1rem;
											}
										}
									}
								}
							}
							.detail-iconBox{
								margin-left: -.6rem;
								label {
									border:0 none;
									border-radius: 0;
									@include Regular;
									&:after {
										width: 1.7rem;
										height: 1.7rem;
										margin-top: -.85rem;
										left:.5rem;
									}
								}
								input:checked + label {
									@include Regular;
								}
								input[type='checkbox'] + label:after{
									@include Background($sprite:'ico-chk-off03', $type:'png', $size:92% auto, $position:center center);
								}
								input[type='checkbox']:checked + label:after{
									@include Background($sprite:'ico-chk-on05', $type:'png', $size:92% auto, $position:center center);
								}
							}
						}
						&.search-item-step1{
							.result {
								.filter-col {
									padding-bottom:2.6rem;
									.chk-list {
										ul {
											@include Inline-scrolling;
											padding-bottom:.5rem;
											li {
												display: inline-flex;
												width:6rem;
												margin-left:1rem;
												> div { 
													width:100%;
												}
												&:first-child {
													margin-left:0;
												}
												label {
													@include Align-middle-column;
													padding:0;
													height:8.6rem;
													border-radius: .4rem;
													color:#54585a;
													background-color: #fff;
													font-size:1rem;
													@include Regular;
													border:1px solid #d2d2d2;
													span{
														margin:1.7rem 0 0 0;
													}
													i {
														min-height:2.6rem;
													}
												}
												input:checked + label {
													background-color:rgb(255,249,249);
													background: linear-gradient(90deg, rgba(255,249,249,1) 0%, rgba(255,249,249,1) 100%);
													color:#ff404b;
													border:1px solid #ff404b;
													.brand01{
														@include Background($sprite:'ico-brand01-on', $size:100% auto, $position:center center);
													}
													.brand02{
														@include Background($sprite:'ico-brand02-on', $size:100% auto, $position:center center);
													}
													.brand03{
														@include Background($sprite:'ico-brand03-on', $size:100% auto, $position:center center);
													}
													.brand04{
														@include Background($sprite:'ico-brand04-on', $size:100% auto, $position:center center);
													}
													.brand05{
														@include Background($sprite:'ico-brand05-on', $size:100% auto, $position:center center);
													}
													.brand06{
														@include Background($sprite:'ico-brand06-on', $size:100% auto, $position:center center);
													}
												}
											}
										}
									}
								}
							}
							.selection {
								@include Align-between;
								padding:0;
								.selectbox {
									width:60%;
									border-right:0;
									border-radius: .5rem 0 0 .5rem;
								}
								.detail-iconBox{
									width:40%;
									height:4.1rem;
									border:1px solid #d2d2d2;
									box-sizing: border-box;
									border-left:0;
									border-radius:0 .5rem .5rem 0;
									position: relative;
									@include Align-middle;
									label {
										border:0 none;
										border-radius: 0;
										font-size:1.1rem;
										color:#8f9191;
										@include Regular;
										&::before {
											content:'';
											display: inline-block;
											width: 1.2rem;
											height: .9rem;
											vertical-align: middle;
											margin-right:.4rem;
										}
									}
									input {
										&::before {
											content:'';
											height:2rem;
											display: inline-block;
											border-left:1px solid #d2d2d2;
											@include Position($top: 25%, $left: 0);
										}
									}
									input:checked + label {
										@include Regular;
									}
									input[type='checkbox'] + label:before{
										@include Background($sprite:'ico-chk-off04', $type:'png', $size:92% auto, $position:center center);
									}
									input[type='checkbox']:checked + label:before{
										@include Background($sprite:'ico-chk-on04', $type:'png', $size:92% auto, $position:center center);
									}
								}
							}
						}
						&.search-item-step2{
							.result-type {
								.filter-col {
									.chk-list {
										li:last-child {
											label {
												padding:0;
											}
										}
									}
								}
							}
						}
						&.search-item-step3{
							.list-type-col2{
								margin-top:.4rem;
							}
						}
						&.search-item-step4{
							
						}
						&.search-item-step5{
							
						}
						&.search-item-step6{
							.filter-col {
								.slider_price_box{
									li{
										input{
											width:2.8rem;
										}
									}
								}
							}
						}
						&.search-item-step7{
							.filter-col {
								.slider_price_box{
									li{
										input{
											width:4rem;
										}
									}
								}
							}
						}
						&.search-item-step8{
							.detail-layer-inputT{
								margin-top:1.2rem;
							}
						}
						.filter-col {
							position: relative;
							padding-top: 2rem;
							.slider_price_box{
								@include Position($top: 2rem, $right: 1.7rem);
								@include Align-middle-left;
								li{
									@include Align-middle-left;
									input{
										font-size:1.1rem;
										color:#ed1c24;
										@include Regular;
										width:1.3rem;
									}
									span {
										font-size:1.1rem;
										color:#ed1c24;
										@include Regular;
										vertical-align: middle;
									}
									em{
										padding:0 .5rem;
									}
								}
							}
							.price-all {
								border-bottom:1px solid #2B2B2B;
								@include Position($top: 2rem, $right: 0);
							}
							.chk-list {
								margin-top: .4rem;
								li {
									input {
										display: none;
									}
									label {
										position: relative;
										height: 4.1rem;
										display: block;
										@include Align-middle;
										box-sizing: border-box;
										font-size: 1.2rem;
										border-radius: 1rem;
										border: .15rem solid #EBEBEB;
										padding: 0 1.2rem;
										transition: all .4s;
									}
									input:checked + label {
										border-color: #2B2B2B;
										@include Bold;
										&:after {
											display: block;
											content: '';
											@include Position( $top: .7rem, $right: .7rem);
											z-index: 1;
											width: .5rem;
											height: .5rem;
											margin-left: -.2rem;
											border-radius: 100%;
											background-color: #F04040;
										}
									}
								}
							}
							.price_box_case {
								position: relative;
								top:.4rem;
								&:before {
									display: block;
									content: '';
									width: 100%;
									width: calc(100% - 1.3rem);;
									height: .2rem;
									background-color: #EBEBEB;
									border-radius: .5rem;
									margin: 1.7rem 0;
								}
								.price-box {
									@include Position($top: 0, $right: 0);
									width: 100%;
									.ui-widget.ui-widget-content {
										background-color: #EBEBEB;
										border:0;
										height: .2rem;
										margin: 0 .8rem 0 .8rem;
									}
									.ui-slider .ui-slider-range {
										background-color: #f04040;
										height: .2rem;
									}
									.ui-slider-horizontal .ui-slider-handle {
										width: 2.2rem;
										height: 2.2rem;
										background-color: #fff;
										border-radius: 100%;
										border:1px solid #353535;
										top: -1.1rem;
										box-shadow: 0 1px 5px rgba(96,97,112,0.3);
									}
								}
								.price-txt {
									@include Align-between;
									span {
										position: relative;
										&:first-child {
											margin-right: 1rem;
										}
										&:after {
											display: block;
											content: '';
											@include Position($top:-2.05rem, $left:50%);
											background-color: #fff;
											width: .2rem;
											height: .2rem;
											border-radius: 100%;
											margin-left: -.1rem;
										}
										&.active {
											@include Bold;
										}
									}
								}
							}
			
						}
						.slide-btn {
							padding: 2.6rem 1.7rem;
						}
					}
				}
			}
		}

		//승계렌터카등록 - 차량상세 팝업
		&.layer-car-detail {
			.full-top {
				button {
					left:1.7rem;
				}
			}
			.full-cont {
				padding:0;
				.detail-layer-items {
					border-top: 1px solid #f1f1f1;
					h5 {
						padding: 2.3rem 1.7rem;
						margin: 0;
						font-size: 1.4rem;
						border-bottom: 1px solid #f1f1f1;
						position: relative;
						@include Bold;
						button {
							@include Position($top: 50%, $right: 1.7rem);
							transform: translateY(-50%);
						}
					}
					.item-cont {
						border-bottom: 1px solid #f1f1f1;
						.detail-cont {
							padding:1.3rem 1.7rem;
							> div { 
								@include Align-middle-left;
								padding:1.3rem 0;
								strong {
									@include Bold;
									width:40%;
								}
							}
						}
					}
				}
				
			}

		}

		//승계렌터카등록 - 사진추가 팝업
		&.layer-photo-info {
			.full-top {
				button {
					left:1.7rem;
				}
			}
			.full-cont {
				padding-top:2.6rem;
				.cont-in {
                    p {
                        text-indent: -.6rem;
                        padding-left: 1rem;
                        font-size: 1.1rem;
						color:#8f9191;
						.icon.pannel09 { 
							width:2.1rem;
							height:1.9rem;
							margin-right:1rem;
						}
					}
					.file-box {
						margin-top:1rem;
						&.hidden-filebox-toggle {
							display: none;
							margin-top:0;
						}
						li {
							.inner {
								@include Align-middle-column;
								position: relative;
								.inputF {
									border:0;
									border-radius: 0;
									&.active {
										
										&.active01 {
											@include Background($sprite:'car-front', $size:100% 100%, $position:center center, $path:'bgs');
										}
										&.active02 {
											@include Background($sprite:'car-back', $size:100% 100%, $position:center center, $path:'bgs');
										}
										&.active03 {
											@include Background($sprite:'car-inside', $size:100% 100%, $position:center center, $path:'bgs');
										}
										&.active04 {
											@include Background($sprite:'car-right', $size:100% 100%, $position:center center, $path:'bgs');
										}
										.btn-close {
											@include Position($top: .4rem, $right: .4rem);
											padding:0;
											height: auto;
											z-index: 2;
											i {
												display: block;
											}
										}
										label {
											i {
												display: none;
											}
											span {
												display: block;
												margin-top:0;
												padding:.4rem 0;
												width:100%;
												color:#fff;
												background-color: rgba(0,0,0,.6);
												text-align:center;
												font-size:.8rem;
												@include Bold;
												@include Position($bottom: 0, $left: 0);
											}
										}
									}
								}
							}
						}
					}
                    
                    .guide {
                            li {
                            text-indent: -.6rem;
                            padding-left: 1rem;
                            font-size: 1.1rem;
                            color:#8f9191;
                            & + li {
                                padding-top:1rem;
                            }
                            &::before {
                                content:'';
                                display: inline-block;
                                width:.2rem;
                                height:.2rem;
                                background-color: #000;
                                vertical-align: middle;
                                margin-right:.4rem;
                                border-radius:100%;
                            }
                        }
                    }
                    .btn-addphoto {
                        padding:2.3rem 0;
                        .add-photo {
                            width: 100%;
                            background-color: #54585a;
                            color:#fff;
                            border-radius: .5rem;
                            font-size:1.6rem;
							@include Bold;
                        }
                    }
                }
			}

		}
		//중고차상세 - 정비이력 팝업
		&.layer-car-repair {
			.full-top {
				button {
					left:1.7rem;
				}
			}
			.full-cont {
				padding:0;
				.detail-layer-items {
					.item-cont {
						.detail-cont {
							padding:1.3rem 1.7rem;
							.table{
                                table{
                                    border-right:1px solid #e7e7e7;
                                    border-bottom:1px solid #e7e7e7;
                                    tr:first-child{
                                        th{
                                            background-color: #fafafa;
                                        }
                                    }
                                    th{
                                        text-align: center;
                                        border-left:1px solid #e7e7e7;
                                        padding: 1.4rem 1.3rem;
                                        font-size:1.1rem;
										@include Regular;
										line-height:1.4;
                                    }
                                    td{
                                        border-left:1px solid #e7e7e7;
                                        padding: 1.4rem 1.3rem;
                                        font-size:1.1rem;
										@include Regular;
										line-height:1.4;
                                    }
								}
								&.table-default{
									table{
										td{
											text-align: center;
											padding:5.6rem 0;
										}
									}
								}
							}
							.guide {
								font-size: 1.1rem;
								line-height: 1.3;
								margin-bottom: 1.2rem;
								text-indent: -.8rem;
								padding-left:1rem;
								& > li{
									margin-top:.4rem;
									color:#54585a;
									@include Regular;
									& > i{
										margin-right: .6rem;
									}
									&.red_txt{
										color:#ed1c24;
									}
									&.gray_txt{
										color:#8f9191;
										font-size:1rem;
									}
								}
								& > li:first-child{
									margin-top:0;
								}
							}
						}
					}
				}
			}
		}
		//중고차상세 - 차량 성능검사 팝업
		&.layer-car-check {
			.full-top {
				button {
					left:1.7rem;
				}
			}
			.full-cont {
				padding:3.4rem 1.7rem;
				.detail-layer-items {
					.item-cont {
						.galleryThumbs-list{
							li{
								margin:.9rem 0;
							}
						}
					}
				}
			}
		}
		//중고차상세 - 차량사진 팝업
		&.layer-car-images {
			.full-top {
				button {
					left:1.7rem;
				}
			}
			.full-cont {
				padding:0;
				.detail-layer-items {
					.item-cont {
						.galleryThumbs-list{
							li{
								margin:.9rem 0;
							}
							li:first-child{
								margin-top:0;
							}
							li:last-child{
								margin-bottom:0;
							}
						}
					}
				}
			}
		}
	}

	//팝업 형태
	&-popup {
		position: fixed;
		width:100%;
		max-width:30rem;
		display: none;
		&.active {
			display: block !important;
			opacity: 1 !important;
		}
		.pop-top {
			background-color: #fff;
			@include Align-between;
			height: 5.5rem;
			padding:0 2.1rem;
			border-radius:1rem 1rem 0 0;
			h4 {
				font-size: 1.4rem;
				color:#000;
				@include Bold;
			}
			.layer-pop-close {
				margin-top: -1.3rem;
			}
		}
		.pop-inner {
			overflow: hidden;
			border-radius:0.625rem;
			background-color:#f4f4f4;
			margin:0.9375rem;
			position: relative;
		}
		.pop-cont {
			padding:4.0625rem 1.25rem 2.5rem;
			position: relative;
			box-sizing:border-box;
		}

		//대여 차량 상세 팝업
		&.type-detail-info {
			.pop-top {
				@include Background($sprite:'pop-top-bg-rectangle', $size:100%, $position:center center, $path:'bgs');
				@include Align-between;
				height: 5.5rem;
				padding:0 2.1rem;
				border-radius:1rem 1rem 0 0;
				h4 {
					font-size: 1.6rem;
					color:#fff;
					@include Bold;
				}
				.layer-pop-close {
					margin-top: 0;
				}
			}
			.pop-inner {
				overflow: hidden;
				background-color:#fff;
				position: relative;
				margin:0;
				border-radius:0 0 1rem 1rem;
			}
			.pop-cont {
				padding:3.4rem 2.1rem 2.6rem;
				.detail-layout {
					position: relative;
					.detail-view-img{
						margin:0 auto;
						width: 21rem;
						img{
							width: 100%;
						}
					}
					.detail-view-top {
						background-color: #fff;
						padding:2.6rem 0 1.7rem;
						.normal{
							color:#2B2B2B;
							& > strong{
								font-size:1.8rem;
								@include Bold;
							}
						}
					}
					.detail-layer-cont-terms{
						background-color: #fff;
						padding-bottom:2.1rem;
						& > .table{
							border-top:1px solid #EBEBEB;
							border-bottom:1px solid #EBEBEB;
							padding-bottom:1.7rem;
							& > table tr th{
								border-top:0;
								@include Bold;
								@include Align-middle-left;
								color:#2f2f2f;
								padding:1.7rem 0 0;
								& > i {
									margin-right:.4rem;
								}
							}
							& > table tr td{
								border-top:0;
								text-align: right;
								padding-right:0;
								padding:1.7rem 0 0;
								& > b{
									@include Normal;
									color:#54585a;
									vertical-align: top;
								}
							}
						}
					}
					.detail-layer-submit {
						button {
							margin:0 auto;
							width:8rem;
							height:3.9rem;
							color:#54585a;
							border-color: #d2d2d2;
							border-radius: 1rem;
						}
					}
				}
			}
		}
	}
}