.header{

	.header-top {
		.inner{
			@include Align-middle-right;
			align-items: flex-end;
			height: 63px;
			.extra-menu {
				@include Align-middle-right;
				> li{
					@include Align-middle-right;
					margin: 0 10px;
					> strong {
						font-size: 13px;
						color: #999;
						@include Bold;
					}
					> a{
						font-size: 13px;
						color: #999;
					}
				}
			}
		}
	}

	.header-nav {
		border-bottom: 1px solid #EBEBEB; 
		.inner{
			height: 84px;
			@include Align-between;
			.nav-wrap{
				@include Align-middle-left;
				h1 {
					@include Align-middle-left;
				}
				> ul {
					@include Align-middle-left;
					> li {
						margin-left:60px;
						> a{
							@include Bold;
							font-size: 16px;
						}
						> a:hover,
						> a:focus{
							@include Bold;
							color:#2f2f2f;
							border-bottom:2px solid #2f2f2f;
						}
					}
					> li:first-child{
						margin-left:160px;
					}
				}
			}
			.nav-menu{
				@include Align-middle-right;
				> ul{
					@include Align-middle-right;
				}
				.btn{
					&.draw-btn{
						position: relative;
					}
				}
			}
		}
		.draw-toggle-cont {
			display: none;
			@include Position($top:148px, $left:0);
			width:100%;
			padding-bottom:90px;
			background-color: #fff;
			box-shadow: 0 20px 40px -40px #54585a;
			.detail-layer-in {
				@include Align-between-top;
				min-width: 1280px;
				max-width:1420px;
				width: 1420px;
				margin: 0 auto;
				position: relative;
				padding:50px 0 80px 0;
				.layer-gnb-info{
					@include Align-top-left-column;
					.layer-gnb-info-top{
						width:300px;
						p{
							font-size:36px;
							@include Bold;
							display:inline-block;
							position: relative;
							span{
								position: relative;
								z-index: 10;
							}
							b{
								font-size:36px;
								color:#8f9191;
								@include Normal;
							}
						}
						p:after{
							display:block;
							content:"";
							width:100%;
							height:11px;
							background-color:#e5e5e5;
							@include Position($bottom:3px, $left:0);
							z-index: 1;
						}
						p + p:after{
							display:none;
						}
					}
					.layer-gnb-link{
						width:300px;
						& > li{
							margin-top:20px;
						}
						& > li:first-child{
							margin-top:60px;
						}
						.btn{
							width:80%;
							@include Bold;
							font-size:18px;
							padding:0;
							height:26px;
							@include Align-middle-left;
							.flag{
								margin-right:10px;
							}
							.link-btn-align-left{
								width:113px;
								@include Align-middle-left;
							}
							.link-btn-align-right{
								width:90px;
								@include Align-between;
							}
						}
					}
				}
				.layer-gnb{
					padding:0 0 0 50px;
					@include Align-top-left;
					width:100%;
					> li{
						p{
							@include Bold;
							font-size:18px;
							margin-top:20px;
						}
						.layer-gnb-list{
							@include Align-top;
							justify-content: flex-start;
							ul > li{
								font-size:16px;
								color:#54585a;
								margin-top:16px;
							}
							ul > li:first-child{
								margin-top:26px;
							}
						}
					}
				}
			}
			.detail-layer-in:after{
				display:block;
				content:"";
				height:500px;
				width:1px;
				background-color:#e7e7e7;
				@include Position($top:50px, $left:20%);
			}
			.layer-gnb-bn{
				width: 1420px;
				margin: 0 auto;
				position: relative;
				@include Align-middle-right;
				.view-slide {
					margin-right:195px;
					.specials-view-list {
						width:880px;
						height:110px;
						.slick-slide {
							display: inline-block;
							width:880px;
							height:110px;
							vertical-align: top;
							text-align: left;
							a{
								display: block;
								position: relative;
								.img {
									width:100%;
									height:110px;
									img{
										display:block;
									}
								}
							}
						}
						.slick-dots {
							background-color: rgba(255, 255, 255, 0);
							width:auto;
							height:auto;
							@include Position($bottom:20px, $right:20px);
						}
					}
				}
			}
		}
	}
	
}