//제휴사
.cooperation-container {
    .cooperation-wrap {
        width: 100%;
        .cooper-wrap {
            width: 1040px; 
            margin: 0 auto; 
            padding-top: 40px;
            .choice-list {
                padding-bottom: 60px;
            }
            .car-select {
                &.radio-check {
                    .choice-list {
                        li:last-child {
                            width: 33.3%;
                        }
                    }
                }
            }

            .car-select-slide-wrap{
                width: 1040px; 
                margin: 0 auto; 
                overflow: hidden;
                .car-select-slide-cont{
                    width: 100%; 
                    margin: 0 auto; 
                    padding-top: 40px;
                }
            }

            .section-form {
                .form-cont{
                    padding: 0;
                }
            }
        }
        //제휴사 메인
        &.coop-main-wrap {
            .main-tit{
                font-size: 36px; 
                padding-bottom: 30px; 
                border-bottom: 1px solid #e7e7e7;
            }
            .input-cont{
                padding: 50px 160px;
                .coop-btn{
                    width: 80px;
                    margin-left: 10px;
                }
                
            }
            .sub-tit{
                padding-bottom: 50px;
            }
        }
    }
    
    .round-banner{
        @include roundBanner;
    }
    .round-banner{
        @include Background($sprite: 'bg-cooperReserv', $path:'');
    }
    .tab-nav{
        padding-bottom: 50px;
    }

}
