//제휴사
.cooperation-container {
    .cooperation-wrap {
        width: 100%;
        .cooper-wrap {
            width: 1040px; 
            margin: 0 auto; 
            padding-top: 40px;
            .choice-list {
                padding-bottom: 60px;
                li:last-child{
                    width: 33.3%;
                }
            }
        }
    }
}
