//공지사항
.customer-container{
    padding-bottom:100px; 
    
    .search-wrap{
        width:680px;
        margin:0 auto 40px;
        @include Align-between-top;

        .selectbox{width:150px;}        
        .srch-input-box{
            flex: none;
            width: 435px;
            margin:0 5px 0 10px;
        }
        select, input, button{height:50px; border-radius:6px}
        .btn{
            flex:none;
            width:80px; 
            background-color:#54585a;
        }
    }        
    .notice-wrap{
        margin-bottom:60px;

        .flag{
            width:54px;
            height:30px;
            @include Inline-align-middle;
            @include Bold;
            color:#54585a;
            border:1px solid #54585a;
            border-radius:15px;
            margin-right:40px;
        }
    }
    .pagination-wrap{
        padding:60px;

        .btn-paging-prev, .btn-paging-next{
            width:40px;
            height:40px;
            border-radius: 40px;
        }
        .pagination-list{
            width:62px;
            @include Align-middle;
        }
        strong{@include Bold;}
    }

    //공지사항 상세
    .ntc-view-header{
        .top-row, .bot-row{
            @include Align-between-base;
            @include Regular;
            font-size:22px;
        }    
        .bot-row{
            border-bottom:1px solid #e7e7e7; 
            padding:20px 0 40px;
        }
        .flag{
            @include Align-middle;
            height:30px;
            font-size:14px;
            color:#54585b;
            padding:0 15px;
            border:1px solid #54585b;
            border-radius: 15px; 
            box-sizing:border-box;

            &-red{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#ed1c24; 
                padding:0 15px;
                border:1px solid #ed1c24;
                border-radius: 15px; 
                box-sizing:border-box;
            }
            &-blue{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#5179f5; 
                padding:0 15px;
                border:1px solid #5179f5;
                border-radius: 15px; 
                box-sizing:border-box;
            }
            &-purple{
                @include Align-middle;
                height:30px;
                font-size:14px;
                color:#7a5bfe;
                padding:0 15px;
                border:1px solid #7a5bfe;
                border-radius: 15px; 
                box-sizing:border-box;
            }
        }
        .btn-share{
            height:30px;
            margin-left:auto; 
            margin-right:0;
        }
        .ntc-date{
            font-size:14px;
            color:#57585a;
        }
    }
    .ntc-view-body{
        padding:80px 100px;

        .img-box{text-align:center;}
        img{max-width:100%; height:auto;}
    }
    .ntc-view-footer{
        .ntc-list{
            padding:15px 50px;   
            border-radius: 6px;
            background-color:#fafafa;

            li{
                a{
                    height:45px;
                    @include Align-middle-left;

                    strong{
                        @include Align-box;
                        @include Bold;
                        margin-right:20px;
                        
                        &:after{
                            content:"";
                            display:inline-block;
                            width:1px;
                            height:14px;
                            margin-left:20px;
                            background-color:#e7e7e7;
                        }
                    }
                    .ntc-date{margin-left:auto; color:#8f9191;}
                }
            }
        }
        .btn-box{
            padding:50px;
            text-align:center;
            
            .btn{
                max-width:120px;
                margin:0 auto;
                color:#54585a;
                @include Bold;
                border-radius: 6px;
            }
        }
    }
}