.longTerm-container{
    padding-bottom:100px;     

    .detail-layer-nav-wrap{
        height:176px;
        margin-bottom:80px;
    
        &.fixed{             
            .detail-layer-nav{
                position: fixed;
                top: 0;
                z-index:10;
                background-color:#fff;
    
            }
        }  
    }
    .section-indicator {  
        .detail-layer-nav{
            position:relative;
            @include innerType2Width;
            @include Align-between-top;
            border-top:1px solid #eee;
            border-bottom: 1px solid #eee;
            box-sizing: border-box;            
    
            button{
                height:176px;
                padding: 40px;
                font-size:14px;
    
                .icon{height:48px; margin-bottom:30px;}
        
                &.active{
                    position:relative;
                    @include Bold;
                    
                    &:after{
                        content:"";
                        @include Position($left:0, $bottom:-1px);
                        display:block;
                        width:100%;
                        height:4px;
                        background-color:#ff404b;
                        z-index: 5;
                    }
                }
            }
               
        }
    }   

    .section-content{

        .tab-cont-inner{
            padding:30px 0;

            .big-tit{
                @include Bold;
                font-size:32px;
                margin:30px 0;
            }
            .img-box{
                padding:40px 0;
                text-align:center;
            }
            .view-box{
                padding-bottom:60px;
                border-bottom:1px solid $border-grey;
            }
            .grid-col-inline{
                padding:120px 0;
                
                .col{ margin-right:60px;}
                .img-box{text-align:left; padding:0 0 60px;}
                .txt{
                   font-size:14px;        
                   margin-bottom:30px;  
                }
                .btn-box{
                   @include Align-top-left-column;
                   .btn{
                       @include Bold;
                       font-size:24px;
                       padding:0;
                       margin:0 0 20px;
                       height:auto;

                       .icon{margin:0 8px;}
                    }
                    .btn-round{
                        overflow:hidden;
                        width:200px;
                        height:60px;
                        font-size:18px;
                        border:1px solid #2d2d2d;
                        border-radius:30px;
                        box-sizing:border-box;
                    }
                }
            }

            .indicator-area{
                padding-bottom:80px;
                
                .menu-list{
                    @include Align-between;

                    li{               
                        button{
                            @include Align-top-column;
                            border:none;
                            height:auto;
                            font-size:1rem;
                            color:#54585b;

                            .tit{border-bottom:1px solid transparent;}
                        }
                        .icon{
                            display:block;
                            width: 175px;
                            height: 120px;
                            background:green;
                            margin-bottom:34px;
                        }

                        &.active{
                            button{
                                @include Bold;
                                color:#2f2f2f;
                                .tit{border-color:#2f2f2f;}
                            }
                        }
                    }
                }
            }
            .tit-size-mid{
                @include Bold;
                font-size:22px;
                margin-bottom:30px;
            }
            .txt{
                 margin-bottom:30px;

                strong{@include Bold;}
            }
            .grid-col{
                .col{margin-bottom:60px;}
            }
            .grid-col-inline2{
                @include Inline-align-top-left;

                .col{ margin:0 20px; text-align:left;}
                .img-box{padding:0 0 40px; text-align:left;}

            }
            .cont-area{
                text-align:center;

                .img-box{padding-top:0;}
                .lst{
                    display:inline-block;
                    text-align:left;
                }
                .inline-block{
                    .lst{display:block;}
                }
            }
            .tab-cont2{
                .tab-cont-inner{padding:0 40px;}
            }
            
        }

    }
    .benefit-section{
        .lst{            
            > li{
                margin-bottom:24px;

                > ul{margin-top:20px;}

                li{
                    margin-bottom:10px;
                }
            }
            
            li{
                &:last-of-type{margin-bottom:0;}
            }

            + ul{margin-top:30px;}
        }
    }

    .explain-cont{
        .row{
            padding:30px 0;

        }
        .tit-size-mid{
            @include Bold;
            font-size:22px;
            margin-bottom:30px;
        }
        .txt{
             margin-bottom:30px;

            strong{@include Bold;}
        }
        .descri-box{
            margin:60px 0 0;
            > dt{
                @include Bold;
                font-size:18px;
                margin-bottom:25px;
            }
            > dd{
                margin-bottom:60px;
            }
        }
    }
    .tbl-box{
        margin-bottom:20px;
    
        .tit{
            @include Bold; 
            font-size:18px; 
            margin-bottom:30px;
        }
        table{
            width:100%;
            border-top:1px solid #e7e7e7;
            
            th, td{
                padding:30px; 
                text-align:center; 
                border-bottom:1px solid #e7e7e7; 
                border-right:1px solid #e7e7e7;
                color:#54585a; 
                vertical-align: middle;
            }
            thead th, td{
                &:last-of-type{border-right:none;}
            }
            th{background-color:#fafafa;}
            .align-l{text-align:left;}
    
        }
    
        ~ .tbl-box{margin-top:60px;}
    }
}