.main-wrap {
    //@include Background($sprite:'error', $type:'png');
    * {
        box-sizing: border-box;
    }
    .inner-type3 {
        padding: 0 90px;
    }
    // 메인 공통
    .h-type {
        p {
            font-size: 36px;
            color: #8f9191;
            &.small {
                font-size: 18px;
            }
        }
        h2 {
            @include Bold;
            font-size: 46px;
            color: #2f2f2f;
        }
    }
    .btn-goLink {
        font-size: 18px;
        color: #2f2f2f;
        &:after {
            display: inline-block;
            content: "";
            width: 10px;
            height: 14px;
            background: url(../../resources-pc/images/icons/ico-main-arrow4.png) 0 0 no-repeat;
            background-size: 100% auto;
            margin-left: 5px;
        }
    }
    .t-red {
        margin-top: 10px;
        color: #da291c;
        strong {
            @include Bold;
            font-size: 28px;
            color: #da291c;
        }
    }
    // 상단 비쥬얼 영역
    .main-visual-wrap {
        @include Align-middle-right;
        max-width: 1680px;
        min-width: 1420px;
        margin: 0 auto;
        width: 100%;
        height: 720px;
        background: #f94852;
        color: #fff;
        .main-visual-slide {
            width: 490px;
            height: 100%;
            padding: 100px 0 70px;
            .swiper-pagination-wrap {
                height: 50px;
            }
            .main-visual-pager {
                @include Align-middle-left;
                @include Bold;
                color: #fdb5bb;
                font-size: 14px;
                .loadingbar {
                    width: 128px;
                    height: 2px;
                    background: #fdb5bb;
                    margin: 0 40px 0 10px;
                }
                button {
                    width: 9px;
                    height: 9px;
                    background: url(../../resources-pc/images/icons/ico-main-stop.png) 0 0 no-repeat;
                    background-size: 100% auto;
                    margin-left: 10px;
                }
            }
            .main-visual-list {
                position: relative;
                height: 500px;
                .text-cont {
                    padding-top: 23px;
                    color: #fff;
                    strong {
                        @include Bold;
                        color: #fff;
                        font-size: 42px;
                        line-height: 1.4;
                    }
                    p {
                        @include Regular;
                        font-size: 22px;
                    }
                    .btn-more {
                        @include Bold;
                        margin-top: 60px;
                        font-size: 14px;
                        &:after {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 14px;
                            margin-left: 5px;
                            background: url(../../resources-pc/images/icons/ico-main-arrow.png) 0 0 no-repeat;
                            background-size: 100% auto;
                            vertical-align: middle;
                        }
                    }                 
                }
                .slide-img {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    width: 307px;
                    height: 270px;
                }
            }        
        }
        .section-visual-booking {
            width: 420px;
            height: 100%;
            background: #333;
            h2 {
                @include Bold;
                font-size: 22px;
                padding-left: 5px;
            }
            h2:before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 24px;
                margin-right: 10px;
                background-size: 100% auto;
                vertical-align: text-top;
            }
            .btn-link{
                border:0 none;
                color:#aaa;
                height:50px;
                padding:0 0 0 5px;
                text-align: left;
                line-height:1.4;
                font-size: 16px;
                @include Regular;
                    b{
                        color: #aaa;
                        font-size: 16px;
                    }
                &.active{
                    @include Bold;
                    &:after {
                        display: inline-block;
                        content: "";
                        background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                        width: 14px;
                        height: 11px;
                        margin-left: 10px;
                        background-size: 100% auto;
                    }
                    b{
                        border-bottom: 1px solid #fff;
                        color:#fff;
                        font-size: 16px;
                    }
                }
            }
            &.calendar {
                padding: 50px 20px 35px 30px;
                border-radius: 50px 0 0 0;
                h2:before {
                    background: url(../../resources-pc/images/icons/ico-main-calendar.png) 0 0 no-repeat;
                }
                .main-detail-sticky {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 585px;
                }
                .tbl-box{
                    .calendar-tit {
                        @include Bold;
                        font-size: 20px;
                        padding: 15px 10px;
                    }  
                    table{
                        width:100%;
                        th, td{
                            text-align:center;
                            padding:13px 0;
                            color: #aaa;
                        }
                        th{
                            padding-top:0;
                        }
                        .btn {
                            width:38px; 
                            height:38px; 
                            padding:0; 
                            color: #aaa;
                        }                                                
                        .disabled, button[disabled]{
                            color:#8f9191;
                        }
                        .today{
                            .btn{
                                position: relative;
                                @include Bold; 
                                color:#fff;
                                &:after{
                                    content:"";
                                    display:block;
                                    width: 20px;
                                    height:1px;
                                    margin: 0 auto;
                                    background-color:#fff;
                                }                                
                            }                            
                        }
                        .today{
                            &.on, &.start, &.end, &.during{
                                .btn{
                                    &:after{background-color:#fff;}
                                }
                            }
                        }
                        .start, .end, .during{
                            .btn{
                                width: 100%;
                                color:#fff;
                                background-color: #ff404b;
                            }
                        }
                        .start{
                            .btn{                                
                                border-top-left-radius: 38px;
                                border-bottom-left-radius: 38px;
                            }
                        }
                        .end{
                            .btn{                               
                                border-top-right-radius: 38px;
                                border-bottom-right-radius: 38px;
                            }
                        }
                        .on{    
                            .btn{
                                color:#fff;
                                background-color:#ff404b;
                                border-radius:100%;
                            }         
                        }                       
                        
                    }
                }
            }

            &.branch {
                padding: 50px 20px 35px 40px;
                background: #2a2a2a;
                .m-tit {
                    @include Align-between;
                    .inputC{
                        position: relative;
                        z-index: 11;
                        label {
                            line-height: 1;
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-off.png) 0 0 no-repeat;
                                width: 14px;
                                height: 11px;
                            }
                            span{
                                font-size:16px;
                                color:#bbb;
                                @include Regular;
                            }
                        }
                        input:checked + label {
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                            }
                            span{
                                color:#fff;
                            }
                        }
                    }
                }
                h2:before {
                    height: 27px;
                    background: url(../../resources-pc/images/icons/ico-main-branch.png) 0 0 no-repeat;
                }
                .shor-main-toggle-cont {
                    position: relative;
                    overflow: hidden;
                    height: 600px;
                    .shor-main-toggle-txt {
                        line-height: 1.4;
                        font-size:16px;
                        overflow: hidden;
                    }
                    .shor-main-list-tit{
                        padding:35px 0;
                        @include Align-between;
                        .iconList{
                            border:0 none;
                            border-radius: 0;
                            li{
                                padding-right: 5px;
                                label {
                                    width: 110px;
                                    height: 40px;
                                    background: #242424;
                                    border: 1px solid #666;
                                    border-radius: 50px;
                                    font-size:18px;
                                    @include Regular;
                                    color: #ddd;
                                }
                                input:checked + label {
                                    background: #ff404b;
                                    border-color: #ff404b;
                                    @include Bold;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .shor-main-list-branch{
                        display:none;
                        .shor-main-list-lt{
                            .iconList{
                                border:0 none;
                                border-radius: 0;
                                li{
                                    width:auto;
                                    margin-right:10px;
                                    position: relative;
                                    label {
                                        border:0 none;
                                        background: #242424;
                                        font-size:16px;
                                        @include Regular;
                                        color:#aaa;
                                        height:auto;
                                        margin:0.9rem 0 .9rem 0;
                                    }
                                    input:checked + label {
                                        border-bottom:1px solid #ce8d57;
                                        @include Bold;
                                        color:#ce8d57;
                                    }
                                }
                                li:first-child{
                                    margin:0 .9rem 0 0;
                                }
                                li:first-child:after{
                                    display:inline-block;
                                    content:"";
                                    border-right:1px solid #aaa;
                                    height:30%;
                                    @include Position($top: 50%, $right: -15%);
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .shor-main-list-wrap{
                        @include Align-box;
                        // padding:1.7rem;
                        .shor-main-list-lt{
                            overflow-y: auto;
                            height: 495px;
                            // width:40%;
                            width:55%;
                            padding:5px;
                            @include Align-box;
                            ul{
                                width:100%;
                            }
                        }
                        .shor-main-list-rt{
                            overflow-y: auto;
                            height: 495px;
                            width:45%;
                            padding:5px;
                            @include Align-box;
                            ul{
                                width:100%;
                            }
                        }

                    }
                }
            }

            &.time {
                padding: 50px 30px 35px 30px;
                width: 260px;
                .m-time h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-time.png) 0 0 no-repeat;
                }
                .m-car h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-car.png) 0 0 no-repeat;
                }
                .car-list ul{
                    @include Align-box;
                    margin-top: 10px;
                    li {width: 50%;}
                }
                .time-list p {
                    padding: 30px 0 5px;
                    font-size: 14px;
                    color: #fff;
                }
                .m-car {
                    margin-top: 50px;
                }
                .selection-cont {
                    @include Align-between;
                    border-bottom: 1px solid #666;
                    .selectbox {
                        border: none;
                        background: url(../../resources-pc/images/icons/ico-arrow-down2.png) center right no-repeat;
                        height: 35px;
                        width: 40%;
                        padding:0 5px;
                        color: #aaa;
                        font-size: 16px;
                    }
                }
            }
        
         }
    }

    //예약내역
    .booking-path-wrap {
        height: 80px;
        margin-bottom: 40px;
        .inner {
            width: 100%;
            max-width: 1680px;
            min-width: 1420px;
        }
        .booking-result {
            position:relative;
            @include Align-between;
            width:1100px;
            height:80px;         
            background-color: #f5f5f5;
            &:before{
                content:"";
                @include Position($top: 0, $left: -99px);
                display:block;
                width:99px;
                height:80px;
                @include Background($sprite:'bg-gnb-round2', $position:0 0, $size:99px 80px, $path:'common');
            }
            .result-list {
                @include Align-between;
            }
            .tit {
               @include Bold;
               font-size: 18px;
               color: #3c3d3d; 
            }
            ul {
                @include Align-middle-right;
                padding-left: 5px;
                > li {
                    @include Align-middle-right;
                    font-size: 16px;
                    color: #54585a;
                    padding: 0 10px;
                    & + li{
                        &:before {
                            display: block;
                            content: '';
                            background: #c3c3c3;
                            height: 15px;
                            width: 1px;
                            margin-right: 15px;
                        }
                    }
                }
            }
            .booking-btn {
                @include Align-between;
                @include Bold;
                width: 260px;
                height: 80px;
                padding: 10px 75px 10px 40px;
                background: #ed1c24;
                color: #fff;
                font-size: 22px;
                &:after {
                    display: inline-block;
                    content: '';
                    width: 11px;
                    height: 18px;
                    background: url(../../resources-pc/images/icons/ico-main-arrow2.png) 0 0 no-repeat;
                    background-size: center auto;
                }
                &:disabled {
                    background: #eee;
                    color: #999;
                    &:after {
                        background: url(../../resources-pc/images/icons/ico-main-arrow3.png) 0 0 no-repeat; 
                    }
                }
            }
        }
    }

    // 서비스 바로가기
    .quick-menu-wrap {
        .q-tit {
            position: absolute;
            top: -85px;
            @include Bold;
            font-size: 28px;
            color: #2f2f2f;
        }
        .q-list {
            padding-bottom: 55px;
            border-bottom: 1px solid #eee;
            ul {
                @include Align-between;
            }          
            a {
                @include Align-middle-column;
               font-size: 14px;
               color: #2f2f2f;
               > span {
                   width: 50px;
                   height: 50px;
                   margin-bottom: 20px;
                   background-size: 100% auto;
                   background-position: center;
                   background-repeat: no-repeat;
               }
               .ico-quick1 {background-image: url(../../resources-pc/images/icons/ico-main-quick1.png);}
               .ico-quick2 {background-image: url(../../resources-pc/images/icons/ico-main-quick2.png);}
               .ico-quick3 {background-image: url(../../resources-pc/images/icons/ico-main-quick3.png);}
               .ico-quick4 {background-image: url(../../resources-pc/images/icons/ico-main-quick4.png);}
               .ico-quick5 {background-image: url(../../resources-pc/images/icons/ico-main-quick5.png);}
               .ico-quick6 {background-image: url(../../resources-pc/images/icons/ico-main-quick6.png);}
               .ico-quick7 {background-image: url(../../resources-pc/images/icons/ico-main-quick7.png);}
               .ico-quick8 {background-image: url(../../resources-pc/images/icons/ico-main-quick8.png);}
            }
        }
    }

    //신차장 다이렉트 슬라이드
    .direct-section {
        .inner-type3{@include Align-between;}       
        .direct-slide-tit {
            .btn-red {
                width: 124px;
                height: 45px;
                margin-top: 50px;
            }
            .direct-slide-paging {
                margin-top: 70px;
                ul {
                   @include Align-top-left; 
                }
                li {
                   padding-right: 5px;
                }
                button {
                    width: 60px;
                    height: 1px;
                    font-size: 1px;
                    text-indent: -9999px;
                    background: #ddd;
                    vertical-align: bottom;
                }
                .active {
                    button {
                        height: 2px;
                        background: #2f2f2f;
                    }
                }
            }
        }
        .direct-slide-wrap {
            @include Align-between;
            width: 1010px;
            height: 470px;
            overflow: hidden;
            margin-top: 50px;
            .img-wrap {
                position: relative;
                margin-left: 40px;
                .img-box {
                    @include Align-middle;
                    background: #fafafa;
                    width: 360px;
                    height: 320px;
                    
                    .num {
                        position: absolute;
                        top: -30px;
                        left: 40px;
                        font-size: 42px;
                        color: #8f9191;
                    }
                    img {
                        width: 313px;
                        height: 201px;
                        background-size: 100% auto;
                    }
                }
                .img-txt {
                    margin-top: 30px;
                    color: #8f9191;
                    font-size: 18px;
                    > strong {
                        font-size: 22px;
                        color: #2f2f2f;
                    }
                }
            }
        }
    }

    //중고차 장기렌터카
    .secondhand-wrap {
        margin-top: 90px;
        background: url(../../resources-pc/images/common/bg-main-secondhand.png) top left repeat-x;
        .tab-type {
            @include Align-between-base;
            margin-top: 60px;
            ul {
                @include Align-middle-right;
                li {
                    vertical-align: bottom;
                    padding-right: 50px;
                    button{
                        font-size: 22px;
                        color: #54585a;
                    }
                    &.active button {
                        @include Bold;
                        font-size: 28px;
                        color: #2f2f2f;
                    }
                }
            }
        }
        .secondhand-slide-wrap {
            margin-top: 60px;
            .secondhand-slide-cont {
                @include Align-between;
                .slide-type {
                    width: 330px;
                    height: 440px;
                    background: #fff;
                    box-shadow: 0px 10px 20px #f3f3f3;
                    .img {
                        width: 330px;
                        height: 230px;
                        background-size: 100% auto;
                    }
                    .txt-type {
                        padding: 30px 20px;
                        color: #8f9191;
                        font-size: 16px;
                        .tit > strong {
                            font-size: 18px;
                            color: #2f2f2f;
                            line-height: 1.5;
                        }
                        .t-list {
                            @include Align-top-left;
                            li {
                                color: #8f9191;
                                font-size: 16px;
                                line-height: 1.5;
                                + li:before {
                                    display: inline-block;
                                    content: "";
                                    width: 1px;
                                    height: 14px;
                                    background: #d2d2d2;
                                    margin: 0 8px;
                                }
                            }
                        }
                        .t-spot {
                            margin-top: 20px;
                            span {
                                padding: 6px 9px;
                                background: #f4f4f4;
                                border-radius: 5px;
                                color: #2f2f2f;
                                font-size: 13px;
                                margin-right: 5px;
                            }
                        }
                        .t-red {margin-top: 25px;}
                    }
                }
            }
            .pagination-wrap {
                margin-top: 50px;
            }
        }
    }
    // 배너
    .banner-wrap {
        margin-top: 100px;
        .banner-slide-wrap {
            position: relative;
            .m-banner {
                img {
                    width: 100%;
                    height: 130px;
                    background-size: 100% auto;
                }
            }
        }
        .banner-slide-paging {
            position: absolute;
            right: 20px;
            bottom: 15px;
            ul {
                @include Align-middle;
                button {
                    width: 7px;
                    height: 7px;
                    margin: 0 4px;
                    background: #7b7673;
                    border-radius: 100%;
                    font-size: 1px;
                    text-indent: -9999px;
                }
                .active > button {
                    background: #fff;
                }
            }
        }
    }

    //핫딜 찬스
    .hotdeal-wrap {
        margin-top: 50px;
        background: url(../../resources-pc/images/common/bg-main-hotdeal.png) bottom left repeat-x;
    }

    .section {
        //@include Ellipsis($w:100px, $lines:2);
        //@include Position($top: 0, $right: 0);
    }
}



