.main-wrap {
    //@include Background($sprite:'error', $type:'png');
    * {
        box-sizing: border-box;
    }

    .main-visual-wrap {
        @include Align-middle-right;
        max-width: 1680px;
        min-width: 1420px;
        margin: 0 auto;
        width: 100%;
        height: 720px;
        background: #f94852;
        color: #fff;
        .main-visual-slide {
            width: 490px;
            height: 100%;
            padding: 100px 0 70px;
            .swiper-pagination-wrap {
                height: 50px;
            }
            .main-visual-list {
                position: relative;
                height: 500px;
                .text-cont {
                    padding-top: 23px;
                    color: #fff;
                    strong {
                        @include Bold;
                        color: #fff;
                        font-size: 42px;
                        line-height: 1.4;
                    }
                    p {
                        @include Regular;
                        font-size: 22px;
                    }
                    .btn-more {
                        @include Bold;
                        margin-top: 60px;
                        font-size: 14px;
                        &:after {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 14px;
                            margin-left: 5px;
                            background: url(../../resources-pc/images/icons/ico-main-arrow.png) 0 0 no-repeat;
                            background-size: 100% auto;
                            vertical-align: middle;
                        }
                    }                 
                }
                .slide-img {
                    position: absolute;
                    right: 0;
                    bottom: 30px;
                    width: 307px;
                    height: 270px;
                }
            }        
        }
        .section-visual-booking {
            width: 420px;
            height: 100%;
            background: #333;
            h2 {
                @include Bold;
                font-size: 22px;
                padding-left: 5px;
            }
            h2:before {
                content: "";
                display: inline-block;
                width: 25px;
                height: 24px;
                margin-right: 10px;
                background-size: 100% auto;
                vertical-align: text-top;
            }
            .btn-link{
                border:0 none;
                color:#aaa;
                height:50px;
                padding:0 0 0 5px;
                text-align: left;
                line-height:1.4;
                font-size: 16px;
                @include Regular;
                    b{
                        color: #aaa;
                        font-size: 16px;
                    }
                &.active{
                    @include Bold;
                    &:after {
                        display: inline-block;
                        content: "";
                        background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                        width: 14px;
                        height: 11px;
                        margin-left: 10px;
                        background-size: 100% auto;
                    }
                    b{
                        border-bottom: 1px solid #fff;
                        color:#fff;
                        font-size: 16px;
                    }
                }
            }
            &.calendar {
                padding: 50px 20px 35px 30px;
                border-radius: 50px 0 0 0;
                h2:before {
                    background: url(../../resources-pc/images/icons/ico-main-calendar.png) 0 0 no-repeat;
                }
                .main-detail-sticky {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 585px;
                }
                .tbl-box{
                    .calendar-tit {
                        @include Bold;
                        font-size: 20px;
                        padding: 15px 10px;
                    }  
                    table{
                        width:100%;
                        th, td{
                            text-align:center;
                            padding:13px 0;
                            color: #aaa;
                        }
                        th{
                            padding-top:0;
                        }
                        .btn {
                            width:38px; 
                            height:38px; 
                            padding:0; 
                            color: #aaa;
                        }                                                
                        .disabled, button[disabled]{
                            color:#8f9191;
                        }
                        .today{
                            .btn{
                                position: relative;
                                @include Bold; 
                                color:#fff;
                                &:after{
                                    content:"";
                                    display:block;
                                    width: 20px;
                                    height:1px;
                                    margin: 0 auto;
                                    background-color:#fff;
                                }                                
                            }                            
                        }
                        .today{
                            &.on, &.start, &.end, &.during{
                                .btn{
                                    &:after{background-color:#fff;}
                                }
                            }
                        }
                        .start, .end, .during{
                            .btn{
                                width: 100%;
                                color:#fff;
                                background-color: #ff404b;
                            }
                        }
                        .start{
                            .btn{                                
                                border-top-left-radius: 38px;
                                border-bottom-left-radius: 38px;
                            }
                        }
                        .end{
                            .btn{                               
                                border-top-right-radius: 38px;
                                border-bottom-right-radius: 38px;
                            }
                        }
                        .on{    
                            .btn{
                                color:#fff;
                                background-color:#ff404b;
                                border-radius:100%;
                            }         
                        }                       
                        
                    }
                }
            }

            &.branch {
                padding: 50px 20px 35px 40px;
                background: #2a2a2a;
                .m-tit {
                    @include Align-between;
                    .inputC{
                        position: relative;
                        z-index: 11;
                        label {
                            line-height: 1;
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-off.png) 0 0 no-repeat;
                                width: 14px;
                                height: 11px;
                            }
                            span{
                                font-size:16px;
                                color:#bbb;
                                @include Regular;
                            }
                        }
                        input:checked + label {
                            &:before{
                                background: url(../../resources-pc/images/icons/ico-check3-on.png) 0 0 no-repeat;
                            }
                            span{
                                color:#fff;
                            }
                        }
                    }
                }
                h2:before {
                    height: 27px;
                    background: url(../../resources-pc/images/icons/ico-main-branch.png) 0 0 no-repeat;
                }
                .shor-main-toggle-cont {
                    position: relative;
                    overflow: hidden;
                    height: 600px;
                    .shor-main-toggle-txt {
                        line-height: 1.4;
                        font-size:16px;
                        overflow: hidden;
                    }
                    .shor-main-list-tit{
                        padding:35px 0;
                        @include Align-between;
                        .iconList{
                            border:0 none;
                            border-radius: 0;
                            li{
                                padding-right: 5px;
                                label {
                                    width: 110px;
                                    height: 40px;
                                    background: #242424;
                                    border: 1px solid #666;
                                    border-radius: 50px;
                                    font-size:18px;
                                    @include Regular;
                                    color: #ddd;
                                }
                                input:checked + label {
                                    background: #ff404b;
                                    border-color: #ff404b;
                                    @include Bold;
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .shor-main-list-branch{
                        display:none;
                        .shor-main-list-lt{
                            .iconList{
                                border:0 none;
                                border-radius: 0;
                                li{
                                    width:auto;
                                    margin-right:10px;
                                    position: relative;
                                    label {
                                        border:0 none;
                                        background: #242424;
                                        font-size:16px;
                                        @include Regular;
                                        color:#aaa;
                                        height:auto;
                                        margin:0.9rem 0 .9rem 0;
                                    }
                                    input:checked + label {
                                        border-bottom:1px solid #ce8d57;
                                        @include Bold;
                                        color:#ce8d57;
                                    }
                                }
                                li:first-child{
                                    margin:0 .9rem 0 0;
                                }
                                li:first-child:after{
                                    display:inline-block;
                                    content:"";
                                    border-right:1px solid #aaa;
                                    height:30%;
                                    @include Position($top: 50%, $right: -15%);
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    .shor-main-list-wrap{
                        @include Align-box;
                        // padding:1.7rem;
                        .shor-main-list-lt{
                            overflow-y: auto;
                            height: 495px;
                            // width:40%;
                            width:55%;
                            padding:5px;
                            @include Align-box;
                            ul{
                                width:100%;
                            }
                        }
                        .shor-main-list-rt{
                            overflow-y: auto;
                            height: 495px;
                            width:45%;
                            padding:5px;
                            @include Align-box;
                            ul{
                                width:100%;
                            }
                        }

                    }
                }
            }

            &.time {
                padding: 50px 30px 35px 30px;
                width: 250px;
                .m-time h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-time.png) 0 0 no-repeat;
                }
                .m-car h2:before {
                    height: 30px;
                    width: 30px;
                    background: url(../../resources-pc/images/icons/ico-main-car.png) 0 0 no-repeat;
                }
                .car-list ul{
                    @include Align-box;
                    margin-top: 10px;
                    li {width: 50%;}
                }
                .time-list p {
                    padding: 30px 0 5px;
                    font-size: 14px;
                    color: #fff;
                }
                .m-car {
                    margin-top: 50px;
                }
                .selection-cont {
                    @include Align-between;
                    border-bottom: 1px solid #666;
                    .selectbox {
                        border: none;
                        background: url(../../resources-pc/images/icons/ico-arrow-down2.png) center right no-repeat;
                        height: 35px;
                        width: 40%;
                        padding:0 5px;
                        color: #aaa;
                        font-size: 16px;
                    }
                }
            }
        
         }
        }
    .section {
        //@include Ellipsis($w:100px, $lines:2);
        //@include Position($top: 0, $right: 0);
    }
}



