.mypage-container {
    .mypage-header{
        .myInfos-area{
            padding:60px;
            margin-bottom:60px;
            color:#fff;
            background-color:#ed1c24;

            .box-between{
                .txt{
                    font-size:30px;
                    //@include Normal;
                    @include Regular;

                    .name{@include Bold; color:inherit; font-size:inherit;}
                }
                .btns{
                    .link-item{

                        + .link-item{margin-left:30px;}
                    }
                }
            }
            .item-list{
                display:flex;
                justify-content: space-around;
                align-items: center;

                text-align:center;
                margin-top:40px;
                padding-top:40px;
                border-top:1px solid rgba(255,255,255,.2);

                .icon{
                    width:44px;
                    height:48px;
                    background-color:#fff;
                }

                li{
                    > p{
                        margin-top:25px;

                        + a{display: inline-block; margin-top:14px;}
                    }
                    .underline{
                        @include Regular;
                        border-bottom-color:#fff;
                    }
                }
            }
        }
    }
    .mypage-body{
        @include Align-between-top;        
        
        .mypage-lnb{
            flex:none;
            width:300px;
            flex-basis: 300px;
            box-sizing: border-box;
            background-color:#fafafa;
            padding:50px 0;

            

            > ul{
                padding:0 30px;

                > li{
                    @include Bold;
                    
                    + li{margin-top:40px;}

                    > ul{
                        margin-top:20px;

                        > li{
                            font-size:14px; color:#54585a;

                            + li{margin-top:10px}
                        }
                    }
                }

                
            }
        }
        .mypageBody-cont{
            width:100%;
            padding-left:60px;
            box-sizing: border-box;
        }
    }

    .card-header, .list-section-header{
        @include Align-between;
        margin-bottom:25px;

        .tit{
            font-size:24px;
        }
    }
    
    .card{
        margin-top:50px;
        
        .card-body{
            @include roundBox;
            border:1px solid $border-darkgrey;            
            
            .card-body-header{
                @include Align-between;
                padding:30px 40px;
                background-color:#f5f5f5;

                .txt-box{
                    @include Bold;
                    padding-right:20px;
                    box-sizing: border-box;
                                        
                    > span{color:#8f9191; font-size:14px;}
                    > strong{display:block; font-size:16px; margin-top:10px;}
                }
                
                .info-flag{
                    @include Bold;
                    @include Align-middle;
                    min-width:84px;
                    height:36px;    
                    padding:0 10px;
                    font-size:14px;
                    box-sizing: border-box;
                    border-radius: 36px;

                    &.ing{background-color: #ff404b; color:#fff;}
                    &.waiting{background-color:#54585a; color:#fff;}
                    &.complete{border:1px solid $border-darkgrey; color:#8f9191;}
                }
            }
            .card-body-cont{
                border-top:1px solid $border-darkgrey;
                padding:30px 40px;
                
                .info-list{      
                               
                    font-size:14px;
                    color:#8f9191;

                    li{
                        display:flex;
                        align-items: baseline;                        

                        .tit{
                            position:relative;
                            flex:none;
                            width:110px;
                            flex-basis: 110px;
                            @include Regular;

                            &:after{
                                @include Position($top:50%, $right:0px);
                                content:"";
                                display:block;
                                width:1px;
                                height:14px;
                                margin-top:-7px;
                                background-color:#e7e7e7;
                            }
                        }
                        .cont{padding:0 20px;}
                        .underline{color:#2f2f2f;}
                        + li{ margin-top:20px; }
                    }
                }
            }
            .card-body-foot{
                margin:0 40px;
                border-top:1px solid $border-grey;

                .btns{
                    display:flex;
                    justify-content: center;                    

                    .btn-goLink {
                        @include Align-middle;
                        width:100%;
                        height:80px;
                        font-size:20px;
                        @include Bold;

                        &.red{color:$txt-red;}
                    }                    
                }
            }
        }
        .card-foot{padding:30px 0;}

        + .card{margin-top:80px;}
    }
    .btn-box{
        margin-top:10px;
        
        .btn-wide{
            height:80px;
            font-size:20px;
            @include Bold;

            &.red{
                color:$txt-red;
                border:1px solid $border-red; 
            }
        }
    }

    .list-section{      
        margin-top:80px;

        .carInfo-list{
            width: calc(100% + 10px);
            box-sizing: border-box;

            li{margin-bottom:0;}

            .item{
                display:block;
                padding-right:10px;
    
                .img-box{                        
                    position:relative;
    
                    .cover{
                        @include Position($bottom:0, $left:0, $right:0);
                        @include Align-between;
                        padding:10px 20px;
                        color:#fff;
                        background: rgba(29,29,29,.6);
                        z-index:5;
                    }
                    
                }
                .descri-area{
                    padding:20px 0 0;
    
                    .tit{
                        @include Ellipsis($w:100%, $lines:2);
                        font-size:1rem;
                        height:30px;
                        margin-bottom:15px;
                    }
                    .bar-type{
                        color:#54585a;
                        font-size:14px;
                        margin-bottom:25px;
    
                        > span{ 
                            position:relative; 
    
                            + span{                                    
                                padding-left:10px;
                                margin-left:10px;                            
    
                                &:before{
                                    content:"";
                                    @include Position($top:50%, $left:0);
                                    display:block;
                                    width:1px;
                                    height:14px;
                                    margin-top:-7px;
                                    background-color:#e7e7e7;
                                }
                            }
                        }
                    }
                    .price-box{      
                        @include roundBox;
                        padding:20px;
                        background-color: #f5f5f5;
    
                        .price-row{
                            @include Align-between;
    
                            +.price-row{ margin-top:15px;}
                            .price{
                                @include Bold;
                                color:$txt-red;
                            }
                        }
                    }
                }
            }
        }
        .heart-chk-box{
            @include Align-middle;
    
            input {
                display: none;
            }
            .icon {
                position: relative;
                width: 18px;
                height: 16px;
                @include Background($sprite:'ico-heart2-off', $position:center center);
                transition: all .4s;
            }
            input:checked + .icon {
                @include Background($sprite:'ico-heart2-on', $position:center center);
            }        
            span{
                @include Bold;
                margin-left:10px;
            }                    
        }
    }
    .card-between-section{
        @include Align-between-top;
        margin-top:80px;

        .card{
            width:410px;
            margin-top:0;
        }
    }
}