//전국지점안내 및 전국지점안내 컨텐츠 프린트 페이지 공통 사용
.customer-branch-printMap{
    padding-top:60px;
    .tbl-type-list{
        max-width:1200px;
        margin: 0 auto;
       
        .detail-cont{
            @include Align-box;
            padding:50px 20px 50px 40px;
            box-sizing: border-box;
            border-bottom:1px solid #e7e7e7;
            
            > .col{
                width:430px;
                flex-basis: 430px;
                padding-right:40px;
                box-sizing:border-box;

                .bot{margin-top:30px; align-items: flex-start;}
                .right{
                    .icon{margin-right:7px;}
                    .btn{margin-bottom:7px;}
                }
            }
            > .col2{
                width:670px;                    
                flex-basis: 670px;
            }

            .descri-box{
                > .row{
                    @include Align-top-left;                        
                    margin-bottom:30px;

                    dt{
                        @include Bold; 
                        width:120px;
                        flex-basis: 120px;
                    }
                    dd{width:560px; font-size:14px;}

                    .tit{@include Bold; color:#54585a;}
                }
                
                .lst{
                    li{margin-bottom:20px;}
                }
            }

        }
    }
}
//기사포함지점 프린트 페이지
.customer-branch-driver-printMap{
    padding-top:60px;
    .tit-top-box{
        @include Align-between-top;
        @include Bold;
        margin-bottom:30px;

       .tit{                       
           font-size:30px;
       }
       .right{
           @include Align-middle;
           color:#ed1c24;
           font-size:26px;
           .icon{margin-right:10px;}
       }
    }
    .map{
        overflow: hidden;;
        border:1px solid #d2d2d2;
        margin:60px 0 0;
        @include roundBox;
    }  
    .branch-driver-section{
        max-width:1200px;
        margin: 0 auto;

        .branch-driver-top-area{
            > .right{
                width:750px;
            }
            .tit-top-box{margin-bottom:35px;}
            .descri-box{
                margin-bottom:46px; 

                > .row{
                    width:100%;
                    @include Inline-align-top-left;
                    margin-bottom:10px;

                    dt{
                        position:relative;
                        @include Bold; 
                        width:110px;
                        flex-basis: 110px;
                        flex-shrink: 0;

                        &:after{
                            @include Position($top:50%, $right:15px);
                            content:"";
                            display:block;
                            width:1px;
                            height:15px;
                            margin-top:-7px;
                            background-color:#e7e7e7;
                        }
                    }
                    dd{color:#8f9191;}
                }                
            }
            .btn-box{
                display:block;
            }
            
        }
        .map{min-height:380px; margin-bottom:30px;}
    }
}