//중고차 장기 렌터카
.secondhand-container{

    //내 차 팔기 서비스 안내
    .section-counsel{
        @include Align-middle-left;
        height:160px;
        color:#fff;
        padding:40px;
        margin-bottom:80px;
        box-sizing:border-box;
        @include Background($sprite:'@temp-secondhand_bn01', $type:'png', $position:center center, $size:cover, $path:'');

        .right{
            @include Align-middle;
            width:124px;
            height:50px;
            margin-left:auto;
            @include roundBox;
        }
    }
    
    .purchase-step{
        li{
            text-align:center;

            &:after, &:before{
                content:"";
                display:block;
            }
            
            &:before{			
                @include Position($top:36px, $right:0);
                @include arrow;
            }
            &:after{
                @include Position($top:38px, $right:3px);
                @include arrowInner;
                z-index:5;
            }
            &:nth-of-type(4n){
                &:after, &:before{display:none;}
            }
            
            .img-item{
                height:150px;
            }
            .txt{@include Bold;}
        }
    }

    //내 차 팔기 서비스 상담 신청
    .section-top{
        text-align:center;
        margin-bottom:60px;

        .step-list{
            @include Inline-align-top;

            li{
                padding:0 67px;

                &.active{
                    .txt{
                        @include Bold;
                        color:#ed1c24;
                    }
                }
                .icon{position:relative; z-index: 5;}
                .txt{
                    color:#8f9191;
                    margin-top:15px;
                }
                & + li{
                    position:relative;
                    
                    &:after{
                        content:"";
                        @include Position($top: 16px, $left: -50%);
                        display:block;
                        width:100%;
                        height:1px; 
                        background-color:#e7e7e7;
                    }
                }
            }
        }
    }

    .form-cont{
        .inputT.date{
            position:relative;
            
            input{
                padding-right:60px;
            }
            .btn-schedule-toggle{
                @include Position($top: 0, $right: 0);
                @include Align-middle;
                width:60px;
                height:50px;
            }
        }
    }   
    
    .schedule-wrap{
        overflow:hidden;
        border:1px solid #d2d2d2;
        border-radius: 6px;;

        .calendar-wrap{
            position:relative;
            padding:60px;

            .calendar{
                @include Align-between-top;
                
                .col{
                    flex-basis: 33.333%;
                    &:last-of-type{
                        .tbl-box{border-right:none;}
                    }  
                }
                .tbl-box{
                    border-right:1px solid #e7e7e7;
                    padding:0 15px;
                    table{
                        width:100%;
                        th, td{text-align:center;padding:15px 0;}
                        th{padding-top:0;}
                        .btn {width:38px; height:38px; padding:0;}                                                
                        .disabled, button[disabled]{
                            color:#ddd;
                        }
                        .today{
                            .btn{
                                position: relative;
                                @include Bold; 
                                color:#a02a3d; 
                                &:after{
                                    content:"";
                                    display:block;
                                    width: 20px;
                                    height:1px;
                                    margin: 0 auto;
                                    background-color:#a02a3d;
                                }                                
                            }                            
                        }
                        .today{
                            &.on, &.start, &.end, &.during{
                                .btn{
                                    &:after{background-color:#fff;}
                                }
                            }
                        }
                        .start, .end, .during{
                            .btn{
                                width: 100%;
                                color:#fff;
                                background-color: #ff404b;
                            }
                        }
                        .start{
                            .btn{                                
                                border-top-left-radius: 38px;
                                border-bottom-left-radius: 38px;
                            }
                        }
                        .end{
                            .btn{                               
                                border-top-right-radius: 38px;
                                border-bottom-right-radius: 38px;
                            }
                        }
                        .on{    
                            .btn{
                                color:#fff;
                                background-color:#ff404b;
                                border-radius:100%;
                            }         
                        }                       
                        
                    }
                }                
                .calendar-tit{@include Bold; text-align:center; margin-bottom:30px;}                
            }
            .btn-paging-prev, .btn-paging-next{
                @include Position($top:50px, $left:50px);
                border:none;            
            }
            .btn-paging-next{
                @include Position($top:50px, $left:auto, $right:50px);
            }
        }
        .schedule-bot{
            @include Align-box;
            border-top:1px solid #e7e7e7;
            
            .date-info, .btn{
                @include Align-middle;
                height:80px;
            }
            .date-info{
                flex-grow:1;

                > span{margin-right:20px;}
                .date{@include Bold; font-size:20px;}
            }
            .btn{
                width:175px; 
                margin-left:auto; 
                color:#fff; 
                background-color:#54585a; 
                @include Bold; 
            }
        }
    }
    .accor-header{margin-bottom:30px;}
    .terms-area{    
        font-size:14px;
        padding:30px;
        margin:0 40px;
        background-color:#fafafa;
        @include roundBox;

        > p {margin-bottom:35px;}
        > ul{margin-bottom:30px;}
        h4{margin:10px 0;}
        
    }
    .gray-noti-section{
        text-align:center;
        padding:60px;
        margin-bottom:60px;
        background-color:#f5f5f5;
        @include roundBox;

        .tit{
            display:block; 
            font-size:26px;
            margin-bottom:20px;
        }
    }    
}