//중고차 장기 렌터카
.secondhand-container{

    //내 차 팔기 서비스 안내
    .section-counsel-type2{
        @include Align-middle-left;
        height:160px;
        color:#fff;
        padding:40px;
        margin-bottom:80px;
        box-sizing:border-box;
        @include Background($sprite:'@temp-secondhand_bn01', $type:'png', $position:center center, $size:cover, $path:'');

        .right{
            @include Align-middle;
            width:124px;
            height:50px;
            margin-left:auto;
            @include roundBox;
        }
    }
    
    //내 차 팔기 서비스 상담 신청
    .section-top{
        text-align:center;
        margin-bottom:60px;

        .step-list{
            @include Inline-align-top;

            li{
                padding:0 67px;

                &.active{
                    .txt{
                        @include Bold;
                        color:#ed1c24;
                    }
                }
                .icon{position:relative; z-index: 5;}
                .txt{
                    color:#8f9191;
                    margin-top:15px;
                }
                & + li{
                    position:relative;
                    
                    &:after{
                        content:"";
                        @include Position($top: 16px, $left: -50%);
                        display:block;
                        width:100%;
                        height:1px; 
                        background-color:#e7e7e7;
                    }
                }
            }
        }
    }
    .form-cont{
        .inputT.date{
            position:relative;
            
            input{
                padding-right:60px;
            }
            .btn-schedule-toggle{
                @include Position($top: 0, $right: 0);
                @include Align-middle;
                width:60px;
                height:50px;
            }
        }
    }       
    .schedule-wrap{
        overflow:hidden;
        border:1px solid #d2d2d2;
        border-radius: 6px;;

        .calendar-wrap{
            position:relative;
            padding:60px;

            .calendar{
                @include Align-between-top;
                
                .col{
                    flex-basis: 33.333%;
                    &:last-of-type{
                        .tbl-box{border-right:none;}
                    }  
                }
                .tbl-box{
                    border-right:1px solid #e7e7e7;
                    padding:0 15px;
                    table{
                        width:100%;
                        th, td{text-align:center;padding:15px 0;}
                        th{padding-top:0;}
                        .btn {width:38px; height:38px; padding:0;}                                                
                        .disabled, button[disabled]{
                            color:#ddd;
                        }
                        .today{
                            .btn{
                                position: relative;
                                @include Bold; 
                                color:#a02a3d; 
                                &:after{
                                    content:"";
                                    display:block;
                                    width: 20px;
                                    height:1px;
                                    margin: 0 auto;
                                    background-color:#a02a3d;
                                }                                
                            }                            
                        }
                        .today{
                            &.on, &.start, &.end, &.during{
                                .btn{
                                    &:after{background-color:#fff;}
                                }
                            }
                        }
                        .start, .end, .during{
                            .btn{
                                width: 100%;
                                color:#fff;
                                background-color: #ff404b;
                            }
                        }
                        .start{
                            .btn{                                
                                border-top-left-radius: 38px;
                                border-bottom-left-radius: 38px;
                            }
                        }
                        .end{
                            .btn{                               
                                border-top-right-radius: 38px;
                                border-bottom-right-radius: 38px;
                            }
                        }
                        .on{    
                            .btn{
                                color:#fff;
                                background-color:#ff404b;
                                border-radius:100%;
                            }         
                        }                       
                        
                    }
                }                
                .calendar-tit{@include Bold; text-align:center; margin-bottom:30px;}                
            }
            .btn-paging-prev, .btn-paging-next{
                @include Position($top:50px, $left:50px);
                border:none;            
            }
            .btn-paging-next{
                @include Position($top:50px, $left:auto, $right:50px);
            }
        }
        .schedule-bot{
            @include Align-box;
            border-top:1px solid #e7e7e7;
            
            .date-info, .btn{
                @include Align-middle;
                height:80px;
            }
            .date-info{
                flex-grow:1;

                > span{margin-right:20px;}
                .date{@include Bold; font-size:20px;}
            }
            .btn{
                width:175px; 
                margin-left:auto; 
                color:#fff; 
                background-color:#54585a; 
                @include Bold; 
            }
        }
        
    }
    //.accor-header{margin-bottom:30px;}
    .terms-area{    
        font-size:14px;
        padding:30px;
        margin:0 40px;
        background-color:#fafafa;
        @include roundBox;

        > p {margin-bottom:35px;}
        > ul{margin-bottom:30px;}
        h4{margin:10px 0;}
        
    }
    .gray-noti-section{
        text-align:center;
        padding:60px;
        margin-bottom:60px;
        background-color:#f5f5f5;
        @include roundBox;

        .tit{
            display:block; 
            font-size:26px;
            margin-bottom:20px;
        }
    }    

    //중고차 목록    
    .section-counsel{
        @include Align-box;
        border:1px solid #e7e7e7;
        margin-bottom:55px;
        @include roundBox; 
        
        .col{
            width: 50%;
            padding:40px;
            box-sizing: border-box;

            &.type-wide{width:100%;}
        }

        .btn-link{   
            position:relative; 
            @include Inline-align-middle;
            @include Bold;
            font-size:1rem;
            height:auto;           
            padding:0;
            margin-left:30px;
            margin-bottom:15px;

            .icon{
                @include Position($left:-30px);
            }
        }
    }
    .sort-section{
        @include Align-top-left;
        //flex-wrap: nowrap;

        .selection-area, .result-area{
            .top-header{
                @include Align-middle-left;       
                height:70px;
            }
        }
        .selection-area{            
            flex:none;
            width:330px;
            flex-basis: 330px;
            padding-right:40px;
            box-sizing: border-box;

            .top-header{             
                .tit{@include Bold; font-size:22px;}
                .btn{
                    @include Align-middle; 
                    padding:0;
                    margin-left:auto; 
                    font-size:14px;
                    
                    .icon{margin-left:10px;}
                }
            }
            .selection-cont{
                padding:20px;                
                border:1px solid $border-darkgrey;
                border-radius: 6px;
                margin-bottom:15px;
                box-sizing: border-box;

                .selection-cont-header{
                    .btn-toggle-grey{
                        @include Bold;
                        font-size:18px;
                    }
                }   
                .selection-cont-body{
                    display:none;
                    margin-top:20px;
                    padding-top:20px;
                    border-top:1px solid $border-grey;

                    .select-grid{
                        display:flex;
                        flex-wrap: wrap;
                        align-items:stretch;
                        justify-content:space-between;

                        border: 0 solid $border-darkgrey;
                        border-width: 0 0 1px 1px;
                        box-sizing: border-box;

                        li{
                            width:33.333%;
                            border: 0 solid $border-darkgrey;
                            border-width: 1px 1px 0 0;
                            box-sizing: border-box;

                            .chk-box{
                                input {
                                    display: none;
                                }
                                label{
                                    position: relative;
                                    height:40px;
                                    @include Align-middle;
                                    box-sizing: border-box;
                                    transition: all .4s;
                                }
                                input:checked + label {
                                    @include Bold;
                                    color:$txt-red;
                                    background-color:#fff9f9;

                                    &:after{
                                        content:"";
                                        display:block;
                                        @include Position($top:-1px, $bottom:-1px, $right:-1px, $left:-1px);
                                        border:1px solid $border-red;
                                        z-index: 5;
                                    }
                                }
                            }
                            

                        }
                    }
                    .select-list{
                        li{
                            + li{margin-top:20px;}

                            .carType-list{
                                display:none;
                                margin-top:16px;
                                @include roundBox;
                                background-color: #fafafa;
                                padding:20px;
                                font-size:14px;
                                color:#54585a;
                            }
                            
	                        input:checked ~ .carType-list {
                                display:block;
                            }
                        }
                    }
                    .other-box{
                        border-top:1px solid $border-grey;
                        margin-top:20px;
                        padding-top:30px;
                    }
                }
            }
        }
        .result-area{
            width:100%;
            .top-header{               
                margin-bottom:20px;
                border-bottom:1px solid #e7e7e7;

                .total-box{
                    @include Align-middle;
                    strong{@include Bold; font-size:16px;}
                }
                .selelct-box{@include Align-middle; margin-left:auto;}
                .sorting-btn-box{
                    padding-left:12px;
                    
                    button{
                        @include Align-middle;
                        width:60px;
                    }
                }
            }

            &.listViewActive{
                .sorting-btn-box{
                    .list{
                        @include Background($sprite:'ico-list2', $position:center);
                    }
                }
            }
            .result-cont{
                .carInfo-list{
                    width: calc(100% + 30px);
                    box-sizing: border-box;

                    li{margin-bottom:40px;}
                }
                .item{
                    display:block;
                    padding-right:30px;

                    .img-box{                        
                        position:relative;

                        .cover{
                            @include Position($bottom:0, $left:0, $right:0);
                            @include Align-between;
                            padding:10px 20px;
                            color:#fff;
                            background: rgba(29,29,29,.6);
                            z-index:5;
                        }
                        
                    }
                    .descri-area{
                        padding:20px 0;

                        .tit{
                            @include Ellipsis($w:100%, $lines:2);
                            font-size:1rem;
                            height:30px;
                            margin-bottom:15px;
                        }
                        .bar-type{
                            color:#54585a;
                            font-size:14px;
                            margin-bottom:25px;

                            > span{ 
                                position:relative; 
    
                                + span{                                    
                                    padding-left:10px;
                                    margin-left:10px;                            
    
                                    &:before{
                                        content:"";
                                        @include Position($top:50%, $left:0);
                                        display:block;
                                        width:1px;
                                        height:14px;
                                        margin-top:-7px;
                                        background-color:#e7e7e7;
                                    }
                                }
                            }
                        }
                        .price-box{                            
                            .price-row{
                                @include Align-between;

                                +.price-row{ margin-top:15px;}
                                .price{
                                    @include Bold;
                                    color:$txt-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .heart-chk-box{
        @include Align-middle;

        input {
            display: none;
        }
        .icon {
            position: relative;
            width: 18px;
            height: 16px;
            @include Background($sprite:'ico-heart2-off', $position:center center);
            transition: all .4s;
        }
        input:checked + .icon {
            @include Background($sprite:'ico-heart2-on', $position:center center);
        }        
        span{
            @include Bold;
            margin-left:10px;
        }                    
    }

    //차량 상세
    .car-detail-visual-section{
        margin-bottom:48px;

        .car-detail-visual-header{
            position:relative;
            padding-bottom:40px;
            
            .logo-box{
                min-width:60px;
                padding-top:10px;
                
                img{width:auto; max-width:100%; height:auto;}
            }
            .car-detail-infos{
                .tit{font-size:34px; margin-bottom:25px;}
                .bar-type{
                    display:flex;
                    li{
                        position:relative;
                        color:#54585a;
                        padding-right:20px;

                        + li{                            
                            padding-left:20px;

                            &:before{
                                content:"";
                                @include Position($top:50%, $left:0);
                                width:1px;
                                height:15px;
                                margin-top:-7px;
                                background-color:#e7e7e7;
                            }
                        }
                    }
                }
            }
            .btn-share{
                @include Position($top:0, $right:0);
            }
        }
        .car-detail-slide-container{
            .gallery-top{
                position:relative;
                margin-bottom:30px;
                
                .cover{
                    @include Position($top:0, $right:0);
                    @include Align-between;
                    padding:25px;
                    color:#fff;
                    background: rgba(29,29,29,.6);
                    z-index:5;
                }
                .pagingInfo{
                    @include Bold;
                    @include Position($bottom:0, $right:0);
                    color:#fff;
                    padding:20px 30px;
                }
            }
            .gallery-thumbs{
                overflow:hidden;
                position:relative;

                &:before, &:after{
                    content:"";
                    @include Position($top:0, $left:-160px);
                    width:200px;
                    height:80px;
                    background: rgb(255,255,255);
                    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
                    z-index:5;
                }
                &:after{
                    @include Position($top:0, $left:auto, $right:-160px);
                }
            }
        }
    }
    .car-detail-info-section{
        position:relative;
        padding-right:360px;        

        .car-detail-info-area{
            
            .section-form{
                .form-header{
                    .btn-link{
                        @include Position($right: 100px, $top:34px);
                    }
                }
                .form-cont{
                    padding: 20px 0 80px;
                }
            }
            .row{
                padding:0 40px 60px;
                border-bottom:1px solid $border-grey;

                + .row{margin-top:60px;}

                .tit-size-def{margin-bottom:40px;}
                .img-type-list{
                    li{
                        text-align:center;
                        .icon {
                            width:110px;
                            height:70px;
                            background-color:#ab8f7a;                            
                            margin:0 auto 10px; 
                        }
                        .txt{color:#54585a; font-size:14px;}
                    }
                }
                .align-row{
                    @include Align-box;
                    color:#54585a;
                    
                    span{
                        flex:none;
                        width:206px;
                        flex-basis:206px;
                    }

                    + .align-row{margin-top:30px;}
                }
            }
        }
        .car-detail-sticky-wrap{
            @include Position($top:0, $right:0);
            width:330px;
            z-index:5;


            .car-detail-sticky{
                .sticky-row-box{
                    overflow:hidden;
                    @include roundBox;
                    margin-bottom:20px;
                    border:1px solid $border-darkgrey;

                    .icon{margin:0 5px;} 

                    .tbl-type-list{
                        .thead-row, .tbody-row{
                            @include Align-middle;
                            padding:0 20px;
                                            
                            .th-col, .td-col{
                                flex:1; 
                                text-align:center; 
                                border-bottom:1px solid $border-darkgrey;

                                .item{
                                    @include Align-middle;
                                    height:50px;
                                    padding:0 10px;
                                    font-size:14px;
                                    box-sizing: border-box;    
                                }                              
                                .radio-item{
                                    input{display:none;}
                                    label{
                                        position: relative;
                                        @include Align-middle;
                                        height:50px;
                                        box-sizing: border-box;
                                        transition: all .4s;
                                    }
                                    input:checked + label {
                                        @include Bold;
                                        color:$txt-red;                                        
    
                                        &:after{
                                            content:"";
                                            display:block;
                                            width:100%;
                                            height:2px;
                                            background-color:$border-red;
                                            @include Position($bottom:-1px, $right:0, $left:0);                                            
                                            z-index: 5;
                                        }
                                    }
                                }      
                            } 
                            .th-col{@include Bold;}   
                                           
                        }   
                        .thead-row{
                            background-color:#ba9a81; 
                            
                            .th-col, .td-col{
                                border-bottom:none; 
                                color:#fff;
                            }
                        }                             
                    }     

                    .price-area{
                        padding:30px 20px;

                        .tit-size-def{@include Align-middle-left;}
                        .total-box{
                            color:$txt-red;
                            @include Bold;
                            margin-top:20px;
                        }
                    }               
                }
                .sticky-row-box02{
                    .price-area{
                        border-bottom:1px solid $border-grey;
                        .total-box{
                            margin-top:10px;

                            strong{font-size:24px; color:$txt-red;}
                        }
                    }
                    .price-list{
                        padding: 0 20px;
                        li{
                            height:50px;
                            @include Align-between;
                            font-size:14px;
                            border-bottom:1px solid $border-grey;

                            span{
                                @include Align-middle;
                                color:#54585a;
                            }
                            strong{@include Bold;}
                        }
                    }
                    .lst{margin:20px; color:#8f9191;}
                }
                .sticky-counsel{
                    padding:30px;
                    .tit-size-def{margin-bottom:20px;}
                }
            }

            
        }
    }

    //차량상세, 상담하기
    .row{
        .txt-type-list{
            li{
                margin-bottom:40px;

                span{display:block; font-size:14px; color:#54585a; margin-bottom:15px;}
                strong {@include Bold;}
            }
        }
    }
    .agree-area{
        .agree-header{
            margin-bottom:30px;
            label{color:#8f9191;}
        }
        .terms-area{    
            font-size:14px;
            padding:30px;
            margin:35px 40px 0;
            background-color:#fafafa;
            @include roundBox;

            > p {margin-bottom:35px;}
            > ul{margin-bottom:30px;}
            h4{margin:10px 0;}
            
        }
        .info-box{
            font-size:14px;
            margin-top:20px;
        }
        .agree-list{
            border-top:1px solid #e7e7e7;

            > li{
                padding:30px 30px 30px 0;
                margin:5px 0;
                border-bottom:1px solid #e7e7e7;
            }
        }
    }
    .carSpec-section{
        @include Align-box;
        margin-bottom:80px;

        .car-img{
            flex:none;
            width:680px;
            flex-basis: 680px;
        }
        .carSpec-infos{
            .tit{
                @include Bold;
                font-size:35px;
                margin-bottom:35px;
            }
            .bar-type{
                display:flex;
                margin-bottom:30px;

                li{
                    position:relative;
                    color:#54585a;
                    padding-right:20px;
                    font-size:14px;

                    + li{                            
                        padding-left:20px;

                        &:before{
                            content:"";
                            @include Position($top:50%, $left:0);
                            width:1px;
                            height:15px;
                            margin-top:-7px;
                            background-color:#e7e7e7;
                        }
                    }
                }
            }
            .selection{
                @include roundBox;
                border:1px solid $border-darkgrey;
                padding:0 20px;
                box-sizing: border-box;

                .tbl-type-list{
                    .thead-row, .tbody-row{
                        @include Align-middle;
                                        
                        .th-col, .td-col{
                            position:relative;
                            flex:1; 
                            text-align:center;                             
    
                            .item{
                                @include Align-middle;
                                height:70px;
                                padding:0 10px;
                                font-size:14px;
                                box-sizing: border-box;    
                            }                   
                        } 
                        .th-col, strong{@include Bold;}
                    }            
                    .thead-row{
                        .th-col{@include Regular;}
                    }
                } 
                .tbody-row{
                    .th-col, .td-col{
                        border-top:1px solid $border-darkgrey;
                    }
                }

                .btn-box{
                    padding: 20px 20px 30px;
                    border-top:1px solid $border-darkgrey;                    
                }

                .priceInfo-box{         
                    display:none;           
                    @include Position($top:100%, $right:0);            
                    width:240px;
                    box-sizing:border-box;
                    border:1px solid #2f2f2f;
                    text-align:left;
                    padding:15px 20px 25px;
                    margin-top:-15px;
                    background-color:#fff;
                    z-index:5;

                    > ul{
                        border-bottom:1px solid $border-grey;

                        li{                            
                            padding:10px 0;
                            color:#8f9191;

                            + li{padding-top:0;}

                            
                            label{
                                @include Align-between;
                                span {
                                    &:first-child{ margin-right:5px;}
                                }
                            }
                            input{display:none;}
                            input:checked + label{
                                @include Bold;
                                color:#2f2f2f;
                            }
                        }
                    }
                    > div{
                        @include Align-between;
                        padding:10px 0 0;
                        color:#8f9191;

                        span {
                            &:first-child{ margin-right:5px;}
                        }
                    }
                }
            }
            
        }
    }
    
}