//월간 렌트카

.short-container{

    //렌터카 목록
    .section-counsel{
        @include Align-box;
        border:1px solid #e7e7e7;
        margin-bottom:55px;
        @include roundBox; 
        
        .col{
            width:50%;
            padding:40px;
            box-sizing: border-box;
        }

        .btn-link{   
            position:relative; 
            @include Inline-align-middle;
            @include Bold;
            font-size:1rem;
            height:auto;           
            padding:0;
            margin-left:30px;
            margin-bottom:15px;

            .icon{
                @include Position($left:-30px);
            }
        }
    }
    .sort-section{
        @include Align-top-left;
        //flex-wrap: nowrap;

        .selection-area, .result-area{
            .top-header{
                @include Align-middle-left;       
                height:70px;
            }
        }
        .selection-area{            
            flex:none;
            width:330px;
            flex-basis: 330px;
            padding-right:40px;
            box-sizing: border-box;

            .top-header{             
                .tit{@include Bold; font-size:22px;}
                .btn{
                    @include Align-middle; 
                    padding:0;
                    margin-left:auto; 
                    font-size:14px;
                    
                    .icon{margin-left:10px;}
                }
            }
            .selection-cont{
                padding:20px;                
                border:1px solid #e7e7e7;
                border-radius: 6px;
                margin-bottom:15px;
                box-sizing: border-box;

                .btn-short-filter-toggle{
                    @include Align-box;
                    width:100%; 
                    @include Bold;
                    font-size:18px;                    
                    text-align:left;
                    padding-bottom:20px; 
                    border-bottom: 1px solid #d2d2d2;
                    margin-bottom:20px;

                    .icon{
                        @include Align-middle;
                        margin-left:auto;
                        height:18px;
                        transition: transform .5s;
                        transform: rotate(180deg);
                    }
                    &.active {
                        .icon{
                            transform: rotate(0deg);
                        }
                    }
                }
                .filter-zone, .filter-zone2{
                    color:#8f9191;                    
                }
                .filter-zone2{
                    position:relative;
                    border:1px solid #d2d2d2;

                    &:before, &:after{
                        content:"";
                        @include Position($top:40px, $left:0);
                        width:100%;
                        height:1px;
                        background-color:#d2d2d2;
                    }
                    &:after{
                        @include Position($top:80px);                        
                    }
                    
                    .select-list{
                        position:relative;
                        @include Align-box;

                        li{
                            position:relative;
                            @include Align-middle;
                            width:33.333%;
                            flex-basis: 33.333%;
                            height:40px;     
                            
                            label{
                                @include Align-middle;
                                @include Position($top:0, $left:0, $right:0, $bottom:0);
                                z-index:5;
                           }
                           input{display:none;}
                           input:checked + label{
                                @include Bold;
                                color:#ff404b;
                                border:1px solid #ff404b;
                                background-color:#fff9f9;
                           }      
                            
                           &:nth-of-type(3n){
                              label{
                                  width:100%;
                              }
                           }
                        }

                        &:before, &:after{
                            content:"";
                            @include Position($top:0, $left:33.3333%);
                            width:1px;
                            height:100%;
                            background-color:#d2d2d2;
                        }
                        &:after{
                            @include Position($left:auto, $right:33.3333%);                        
                        }
                    }
                }
            }
        }
        .result-area{
            width:100%;
            .top-header{               
                margin-bottom:20px;
                border-bottom:1px solid #e7e7e7;

                .total-box{
                    @include Align-middle;
                    strong{@include Bold; font-size:16px;}
                }
                .selelct-box{@include Align-middle; margin-left:auto;}
            }
            .result-cont{
                .item{
                    display:block;
                    width:100%;
                    text-align:center;
                    color:#54585a;

                    .descri-box{
                        > *{
                            display:block;
                            font-size:14px;
                            margin-bottom:10px;
                        }
                        strong{@include Bold; font-size:1.08rem; color:#2f2f2f;}
                        .bar-type{
                            > span{ 
                                position:relative; 
    
                                + span{
                                    padding-left:10px;
                                    margin-left:10px;                            
    
                                    &:before{
                                        content:"";
                                        @include Position($top:50%, $left:0);
                                        display:block;
                                        width:1px;
                                        height:14px;
                                        margin-top:-7px;
                                        background-color:#e7e7e7;
                                    }
                                }
                            }
                        }
                        .price{
                            @include Bold;
                            align-items: baseline;
                            color:#da291c;
                            font-size:22px;
    
                            small{font-size:14px; margin-right:10px;}
                        }
                    }                    
                }       
                .btn-box{
                    width:100%;
                    padding:5px;
                    text-align:center;

                    .btn{
                        min-width:136px;
                        padding:0 25px;
                        height:40px;
                        border:1px solid #d2d2d2;
                    }
                    button[disabled]{border:none;}
                }        
            }
        }
    }

    //차량 상세 : 201116 디자인 변경으로 수정될 예정
    .car-detail-section{     
        @include topSectMg;        
        background: rgb(245,245,245);
        background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

        .car-detail-inner{
            padding-top:130px;
            background: rgb(245,245,245);
            background: linear-gradient(90deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 42%, rgba(255,255,255,1) 42%, rgba(255,255,255,1) 100%);
            
            .info-box{margin-top:160px;}
        }
    }
    .car-detail-inner{
        @include Align-box;

        .col{
            width:680px;
            padding-top:80px;
            .info-box{padding-right:120px; color:#54585a; font-size:14px;}
        }
        .col2{
            width:520px;
            padding-top:0;

            .name{
                @include Bold;
                font-size:36px;
                height:80px;                    
            }
            .spec-box{
                min-height:232px;
                padding-bottom:30px;
                margin-bottom:10px;
                border-bottom:1px solid #e7e7e7;

                .row{
                    @include Align-middle-left;
                    margin-bottom:30px;
                }
                dt{ 
                    @include Align-middle;
                    justify-content: flex-start;
                    @include Bold;
                    width:210px;
                    box-sizing: border-box;

                    .icon{
                        width:32px;                            
                    }
                }
            }
            .price-box{
                @include Align-box;
                @include Bold;
                padding:40px 0;
                font-size:20px;

                .price{
                    font-size:26px;
                    color:#da291c;
                    margin-left:auto;
                }
            }
            .btn-box{
                padding:20px 0;
                .btn{width:100%;}
                .desabled{
                    color:#bbb;
                    background-color:#f5f5f5;
                }
            }                
        }
        
    }

    //상담 신청
    .section-top{
        text-align:center;
        margin-bottom:60px;

        .step-list{
            @include Inline-align-top;

            li{
                padding:0 67px;

                &.active{
                    .txt{
                        @include Bold;
                        color:#ed1c24;
                    }
                }
                .icon{position:relative; z-index: 5;}
                .txt{
                    color:#8f9191;
                    margin-top:15px;
                }
                & + li{
                    position:relative;
                    
                    &:after{
                        content:"";
                        @include Position($top: 16px, $left: -50%);
                        display:block;
                        width:100%;
                        height:1px; 
                        background-color:#e7e7e7;
                    }
                }
            }
        }
    }
    .car-detail-area{
        .row-type2{
            @include Align-box;

            > .col{
                width:680px;
                padding:40px;
                box-sizing:border-box;
            }
            > .col2{
                width:520px;
                padding-right:20px;
                box-sizing:border-box;
            }

            &.v2{border-top:1px solid #e7e7e7;}
        }
        
        .img-box{
            @include Align-middle
        }
        
        .descri-box{

            .top-tit{
                @include Bold;
                font-size:32px;
                margin-bottom:50px;
            }

            .spec-box{
                min-height:230px;
                padding-bottom:30px;

                .row{
                    @include Align-middle-left;
                    margin-bottom:30px;
                }
                dt{ 
                    @include Align-middle;
                    justify-content: flex-start;
                    @include Bold;
                    width:210px;
                    box-sizing: border-box;

                    .icon{
                        width:32px;                            
                    }
                }
            }
            
        }

        .price-box{
            padding:40px 0;

            > .row{
                @include Align-box;
                @include Bold;
                font-size:20px;
                margin-bottom:20px;
                align-items: baseline;

                .price{
                    color:#da291c;
                    margin-left:auto;
                    font-size:26px;
                }

                &:last-child{margin-bottom:0;}
            }
        }

        .info-box{
            font-size:14px;
        }
    }
    .delivery-cont{
        > .row{width:700px; margin:0 auto;}
        .delivery-box{
            padding-top:50px;
            margin-bottom:30px;
            .right{width:80px; margin-left:5px;}
        }
        .info-box{
            font-size:14px;
        }
    }
    .delivery-license-cont{
        @include Background($sprite:'img-short-driver-license', $type:'png', $position:740px 38px, $path:'');
    }
    .agree-area{
        .agree-header{
            margin-bottom:30px;
            label{color:#8f9191;}
        }
        .terms-area{    
            font-size:14px;
            padding:30px;
            margin:35px 40px 0;
            background-color:#fafafa;
            @include roundBox;

            > p {margin-bottom:35px;}
            > ul{margin-bottom:30px;}
            h4{margin:10px 0;}
            
        }
        .info-box{
            font-size:14px;
            margin-top:20px;
        }
        .agree-list{
            border-top:1px solid #e7e7e7;

            > li{
                padding:30px 30px 30px 0;
                margin:5px 0;
                border-bottom:1px solid #e7e7e7;
            }
        }
    }
    .gray-noti-section{
        text-align:center;
        padding:60px;
        margin-bottom:60px;
        background-color:#f5f5f5;
        @include roundBox;

        .tit{
            display:block; 
            font-size:26px;
            margin-bottom:20px;
        }
    }
    .section-format{
        .format-area{
            .btn{
                display: inline-block;
                width: auto;
                margin-left: 10px;
            }
        }
        .img-box{
            width:520px;
            margin-left:50px;
            box-sizing: border-box;
        }
    }
    .talk-section{
        @include Bold;
        @include Align-middle;
        color:#54585a;
        font-size:20px;
        margin-bottom:60px;

        .icon{margin-right:20px;}
    }

    //대여 및 요금안내  
    .detail-layer-nav-wrap{
        height:176px;
        margin-bottom:80px;

        &.fixed{             
            .detail-layer-nav{
                position: fixed;
                top: 0;
                z-index:10;
                background-color:#fff;

            }
        }  
    }
    .section-indicator {
        border-top:1px solid #eee;

        .detail-layer-nav{
            position:relative;
            @include innerType2Width;
            @include Align-between-top;
            border-bottom: 1px solid #eee;
            box-sizing: border-box;            

            button{
                height:176px;
                padding: 40px;
                font-size:14px;

                .icon{height:48px; margin-bottom:30px;}
        
                &.active{
                    position:relative;
                    @include Bold;
                    
                    &:after{
                        content:"";
                        @include Position($left:0, $bottom:-1px);
                        display:block;
                        width:100%;
                        height:4px;
                        background-color:#ff404b;
                        z-index: 5;
                    }
                }
            }
               
        }
    }        
    .purchase-step{
        > li{
            text-align:center;
            padding:0 10px;
            box-sizing: border-box;

            &:after, &:before{
                content:"";
                display:block;
            }
            
            &:before{			
                @include Position($top:58px, $right:0);
                @include arrow;
            }
            &:after{
                @include Position($top:60px, $right:3px);
                @include arrowInner;
                z-index:5;
            }
            .img-item{
                @include Align-middle;
                height:150px;
            }
            .tit{@include Bold;}
            .txt{text-align:center; margin-top:24px;}
            .lst{margin-top:24px;}

            &:last-of-type{
                &:after, &:before{display:none;}
            }
        }
        &.grid-col.col3 {
            li{
                &:nth-of-type(3n){
                    &:after, &:before{display:none;}
                }
            }
        }
        &.grid-col.col4 {
            li  {
                &:nth-of-type(4n){
                    &:after, &:before{display:none;}
                }
            }                
        }        
    }
    .fee-info-section{
        .explain-cont{padding:0 40px;}
        .box-align{
            .img-box{
                flex:none;
                @include Align-middle-left;
                width:600px;
                
                img{max-width:auto;}
            }
            .descri-box{
                .tit-size-big{margin-bottom:30px;}
                .lst{
                    padding-bottom:40px - 25px;
                    li{
                        margin-bottom:25px;
                    }
                }
                .btn-box{display:block;}
            }
        }
    }
    .reward-section{
        .tbl-box{
            table{
                th, td{padding:20px 60px;}
            }
        }
    }
    .cdw-section, .management-section, .derivery-section, .smartpick-section, .pet-car-section, .courtesyCar-section, .compensate-section{
        .descri-box{
            margin:60px 0 0;
            dt{
                @include Bold;
                font-size:18px;
                margin-bottom:25px;
            }
            dd{
                margin-bottom:60px;

                .txt{margin-bottom:30px;}
            }
        }
    }
    .mileage-section{
        .asiana-box, .koreanair-box{
            @include roundBox;
            @include Align-middle;
            height:160px;
            border:1px solid #e6e6e6;
            margin-bottom:40px;

            .btn{width:auto;}
        }
        .koreanair-box{margin-top:60px;}
    }
    .smartpick-section, .courtesyCar-section {
        .tel-box{
            @include roundBox;
            @include Align-middle;
            @include Bold;
            font-size:18px;
            padding:40px;
            margin-bottom:30px;
            background-color:#fafafa;
        }
    }
    .qna-section{
        .qna-lst{
            .accor-header{                
                border-bottom:1px solid #e7e7e7;
                
                .btn-toggle{
                    @include Bold;
                    @include Align-baseline;
                    width:100%;
                    height:auto;
                    padding:20px 0;
                    .bul{
                        @include Align-middle;
                        @include Bold;
                        flex:none;
                        flex-basis: 40px;
                        width:40px;
                        height:40px;
                        margin-right:20px;
                        border-radius: 40px;
                        background-color:#fafafa;
                        border:1px solid #e7e7e7;
                    }

                    &:after{right:0}
                }
            }
            .accor-cont{
                padding:40px 20px 40px 60px;
                border-bottom:1px solid #e7e7e7;
            }
        }
    }
    .explain-cont{
        > .tit{@include Bold; font-size:18px; margin-bottom:20px;}
        > .txt{margin-bottom:30px;}
        > .txt-box{margin-bottom:30px;}
        > .btn-box{
            padding:40px 0;
        }
        > .grid-row{            
            > li{
                width:100%;
                
                .descri-box{
                    width:100%;
                }
            }
        }
        .img-box, .video-box{text-align:center;}
    }
    .tbl-box{
        margin-bottom:20px;

        .tit{
            @include Bold; 
            font-size:18px; 
            margin-bottom:30px;
        }
        table{
            width:100%;
            border-top:1px solid #e7e7e7;
            
            th, td{
                padding:30px; 
                text-align:center; 
                border-bottom:1px solid #e7e7e7; 
                border-right:1px solid #e7e7e7;
                color:#54585a; 
                vertical-align: middle;
            }
            thead th, td{
                &:last-of-type{border-right:none;}
            }
            th{background-color:#fafafa;}
            .align-l{text-align:left;}

        }

        ~ .tbl-box{margin-top:60px;}
    }
    .tab-cont-inner{
        padding:20px 0;
    }
    .car-type-tab{
        .menu-list{
            @include Inline-align-top;
            margin:20px 0 40px;

            li{
                padding:0 15px;
                button{
                    height:auto;
                    padding:5px;
                    font-size:16px;
                    color:#54585a;
                    border-bottom:0;
                }

                &.active{
                    button{
                        @include Bold;
                        color:#2f2f2f;
                        border-bottom:1px solid #2f2f2f;
                    }
                }
            }
        }
    }
    .btn-area{padding:60px 0;}
}