.icon {
    @include Vertical-inline;
    @include Hide_txt;
    flex: none;
    &.loginClose {
        @include Background($sprite:'ico-close', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.stepsChk {
        @include Background($sprite:'ico-stepsChk', $position:center center);
        width: 12px;
        height: 12px;
    }
    &.fast {
        @include Background($sprite:'ico-estimate-btn1', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.fast2 {
        @include Background($sprite:'ico-estimate-btn01', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.pro {
        @include Background($sprite:'ico-estimate-btn2', $position:center center);
        width: 15px;
        height: 15px;
        &.circle {
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background-color: #02B174;
        }
    }
    &.pro2 {
        @include Background($sprite:'ico-estimate-btn02', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.filter {
        @include Background($sprite:'ico-select-off', $position:center center);
        width: 13px;
        height: 13px; 
    }
    &.reset {
        @include Background($sprite:'ico-reset', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.info {
        @include Background($sprite:'ico-info', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.info2 {
        @include Background($sprite:'ico-info2', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.fuelG {
        @include Background($sprite:'ico-fuel-g', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelD {
        @include Background($sprite:'ico-fuel-d', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelL {
        @include Background($sprite:'ico-fuel-l', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelH {
        @include Background($sprite:'ico-fuel-h', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.fuelE {
        @include Background($sprite:'ico-fuel-e', $position:center center);
        width: 35px;
        height: 35px;
    }
    &.star {
        @include Background($sprite:'ico-star_off', $position:center center);
        width: 14px;
        height: 14px;
        &.active {
            @include Background($sprite:'ico-star_on', $position:center center);
        }
    }
    &.video {
        @include Background($sprite:'ico-play', $position:center center);
        width: 40px;
        height: 40px;
    }
    &.heart {
        @include Background($sprite:'ico-heart', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.speak {
        @include Background($sprite:'ico-speak', $size:14px, $position:center center);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border:1px solid #EBEBEB;
    }
    &.app01 {
        @include Background($sprite:'ico-app01', $position:center center);
        width: 140px;
        height: 25px;
    }
    &.app02 {
        @include Background($sprite:'ico-app02', $position:center center);
        width: 129px;
        height: 29px;
    }
    &.snsB {
        @include Background($sprite:'ico-sns-blog', $position:center center);
        width: 10px;
        height: 14px;
    }
    &.snsF {
        @include Background($sprite:'ico-sns-fb', $position:center center);
        width: 10px;
        height: 18px;
    }
    &.snsI {
        @include Background($sprite:'ico-sns-insta', $position:center center);
        width: 16px;
        height: 16px;
    }
    &.snsK {
        @include Background($sprite:'ico-sns-kakao', $position:center center);
        width: 20px;
        height: 18px;
    }
    &.snsY {
        @include Background($sprite:'ico-sns-yt', $position:center center);
        width: 16px;
        height: 11px;
    }
    &.mypage {
        @include Background($sprite:'ico-mypage', $position:center center);
        width: 28px;
        height: 26px;
    }
    &.draw {
        @include Background($sprite:'ico-draw', $position:center center);
        width: 22px;
        height: 20px;
    }
    &.global {
        @include Background($sprite:'ico-global', $position:center center);
        width: 22px;
        height: 22px;
    }
    &.next02 {
        @include Background($sprite:'ico-next02', $position:center center);
        width: 5px;
        height: 10px;
    }
    &.login-naver {
        @include Background($sprite:'ico-login-naver', $position:center center);
        width: 18px;
        height: 17px;
    }
    &.login-kakao {
        @include Background($sprite:'ico-login-kakao', $position:center center);
        width: 23px;
        height: 22px;
    }
    &.login-fb {
        @include Background($sprite:'ico-login-fb', $position:center center);
        width: 13px;
        height: 24px;
    }
    &.lpoint-logo {
        @include Background($sprite:'ico-lpoint-logo', $position:center center);
        width: 356px;
        height: 43px;
    }
    &.data-new {
        @include Background($sprite:'ico-data-new', $position:center center);
        width: 15px;
        height: 15px;
    }
    &.home{
        @include Background($sprite:'ico-home', $position:center center);
        width: 18px;
        height: 18px;
    }
    &.share{
        @include Background($sprite:'ico-share', $position:center center);
        width: 22px;
        height: 24px;
        @include Hide_txt;
    }
    &.progress{
        @include Background($sprite:'ico-chk-off02', $position:center center);
        width: 32px;
        height: 32px;
    }
    &.complete{
        @include Background($sprite:'ico-chk-on02', $position:center center);
        width: 32px;
        height: 32px;
    }
    &.date{
        @include Background($sprite:'ico-date', $position:center center);
        width: 19px;
        height: 19px;
    }
    &.swiper-prev{
        @include Background($sprite:'ico-swiper-prev', $position:center center);
        width: 27px;
        height: 50px;
    }
    &.swiper-next{
        @include Background($sprite:'ico-swiper-next', $position:center center);
        width: 27px;
        height: 50px;
    }
    &.fb{
        @include Background($sprite:'ico-fb', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.ig{
        @include Background($sprite:'ico-ig', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.nb{
        @include Background($sprite:'ico-nb', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.np{
        @include Background($sprite:'ico-np', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.tw{ 
        @include Background($sprite:'ico-tw', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.yt{
        @include Background($sprite:'ico-yt', $position:center center);
        width: 30px;
        height: 30px;
    }
    &.date2{
        @include Background($sprite:'ico-date2', $position:center center);
        width: 21px;
        height: 22px;
    }
    &.info3{
        @include Background($sprite:'ico-info3', $position:center center);
        width: 20px;
        height: 20px;
    }
    &.counsel{
        @include Background($sprite:'ico-counsel', $position:center center);
        width: 24px;
        height: 23px;
    }
    &.note{
        @include Background($sprite:'ico-note', $position:center center);
        width: 19px;
        height: 22px;
    }
    &.reset2{
        @include Background($sprite:'ico-reset2', $position:center center);
        width: 14px;
        height: 13px;
    }
    
    &.arrow-up{
        @include Background($sprite:'ico-arrow-up', $position:center center);
        width: 16px;
        height: 7px;
    }
    &.chk2{
        @include Background($sprite:'ico-chk2', $position:center center);
        width: 13px;
        height: 10px;
    }
    &.chk-on2{
        @include Background($sprite:'ico-chk-on2', $position:center center);
        width: 13px;
        height: 10px;
    }    
    &.car-spec01{
        @include Background($sprite:'ico-car-spec01', $position:center left);
        width: 21px;
        height: 17px;
    }
    &.car-spec02{
        @include Background($sprite:'ico-car-spec02', $position:left center);
        width: 20px;
        height: 20px;
    }
    &.car-spec03{
        @include Background($sprite:'ico-car-spec03', $position:left center);
        width: 18px;
        height: 21px;
    }
    &.car-spec04{
        @include Background($sprite:'ico-car-spec04', $position:left center);
        width: 21px;
        height: 20px;
    }
    &.car-spec05{
        @include Background($sprite:'ico-car-spec05', $position:left center);
        width: 17px;
        height: 18px;
    }
    &.talk{
        @include Background($sprite:'ico-talk', $position:center);
        width: 48px;
        height: 44px;
    }
    &.arrow-link{
        @include Background($sprite:'ico-arrow-link', $position:center);
        width: 30px;
        height: 30px;
    }
    &.appStore{
        @include Background($sprite:'ico-appStore', $position:center);
        width: 22px;
        height: 27px;
    }
    &.googlePlay{
        @include Background($sprite:'ico-googlePlay', $position:center);
        width: 25px;
        height: 28px;
    }

    &.purchase-step01{
        @include Background($sprite:'ico-purchase-step01', $position:center);
        width: 93px;
        height: 98px;
    }
    &.purchase-step02{
        @include Background($sprite:'ico-purchase-step02', $position:center);
        width: 109px;
        height: 79px;
    }
    &.purchase-step03{
        @include Background($sprite:'ico-purchase-step03', $position:center);
        width: 106px;
        height: 70px;
    }
    &.purchase-step04{
        @include Background($sprite:'ico-purchase-step04', $position:center);
        width: 81px;
        height: 100px;
    }
    &.purchase-step05{
        @include Background($sprite:'ico-purchase-step05', $position:center);
        width: 93px;
        height: 95px;
    }
    &.purchase-step06{
        @include Background($sprite:'ico-purchase-step06', $position:center);
        width: 115px;
        height: 96px;
    }
    &.heart-off{
        @include Background($sprite:'ico-heart-off', $position:center);
        width: 24px;
        height: 25px;
    }
    &.heart-on{
        @include Background($sprite:'ico-heart-on', $position:center);
        width: 24px;
        height: 25px;
    }
    &.location{
        @include Background($sprite:'ico-location', $position:center);
        width: 14px;
        height: 18px;
    }
    &.tel{
        @include Background($sprite:'ico-tel', $position:center);
        width: 33px;
        height: 33px;
    }
    &.info04{
        @include Background($sprite:'ico-info04', $position:center);
        width: 16px;
        height: 16px;
    }
    &.certi-card{
        @include Background($sprite:'ico-certi-card', $position:center);
        width: 106px;
        height: 71px;
    }
    &.certi-phone{
        @include Background($sprite:'ico-certi-phone', $position:center);
        width: 67px;
        height: 91px;
    }
    &.pannel01{
        @include Background($sprite:'ico-pannel01', $position:center);
        width: 57px;
        height: 41px;
    }
    &.pannel02{
        @include Background($sprite:'ico-pannel02', $position:center);
        width: 43px;
        height: 43px;
    }
    &.pannel03{
        @include Background($sprite:'ico-pannel03', $position:center);
        width: 65px;
        height: 48px;
    }
    &.pannel04{
        @include Background($sprite:'ico-pannel04', $position:center);
        width: 68px;
        height: 45px;
    }
    &.pannel05{
        @include Background($sprite:'ico-pannel05', $position:center);
        width: 69px;
        height: 45px;
    }
    &.pannel06{
        @include Background($sprite:'ico-pannel06', $position:center);
        width: 43px;
        height: 45px;
    }
    &.pannel07{
        @include Background($sprite:'ico-pannel07', $position:center);
        width: 38px;
        height: 44px;
    }
    &.pannel08{
        @include Background($sprite:'ico-pannel08', $position:center);
        width: 41px;
        height: 11px;
    }
    &.fee01{
        @include Background($sprite:'ico-fee01', $position:center);
        width: 66px;
        height: 56px;
    }
    &.fee02{
        @include Background($sprite:'ico-fee02', $position:center);
        width: 54px;
        height: 55px;
    }
    &.fee03{
        @include Background($sprite:'ico-fee03', $position:center);
        width: 60px;
        height: 47px;
    }
    &.fee04{
        @include Background($sprite:'ico-fee04', $position:center);
        width: 43px;
        height: 59px;
    }
    &.etc-info01{
        @include Background($sprite:'ico-etc-info01', $position:center);
        width: 71px;
        height: 58px;
    }
    &.etc-info02{
        @include Background($sprite:'ico-etc-info02', $position:center);
        width: 76px;
        height: 58px;
    }
    &.etc-info03{
        @include Background($sprite:'ico-etc-info03', $position:center);
        width: 50px;
        height: 61px;
    }
    &.pop-close{
        @include Background($sprite:'ico-pop-close', $position:center);
        width: 29px;
        height: 29px;
    }
    &.person{
        @include Background($sprite:'ico-person', $position:center);
        width: 19px;
        height: 18px;
    }
    &.amount{
        @include Background($sprite:'ico-amount', $position:center);
        width: 19px;
        height: 17px;
    }
    &.pop-info{
        @include Background($sprite:'ico-pop-info', $position:center);
        width: 17px;
        height: 19px;
    }
    &.list{
        @include Background($sprite:'ico-list', $position:center);
        width: 19px;
        height: 17px;
    }
    &.list2{
        @include Background($sprite:'ico-list2', $position:center);
        width: 19px;
        height: 17px;
    }
    &.heart2-off{
        @include Background($sprite:'ico-heart2-off', $position:center);
        width: 18px;
        height: 16px;
    }
    &.heart2-on{
        @include Background($sprite:'ico-heart2-on', $position:center);
        width: 18px;
        height: 16px;
    }
    
}


//캐스케이드
button.active .filter{
    @include Background($sprite:'ico-select-on', $position:center center);
}


.flag {
    height: 20px;
    border-radius: 15px;
    padding: 0 10px;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 1;
    @include Inline-align-middle;
    @include Normal;
    &.best {
        border: 1px solid #25C1D6;
        color: #25C1D6;
        margin-left: 5px;
        @include Bold;
    }
    &.low {
        border: 1px solid #9198FF;
        color: #9198FF;
        margin-left: 5px;
        @include Bold;
    }
    &.hot {
        border: 1px solid #20BBC4;
        color: #20BBC4;
        @include Bold;
    }
    &.think {
        border: 1px solid #5793E5;
        color: #5793E5;
        @include Bold;
    }
    &.battle {
        border: 1px solid #9198FF;
        color: #9198FF;
        @include Bold;
    }
    &.fast {
        @include Position($top: 10px, $left: 10px);
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 30px;
        border-radius: 15px;
        padding: 0 10px;
        background-color:#406FF0;
        i {margin-right: 5px;}
    }
    &.fast2 {
        @include Align-middle-column;
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 80px;
        width: 80px;
        padding:0;
        border-radius: 100%;
        background-color:#406FF0;
        i {margin-bottom: 5px;}
    }
    &.pro {
        @include Position($top: 10px, $left: 10px);
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 30px;
        border-radius: 15px;
        padding: 0 10px;
        background-color:#02B174;
        i {margin-right: 5px;}
    }
    &.pro2 {
        @include Align-middle-column;
        @include Bold;
        font-size: 13px;
        color: #fff;
        height: 80px;
        width: 80px;
        padding:0;
        border-radius: 100%;
        background-color:#02B174;
        i {margin-bottom: 5px;}
    }
    &.time {
        @include Position($top:0, $left: 1.3rem);
        font-size:0;
        background-color: #F04040;
        height: 2.6rem;
        border-radius: 0 0 1rem 1rem;
        padding: 0 1rem;
        z-index: 2;
        i {margin-right: .5rem;}
        p{
            @include Vertical-inline;
            @include Bold;
            font-size:1rem;
            color:#fff;
        }
    }
    &.circle {
        @include Position($bottom: -1.9rem, $right: 1.3rem);
        @include Bold;
        @include Align-middle;
        border-radius: 100%;
        line-height: 1.3;
        font-size:1rem;
        height: 4.1rem;
        width: 4.1rem;
        color:#fff;
        background-color: #F04040;
        z-index: 2;
        &.off {
            background-color: #B4B8BF;
        }
    }
    &.num {
        @include Position($top: 0, $left: 0);
        background-color: #1E1E1E;
        color: #fff;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 0 0 .8rem 0;
        @include Bold;
    }
    &.point{
        color:#fff;
        @include Bold;
        font-size:15px;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background: rgb(251,68,87);
        background: linear-gradient(90deg, rgba(251,68,87,1) 0%, rgba(241,93,55,1) 100%);
    }
    &.coupon{
        color:#fff;
        @include Bold;
        font-size:15px;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background: rgb(129,112,221);
        background: linear-gradient(90deg, rgba(129,112,221,1) 0%, rgba(86,178,192,1) 100%);
    }
}

.flag-wrap {
    @include Position($top: 10px, $left: 10px);
    z-index: 2;
    .flag{
        @include Position($position:static);
        @include Align-middle;
        margin-bottom:10px;
    }
}
.flag-bottom-wrap {
    @include Position($bottom: -.85rem, $left: 1.3rem);
    font-size: 0;
    z-index: 2;
    .flag{
        @include Position($position:static);
        margin-right:.6rem;
    }
}

.flag-inline-wrap {
    font-size: 0;
    .flag {
        margin-right: 10px;
    }
}

.flag-big-wrap {
    @include Position($top: 30px, $left: 0);
    @include Align-middle-left;
    z-index: 2;
    .flag {
        position: relative;
        & + .flag {
            left: -10px;
        }
    }
}