$medium-devices: 768px;
$small-devices: 480px;
$extra-small-devices: 320px;

@mixin Clear {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
@mixin Normal {
	font-family:"ManropeL", "NotoL", serif;/*font-family:"SpoqaL", serif;*/
	font-weight: normal;
}
@mixin Regular {
	font-family:"ManropeR", "NotoR", serif;/*font-family: "SpoqaR", serif;*/
	font-weight: normal;
}
@mixin Bold {
	font-family:"ManropeB", "NotoM", serif;/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

@mixin NoscrollBar {
	scrollbar-width: none;
    -ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin Vertical-inline {
	display: inline-block;
	vertical-align: middle;
}

@mixin Align-box {
	display: flex;
	flex-wrap: wrap;
}

@mixin Align-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin Align-middle-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
@mixin Align-top-column {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column;
}
@mixin Align-top-left-column {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
@mixin Align-middle-left {
	display: flex;
	align-items: center;
}
@mixin Align-middle-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@mixin Align-top {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
@mixin Align-top-left {
	display: flex;
	align-items: flex-start;
	justify-content: left;
}
@mixin Align-bottom-middle {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
@mixin Align-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin Align-between-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
@mixin Align-between-base {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin Inline-align-middle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@mixin Inline-align-top {
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
}
@mixin Inline-align-top-left-flex-wrap {
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap : wrap;
}


/*인라인 가로스크롤*/
@mixin Inline-scrolling {
	box-sizing: border-box;
	font-size:0;
	overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
	width: 100%;
	padding-bottom: .2rem;
}

/*폰트만 삭제시킴*/
@mixin Hide_txt {
    font:0/0 a;
}

/*투명도 믹스인*/
@mixin Opacity($opacity) {
	opacity: $opacity; /* All modern browsers */
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE); /* For IE5~IE9 */
}

/*포지션 믹스인*/
//@include Position($top: 0, $left: 0)
@mixin Position($position:absolute, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

/*백그라운드 믹스인*/
//@include Background($sprite:'error', $type:'png', $position:right center); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $y:0); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $position:20% 20%, $size:100%); ---  사용법
@mixin Background($sprite, $type:'png', $position:0 0, $size:auto, $path:'icons') {
	background-repeat: no-repeat;
	background-image: url('../../resources-pc/images/#{$path}/#{$sprite}.#{$type}');
	background-position: $position;
	background-size: $size;
}

/* 말줄임표 */
// 인자 값의 기본 값은 1
// @include Ellipsis($w:100px, $lines:2); --- 사용법
@mixin Ellipsis($w:100%, $lines:1, $display:block) { 
	@if ($lines == 1) {
		width:$w;
		display:$display;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		width:$w;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
		word-break: break-all;
	}
}

//커스텀 스크롤바
@mixin CustumScroll($minus:5px) {
	&::-webkit-scrollbar {
		width: 17px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #E1E1E1;
		border: $minus solid transparent;
		background-clip: content-box;
		border-radius: 15px;
	}
	&::-webkit-scrollbar-track {
		background-color: #FAFAFA;
		border: $minus solid transparent;
		background-clip: content-box;
		border-radius: 15px;
	}
	scrollbar-base-color: #E1E1E1;
	scrollbar-face-color: #E1E1E1;
	scrollbar-3dlight-color: #E1E1E1;
	scrollbar-highlight-color: #E1E1E1;
	scrollbar-track-color: #FAFAFA;
	scrollbar-arrow-color: #FAFAFA;
	scrollbar-shadow-color: #FAFAFA;
	scrollbar-dark-shadow-color: #FAFAFA;
}

/*미디어쿼리 믹스인*/
//@include media( $queryPoint: "(max-width:480px)" ){
	//width : 50%;
//}
@mixin media( $queryPoint ){
	@media #{ $queryPoint } {
		@content;
	}
}






/* 2020-10-23 공통 스타일 추가(임시) */
$main-border-radius: 6px;

@mixin innerType2Width {
    width:1200px;
}
@mixin roundBox {
	border-radius: $main-border-radius;
}
@mixin arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.5px 0 8.5px 8px;
	border-color: transparent transparent transparent #d2d2d2;
}
@mixin arrowInner{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6.5px 0 6.5px 5px;
	border-color: transparent transparent transparent #ffffff;
}
@mixin topSectMg { //상단 로케여션 영역까지 백그라운드 채우기 위한 마진 값
	margin-top:-130px;
}

@mixin Inline-align-top-left {
	display: inline-flex;
	align-items: flex-start;
	justify-content: left;
}
@mixin Inline-align-baseline {
	display: inline-flex;
	align-items: baseline;
	justify-content: left;
}
@mixin Align-baseline {
	display: flex;
	align-items: baseline;
	justify-content: left;
}

//@include box-shadow($top:0, $left:0px, $blur:15px, $color:rgba(50, 50, 50, 0.75));
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

//폼 타이틀과 폼 인풋 영역 - 1줄
@mixin formRow{
	@include Inline-align-baseline;
	width:100%;

	.inputT, .selectbox{
		max-width:50%;

		+ .inputT, + .selectbox, + button, .select-area{
			margin-left:5px;
		}	
	}
	.textarea{width:100%;}
	.select-area{
		select{
			+ select{margin-left:5px}
		}
	}
	
	.input-tit{
		@include Bold;
		width:170px; 
		flex-basis: 170px;
		flex-shrink: 0;
	}
	.input-cont{	
		flex: 1;

		> *{
			&:first-of-type{
				~ *{
					margin-top:10px;
				}
			}
		}
	}
	.txt-valid {margin-top:10px;}
	.txt-exam{padding:0 5px; color:#8f9191;}
	.at, .hypen{margin:0 5px;}
}

html, body{
	font-size:16px;
	@include Regular;
}
#wrap{padding-bottom:120px;}

$border-grey:#e7e7e7;
$border-darkgrey:#d2d2d2;
$border-red:#ff404b;
$txt-red: #ed1c24;


.txt-brown{color:#ba9a81;}
.txt-red{color:$txt-red;}
.txt-color-red{color:$txt-red;}
.txt-color-lightgrey{color:#8f9191}
.txt-color-brown{color:#ba9a81;}
.txt-bold{@include Bold;}
.txt-hide{@include Hide_txt;}
.txt-small{font-size:14px;}

.tit{@include Bold;}
.tit-size-def{@include Bold; font-size:18px;}
.tit-size-mid{@include Bold; font-size:24px;}
.tit-size-big{@include Bold; font-size:32px;}

.underline{
	@include Bold;
	padding-bottom:2px;
	border-bottom:1px solid #54585a;
}
.inline-block{display:inline-block;}

.tbl-type01{
    width:100%;
    border:0;

    th, td{
        height:50px;
        padding:10px 40px;
        text-align:center;
        vertical-align: middle;
        @include Regular;
    }
    th{
        font-size:17px;
        @include Bold;
        background-color:#f5f5f5;
        &:first-of-type{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &:last-of-type{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    td{
        border-bottom:1px solid #e7e7e7;

        &:first-of-type{
            text-align:left;
        }
    }
}
.form-cont{
	.form-row{
		@include formRow;

		.txt-exam.txt-color-red{
			color:$txt-red;
		}
		+ .form-row{margin-top:20px;}
		.inputT + .txt-exam{margin-left:20px;}
	}
}
.section{
	&-headline{ //페이지 타이틀
		text-align:center;
		padding-bottom:60px;

		.tit{@include Bold; font-size:40px;}
		.txt{margin-top:20px;}

		.btn-share{
			@include Position($top:0, $right:0);
		}
	}
	&-explain{
		padding-bottom:60px;

		.explain-header{ //제목
			padding-bottom:30px;
            margin-bottom:60px;
            border-bottom:1px solid #e7e7e7;
		}
		.explain-cont{ //내용			
			.tit{
				@include Bold; 
				font-size:18px; 
				margin-bottom:25px;
			}
			.txt{
				margin-bottom:30px; 
				strong{@include Bold;}
			}
				
			> .row{
				+ .row{margin-top:60px;}
				
				.tit-size-mid{margin-bottom:25px;}
			}
			.lst{
				margin-bottom:30px;
			}

			.define-area{
				margin:60px 0 0;
				> dt{
					@include Bold;
					font-size:18px;
					margin-bottom:25px;
				}
				> dd{
					margin-bottom:60px;
				}
			}
			.btn-box{padding:40px 0;}
			.tbl-box{     
				margin-bottom:60px;
			
				table{
					width:100%;
					border-top:1px solid #e7e7e7;
					
					th, td{
						padding:30px; 
						text-align:center; 
						border-bottom:1px solid #e7e7e7; 
						border-right:1px solid #e7e7e7;
						color:#54585a; 
						vertical-align: middle;
					}
					thead th, td{
						&:last-of-type{border-right:none;}
					}
					thead th{
						@include Bold;
						background-color:#fafafa;
					}
					.align-l{text-align:left;}
					
					+ .lst{margin-top:20px; margin-bottom:0;}
				}
			}	
		}
	}
	&-form{
		.form-header{
			position:relative;
			@include Align-middle-left;
			@include roundBox;
			width:100%;
			height:80px;
			padding:0 40px;
			margin-bottom:40px;
			background-color:#f5f5f5;
			box-sizing:border-box;
		}
		.form-cont{
			padding:40px 0 120px;

			.row{
				padding:0 80px;
				margin-bottom:20px; 
				box-sizing:border-box;
				
				/*
				&.type2{
					@include Align-top-left;

					.input-tit{width:170px; padding-top:18px;}
					.inputT, .selectbox{width:300px; margin-right:5px;}
					.selectbox{width:210px;}
					.txt{padding-top:18px;}
					.txt-exam{padding:0 5px; color:#8f9191;}
					.at{margin-right:5px;}
					.textarea{width:700px; height:160px;}
				}
				*/
				
				&.type2{
					@include formRow;
				}
			}

			//기사포함단기렌터카 - 상담하기 2단계 임시로 디자인 적용
			.input-group{
				border-top:1px solid $border-grey;
				border-bottom:1px solid $border-grey;
				padding:20px 0 0;
				margin:0 80px 20px;

				.input-group-tit{
					@include Bold;
					margin-bottom: 30px;
				}
				.row{padding:0;}

				+ .input-group{
					border-top: none;
					border-bottom:1px solid $border-grey;
				}
			}
		}
	}

	&-form-align-c{ //form-cont 가운데 정렬
		.form-cont{
			@include Align-top-column;
			.form-row{
				max-width:530px;				
				.inputT{max-width:100%;}
				.input-tit{
					width:130px;
					flex-basis: 130px;
				}
			}
		}
	}
	&-format{
		@include Align-middle;        
		padding-bottom:40px;
		margin-bottom:50px;
		border-bottom:1px solid #e7e7e7;

		.format-area{		
            > .row{
                @include Align-top-left;
                margin-bottom:40px;

                dt{@include Bold; width:170px;}
                
			}
        }
	}	
	&-format-type2{
		.format-header{
			position:relative;
			@include Align-middle-left;
			@include roundBox;
			width:100%;
			height:80px;
			padding:0 40px;
			margin-bottom:40px;
			background-color:#f5f5f5;
			box-sizing:border-box;
		}
		.format-area{	
			> .row{
				@include Align-top-left;
				margin-bottom:40px;

				dt{@include Bold; width:170px;}
				
			}
		}
		.format-cont{
			@include Align-middle;        
			padding:40px 0;
			margin-bottom:50px;
			border-bottom:1px solid #e7e7e7;

			&-type2{	
				@include Align-middle; 
				padding:40px 80px; 
				margin-bottom:50px;

				.format-area{
					flex:none;
					width:600px;       
					flex-basis: 600px;					
					box-sizing:border-box;
				}				
			}
		}

	}	
	&.round{
		@include roundBox;
	}
}

.box{
	&-type2{
		width: 100%;
		@include Align-top-left;

		.right{			
			flex:none;
			width:auto; 
			min-width:80px;
			margin-left:auto;		
		}
		.left{
			flex:none;
			width:auto;
			min-width:80px;
			margin-right:5px;
		}
	}
	&-type3{
		width: 100%;
		@include Align-middle-left;

		.right{
			flex:none;
			width:auto; 
			min-width:80px;
			margin-left:auto;
		}
		.left{
			flex:none;
			width:auto; 
			min-width:80px;
			margin-right:5px;
		}
	}
	&-right{
		@include Align-middle-right;
	}
	&-between{
		@include Align-between;

		.right-btn{
			flex:none;
			width:auto;
			margin-left:5px;
		}
	}	
	&-align{
		@include Align-box;
		flex-wrap: nowrap;		
	}
	&-align-middle{		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}

.grid-row {
	@include Align-top-left-column;

	> li{margin-bottom:60px;}

	&.type2{
		> li{
			@include Align-middle-left;

			.img-item{
				width:186px;
				flex:none;
				
				.circle{
					width:130px;
					height:130px;
					border-radius:130px;
					border:1px solid #f2f2f2;
					background-color:#fafafa;
				}
			}
			.descri-box{
				.tit{@include Bold; font-size:1.125rem; margin-bottom:25px;}
			}
		}	
	}
}

.grid-col{
	@include Align-box;

	> li{
		position:relative;
		margin-bottom:80px;
	}

	&.col2{
		>.col, > li{
			width:50%;
		}
	}
	&.col3{
		>.col, > li{
			width:33.3333%;
		}
	}
	&.col4{
		>.col, > li{
			width:25%;
		}
	}
	&.col5{
		>.col, > li{
			width:20%;
		}
	}	
	&.col6{
		>.col, > li{
			width:16.6666%;
		}
	}

	&.type2{
		> li{
			@include Align-middle-left;

			.img-item{
				width:186px;
				flex:none;
				
				.circle{
					width:130px;
					height:130px;
					border-radius:130px;
					border:1px solid #f2f2f2;
					background-color:#fafafa;
				}
			}
			.descri-box{
				.tit{@include Bold; font-size:1.125rem; margin-bottom:24px;}
			}
		}	
	}
	&-space-around{
		display:flex;
		justify-content:space-around;

		&.type-align-c{
			text-align:center;

			.img-item{margin-bottom:35px;}
			.lst{display:inline-block; text-align: left;}
		}
	}

	&-inline{
		@include Inline-align-top-left;
	}
}

.lst {
	
	> li{
		position:relative;
		padding-left:12px;
		font-size:14px;
	}
	
	&.dot{
		> li{
			&::before{
				@include Position($left:0, $top:0);
				content:"·";
				width:12px;
				font-size:18px;
			}
		}
	}
	&.hypen{
		> li{
			&::before{
				@include Position($left:0, $top:0);
				content:"-";
				width:12px;
			}
		}
	}
	&.num{
		> li{
			padding-left:18px;
			.bul{
				@include Position($left:0, $top:0);
				width:18px;
			}
		}
	}

	.spacing{
		position:relative;
		padding-left:50px;	

		> .tit{
			@include Position($left:0, $top:0);
			display:block;
			width:50px;
		}
	}

	&.depth{
		
	}
}

//상단 fixed 메뉴
.detail-layer-nav-wrap{
	height:176px;
	margin-bottom:80px;

	&.fixed{             
		.detail-layer-nav{
			position: fixed;
			top: 0;
			z-index:10;
			background-color:#fff;

		}
	}  
}
.section-indicator {
	border-top:1px solid #eee;

	.detail-layer-nav{
		position:relative;
		@include innerType2Width;
		@include Align-between-top;
		border-bottom: 1px solid #eee;
		box-sizing: border-box;            

		button{
			width:100%;
			height:176px;
			padding: 40px;
			font-size:14px;
			box-sizing:border-box;

			.icon{height:48px; margin-bottom:30px;}
	
			&.active{
				position:relative;
				@include Bold;
				
				&:after{
					content:"";
					@include Position($left:0, $bottom:-1px);
					display:block;
					width:100%;
					height:4px;
					background-color:#ff404b;
					z-index: 5;
				}
			}
		}
		   
	}
}    

//절차
.purchase-step{
	> li{
		text-align:center;
		padding:0 10px;
		box-sizing: border-box;

		&:after, &:before{
			content:"";
			display:block;
		}
		
		&:before{			
			@include Position($top:58px, $right:0);
			@include arrow;
		}
		&:after{
			@include Position($top:60px, $right:3px);
			@include arrowInner;
			z-index:5;
		}
		.tit{
			&.type-line2{
				display:block;
				height:50px;
				margin-bottom:0;
			}
		}
		.txt{
			text-align:center; 
			margin-top:25px;
		}
		.img-item{
			@include Align-middle;
			height:150px;

			.circle{
				width:130px;
				height:130px;
				border-radius:130px;
				border:1px solid #f2f2f2;
				background-color:#fafafa;
			}
		}		
		.lst{margin-top:25px;}

		.align-c{			
			> .lst{
				display:inline-block;

				li{text-align:left;}
			}
		}

		&:last-of-type{
			&:after, &:before{display:none;}
		}
	}	
	&.grid-col.col3 {
		> li{
			&:nth-of-type(3n){
				&:after, &:before{display:none;}
			}
		}
	}
	&.grid-col.col4 {
		> li  {
			&:nth-of-type(4n){
				&:after, &:before{display:none;}
			}
		}                
	}    
	&.simple{
		li {
			&:after, &:before{
				display:none;
			}
		}
	}

	&-col4{
		display:flex;
		flex-wrap: wrap;
		align-items:stretch;
		justify-content:center;
		padding:0 40px;

		> li{
			position:relative;
			width:25%;
			margin-bottom:60px;

			+ li{
				&:after, &:before{
					content:"";
					display:block;
				}
				
				&:before{			
					@include Position($top:58px, $left:0);
					@include arrow;
				}
				&:after{
					@include Position($top:60px, $left:0);
					@include arrowInner;
					z-index:5;
				}
			}
			.icon{
				+ .tit{margin-top:50px;}
			}
			.tit{
				@include Bold; 
				font-size:18px;

				+ .info-txt{margin-top:30px; font-size:14px; color:#54585a;}
			}
		}		
	}
}

.align-center-area{
	text-align:center;

	.lst{
		display:inline-block;
		
		li{text-align:left;}
	}
}

.choice-list{
	@include Align-box;
	
	li{		
		padding:0 10px 10px 0;
		box-sizing: border-box;
	}

	.chk-view-box{	
		input{display:none;}	
		label{		
			position:relative;		
			@include Align-middle;					
			@include roundBox();
			height:80px;
			color:#8f9191;
			text-align:center;
			border:1px solid #d2d2d2;
			box-sizing: border-box;

			&:after {
				display: block;
				content: '';
				@include Position($top:50%, $right:30px);
				width: 13px;
				height: 12px;
				margin-top: -6px;
			}
		}

		input:checked + label{
			@include Bold; 
			color:$txt-red;
			border-color:$txt-red;
			background-color:#fff9f9;
		}
		input:checked + label:after{
			@include Background($sprite:'ico-chk-on2', $position:center center);
		}		
	}

	&.type-col3{		
		width: calc(100% + 30px);
		margin-left:-30px;

		> li{width:33.3333%;}
	}
	
	&.type-col4{		
		width: calc(100% + 40px);
		margin-left:-40px;

		> li{width:25%;}
	}
	
}