@charset "utf-8";

@import "./_common.scss";

@import "./contents/_main.scss";
@import "./contents/_direct.scss";
@import "./contents/_catharsis.scss";
@import "./contents/_estimate.scss";
@import "./contents/_contract.scss";
@import "./contents/_exhibition.scss";
@import "./contents/_specials.scss";
@import "./contents/_secondhand.scss";
@import "./contents/_short.scss";
@import "./contents/_event.scss";
@import "./contents/_carLife.scss";
@import "./contents/_customer.scss";
@import "./contents/_login.scss";
@import "./contents/_mypage.scss";
@import "./contents/_footerMenu.scss";
@import "./contents/_consulting.scss";
@import "./contents/_error.scss";

.inner {
    min-width: 1280px;
    max-width:1420px;
    width: 1420px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}
.inner_sub {
    width: 1280px;
    // width: 1080px;
    margin: 0 auto;
    position: relative;
}