.footerMenu-wrap {
    //컨텐츠 구조
    .section-cont {
        .tab-cont-inner {
            padding:3.4rem 1.7rem 0;
            & + .tab-cont-inner {
                display: none;
            }
            &.about-rental {
                > div + div {
                    padding:3.4rem 0;
                }
                .cont-box {
                    & + .cont-box {
                        border-top:1px solid #f1f1f1;
                    }
                    &.box02 {
                        padding-bottom: 0;
                    }
                }
            }
            &.pr-center {
                padding:2.6rem 0 0;
                .cont-box {
                    background-color: #fff9f9;
                    padding:3.4rem 2.8rem 2.1rem;
                    margin-bottom:2.6rem;
                    & + .cont-box {
                        background-color: #f5f5f5;
                        margin:0;
                    }   
                }
                .segment-area {
                    padding:1.3rem 0;
                }
            }
            &.social-contribution {
                padding:1.7rem 0 0;
                > div {
                    padding:1.7rem;
                    &.cont-box {
                        .cont-section {
                            padding:0 1.7rem;
                            .segment {
                                margin-top:0;
                                padding:1.7rem 0;
                                h4 {
                                    padding:1.3rem 0 1rem;
                                    font-size:1.2rem;
                                }
                                .cont-txt {
                                    padding-top: 0;
                                }
                            }
                        }
                        & + .cont-box {
                            padding:1.7rem 0;
                            .cont-tit {
                                background-color: #fafafa;
                                padding:2.6rem 0;
                                strong {
                                    font-size:1.6rem;
                                    span {
                                        font-size:1.4rem;
                                        padding-bottom:.3rem;
                                        @include Bold;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cont-tit {
            strong {
                font-size: 1.8rem;
                line-height: 1.3;
                @include Regular;
                @include Align-middle-column;
            } 
            h3 {
                font-size: 1.8rem;
                @include Align-middle-column;
                @include Bold;
            }
        }
        .cont-txt {
            font-size:1.1rem;
            color:#54585a;
            padding-top:1.7rem;
            word-break: keep-all;
            @include Regular;
        }
        .cont-section {
            .segment {
                & + .segment {
                    margin-top:1.7rem;
                }
                .cover {
                    height:13rem;
                    img {
                        height:100%;
                    }
                }
                > div {
                    @include Align-middle-left;
                    > div {
                        @include Align-middle;
                        @include Background($sprite:'bg-shape01', $size:7.4rem 100%, $position:center center, $path:'bgs');
                        width:30%;
                        height:7.4rem;
                    }
                    p {
                        color:#54585a;
                        font-size:1.1rem;
                        width: 60%;
                        margin-left: 1.7rem;
                    }
                }
            }
        }
        .cont-lst {
            @include Background($sprite:'bg-shape01', $size:100% 100%, $position:center center, $path:'bgs');
            margin:2.6rem 0 10rem;
            .segment {
                min-height: 8.6rem;
                position: relative;
                box-sizing: border-box;
                & + .segment {
                    border-top:2px solid #fff;
                }
                > div {
                    padding:1.7rem 0;
                    @include Align-middle-column;
                    > i {
                        width: 7rem;
                        height: 2rem;
                        font-size: 1rem;
                        padding:0;
                        @include Bold;
                    }
                    strong {
                        padding:1.3rem 0 .6rem;
                    }
                    span {
                        font-size:1.1rem;
                        color:#54585a;
                        @include Regular;
                    }
                    ul.list-type-col3 {
                        align-items: flex-start;
                        width: 100%;
                        @include Position($top:60%);
                        li {
                            > div {
                                @include Align-middle-column;
                                b {
                                    @include Align-middle;
                                    background-color: #fff;
                                    height:4.5rem;
                                    width:4.5rem;
                                    border:1px solid #d2d2d2;
                                    border-radius: 100%;
                                }
                            }
                            span {
                                text-align: center;
                                color:#54585a;
                                font-size: 1rem;
                                @include Regular;
                            }
                        }
                    }
                }
            }
        }
        .cont-chart {
            > a {
                display: block;
                padding:2.6rem 0 0;
                width:12rem;
                margin:0 auto
            }
            .list-type-col3 {
                justify-content: space-between;
                width:100%;
                margin:4rem 0 0;
                li {
                    width: 30.3%;
                    > div {
                        span {
                            @include Align-middle;
                            @include Bold;
                            position: relative;
                            color:#54585a;
                            width:100%;
                            padding:.6rem 0;
                            border-radius:1.7rem;
                            color:#8f9191;
                            border:1px solid #d2d2d2;
                            font-size:.9rem;
                            &::before {
                                content:'';
                                display: block;
                                height: 2.6rem;
                                border:0.5px solid #d2d2d2;
                                @include Position ($left:50%, $top:-110%);
                            }
                            &::after {
                                content:'';
                                display: block;
                                width: 114%;
                                border:0.5px solid #d2d2d2;
                                @include Position ($left:50%, $top:-110%);
                            }
                        }
                        div {
                            a {
                                margin-top:1.7rem;
                                display: block;
                            }
                        }
                    }
                    &:last-child span {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .cont-table {
            padding-top:2.6rem;
            table {
                width: 100%;
                border-top:1px solid #d2d2d2;
                color:#54585a;
                font-size:1.1rem;
                @include Regular;
            }
            tr {
              border-bottom:1px solid #d2d2d2;
            }
            th {
                background-color: #fafafa;
                border-left:1px solid #d2d2d2;
                padding:1.7rem;
                vertical-align: middle;
               
            }
            td {
                padding:1.7rem;
                border-left:1px solid #d2d2d2;
                border-right:1px solid #d2d2d2;
                ul {
                    width:100%;
                    margin:0;
                    justify-content: space-between;
                    li {
                        @include Align-middle;
                        @include Background($sprite:'bg-shape01', $size:7.4rem 100%, $position:center center, $path:'bgs');
                        width:47%;
                        height:7.4rem;
                        margin:.2rem 0;
                        span {
                            font-size: 1rem;
                        }
                    }
                }
                > div {
                    @include Align-middle-column;
                    strong {
                        font-size:1.1rem;
                        padding:1.7rem 0 .6rem;
                        @include Bold;
                    }
                    span {
                        color:#54585a;
                        font-size:1rem;
                        @include Regular;
                    }
                    & + div {
                        padding-top:2.8rem;
                    }
                }
            }
        }
        .cont-view-video {
            .cont-tit {
                padding-bottom:1.3rem;
            }
            .segment-tit {
                .year {
                    background-color: #ff404b;
                    color:#fff;
                    padding:5px 10px;
                    font-size:1.1rem;
                    @include Bold;
                }
                p {
                    font-size:1.4rem;
                    margin: 1.3rem 0 1.7rem;
                    @include Regular;
                }
            }
            .segment-video {
                .video-box {
                    height: 14.3rem;
                    margin:0 .2rem;
                    iframe {
                        border:0;
                    }
                }
                .video-list {
                    width:100%;
                    margin:.6rem 0 0;
                    li {
                        &.active a {
                            border:.5rem solid #ff404b;
                            box-sizing: border-box;
                        }
                        a {
                            margin:.2rem;
                            display: block;
                            height: 7rem;
                            position: relative;
                            @include Align-middle;
                            img {
                                height:100%;
                            }
                            p {
                                position: absolute;
                                color:#fff;
                                text-align: center;
                                line-height: 1.5;
                                font-size:1rem;
                            }
                        }
                    }
                    &.list-type-col3 {
                        li {
                            a {
                                height: 4.7rem;
                            }
                        }
                        
                    }
                }
            }
        }
        .detail-layout {
            position: relative;
            .layer-item {
                padding: 2.3rem 0 0;
                &.item-step1{
                    padding:0 0 .8rem 0;
                    .item-cont {
                        margin:0 1.7rem;
                        padding:2.3rem 0;
                        border:1px solid #e7e7e7;
                        border-right:0 none;
                        border-left:0 none;
                    }
                }
                .item-cont {
                    padding: 0 1.7rem;
                    .detail-layer-inputT:first-child{
                        margin-top: 0;
                    }
                    .detail-layer-inputT{
                        margin-top:.9rem;
                    }
                    .detail-layer-inputT-tit{
                        @include Bold;
                        margin-top:1.7rem;
                        @include Align-middle;
                        justify-content: left;
                    }
                    .list-type-col2{
                        @include Align-middle-left;
                        width:100%;
                        margin-left:0;
                        .inputT{
                            .inputR{
                                width:49%;
                                border-bottom:0 none;
                            }
                        }
                        li:first-child{
                            width:30%;
                            .detail-layer-inputT-tit{
                                margin-top:0;
                            }
                        }
                        li:last-child{
                            width:70%;
                        }
                    }
                }
            }
        }
    }
    .section-tit{
        padding: 2.2rem 1.7rem 2.6rem;
        position: relative;
        em{
            display:block;
            color:#8f9191;
            font-size:1.9rem;
            @include Regular;
        }
        strong{
            display:block;
            color:#2f2f2f;
            @include Bold;
            font-size:2.3rem;
        }
    }
    .detail-layer-submit{
        padding: 2.6rem 1.7rem;
    }
}