.login-wrap{
    padding-bottom: 4rem;
    .section-detail{
        .detail-descri{
            font-size:1.1rem;
            line-height:1.3;
            color:#ed1c24;
            @include Regular;
            padding-top:1.3rem;
            ul > li{
                padding-left:1.2rem;
                text-indent: -.7rem;
                & > sub{
                    position: relative;
                    top:.2rem;
                }
            }
        }
        .detail-cont{
            padding: 0 1.7rem;
            margin-top:1.3rem;
            .detail-iconBox{
                & > label{
                    background-color:transparent;
                    border:0 none;
                }
            }
            .detail-search{
                border-bottom:1px solid #f1f1f1;
                & > ul{
                    & > li{
                        & > div{
                            & > a{
                                position: relative;
                                color:#8f9191;
                                @include Regular;
                                &:after{
                                    content:"";
                                    display:block;
                                    position: absolute;
                                    top:50%;
                                    right:-.5rem;
                                    border-left:1px solid #f1f1f1;
                                    height:1.2rem;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    & > li:last-child{
                        & > div{
                            & > a{
                                &:after{
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
            .detail-sns{
                padding-top:2.2rem;
                & > li{
                    & > button{
                        height:auto;
                        padding:0;
                        & > span{
                            display:block;
                            margin-top:.9rem;
                            font-size:1rem;
                            @include Regular;
                        }
                    }
                }
                & > li:last-child{
                    padding-right:0;
                }
            }
            &.detail-cont-sns{
                .detail-search{
                    border-bottom:0 none;
                }
            }
        }
        .descri-tit{
            position: absolute;
            top:2.8rem;
            left:50%;
            transform: translateX(-50%);
            font-weight: bold;
            font-size:1.4rem;
        }
        .menu-radio-box{
            .radio-box{
                .radioIconBox{
                    & > input:checked + label{
                        background-color:#fff;
                        color:#ed1c24;
                        border-bottom:2px solid #ff404b;
                        @include Bold;
                    }
                    & > label{
                        height:4.1rem;
                        border:0 none;
                        border-bottom:1px solid #e7e7e7;
                        color:#54585a;
                        border-radius: 0;
                        @include Regular;
                    }
                    & > label:after{
                        display:none;
                    }
                }
            }
            .detail-normal{
                display:none;
                padding-top:2.6rem;
                &.active{
                    display:block;
                }
            }
            .detail-integrated{
                display:none;
                padding-top:2.2rem;
                &.active{
                    display:block;
                }
                .detail-descri{
                    color:#999;
                    padding-top:0;
                }
                .detail-assent{
                    margin-top:2.6rem;
                }
            }
        }
        .detail-inputT{
            margin-top:.9rem;
            & > input{
                border-radius: 3.8rem;
            }
            &:first-child{
                margin-top:0;
            }
        }
        .detail-submit{
            margin-top:1.3rem;
        }
        .detail-iconBox{
            label {
                &:after {
                    width: 1.7rem;
                    height: 1.7rem;
                    margin-top: -.85rem;
                    left:.5rem;
                }
            }
            input:checked + label {
                @include Regular;
            }
            input[type='checkbox'] + label:after{
                @include Background($sprite:'ico-chk-off03', $type:'png', $size:92% auto, $position:center center);
            }
            input[type='checkbox']:checked + label:after{
                @include Background($sprite:'ico-chk-on03', $type:'png', $size:95% auto, $position:center center);
            }
        }
        .detail-radio{
            ul > li:first-child{
                input + label {
                    justify-content:flex-end;
                    &:after {
                        left:4.2rem;
                    }
                }
            }
            ul > li:last-child{
                input + label {
                    justify-content:flex-start;
                    &:after {
                        left:.7rem;
                    }
                }
            }
            input + label {
                border:0 none;
            }
            input:checked + label {
                @include Regular;
            }
        }
    }
    .section-tit{
        padding: 2.2rem 1.7rem 1.3rem;
        em{
            display:block;
            color:#8f9191;
            font-size:1.9rem;
        }
        strong{
            display:block;
            color:#2f2f2f;
            @include Bold;
            font-size:2.3rem;
            span{
                color:#6e5d50;
            }
        }
    }
}