.mypage-wrap {
    .section-nav {
        border-bottom:1px solid #e7e7e7;
        background-color: #fff;
        padding:2rem 0 0 1.7rem;
        a {
            position: relative;
            display: inline-block;
            padding:1.2rem 0;
            margin-right:2.6rem;
            font-size:1.3rem;
            color:#8f9191;
            @include Normal;
            &.active {
                @include Bold;
                color:#2f2f2f;
                &:after {
                    display: block;
                    content: '';
                    @include Position($bottom: 0, $left: 0);
                    z-index: 1;
                    width: 100%;
                    height: .2rem;
                    margin-left: 0;
                    border-radius: 0;
                    background-color: #F04040;
                }
            }
        }
    }

    //리스트 구조
    .section-list {
        .list-view-info {
            background-color: #eff2f7;
            padding: 1.5rem 1.3rem;
            border-radius: 1rem;
            margin:3.4rem 1.7rem 0;
            @include Align-middle-column;
            strong {
                @include Bold;
                font-size:1.6rem;
                b {
                    @include Bold;
                    font-size:1.6rem;
                }
            }
            em {
                padding-top:1.3rem;
                color:#54585a;
                font-size:1.1rem;
            }
        }
        .list-cont-wrap {
            margin-top:1.7rem;
            padding:0 1.7rem;
            .list-item {
                padding:.9rem 0;
                
                .item-wrap {
                    border:1px solid #d2d2d2;
                    border-radius: .5rem;
                    > div {
                        padding:1.3rem;
                    }
                    .cont-top {
                        background-color: #f5f5f5;
                        border-bottom:1px solid #d2d2d2;
                        border-radius: .5rem .5rem 0 0;
                        @include Align-between;
                        > div {
                            @include Align-left-column;
                            em {
                                @include Align-middle-left;
                                .btn-detail {
                                    font-size:.9rem;
                                    background-color: #fff;
                                    border:1px solid #d2d2d2;
                                    border-radius: .5rem;
                                    padding:.4rem .6rem;
                                    margin-left:.4rem;
                                }
                            }
                            strong {
                                @include Bold;
                                padding-top:.7rem;
                                &.pd-none {
                                    padding:0;
                                }
                                &.txt-gray {
                                    color:#8f9191;
                                }
                            }
                        }
                        span {
                            width:4.7rem;
                            height:1.7rem;
                            @include Align-middle-right;
                            i.flag {
                                width:100%;
                                height:100%;
                            }
                            i.icon {
                                width:1.2rem;
                                height:1.5rem;
                                margin-right:.3rem;
                            }
                        }
                    }
                    .cont-in {
                        li {
                            @include Align-middle-left;
                            strong {
                                width:30%;
                                font-size:1rem;
                                @include Align-middle;
                                &::after {
                                    content:'';
                                    display: block;
                                    margin-left:auto;
                                    margin-right:1rem;
                                    height:1.3rem;
                                    border-right:1px solid #d2d2d2;
                                }
                            }
                            b {
                                font-size:1rem;
                                &.bold {
                                    @include Bold;
                                }
                                &.underline {
                                    position: relative;
                                    &::before {
                                        content:'';
                                        display: inline-block;
                                        border-bottom:1px solid #000;
                                        width:100%;
                                        @include Position($bottom: 0, $left: 0)
                                    }
                                }
                            }
                            & + li {
                                padding-top:.9rem;
                            }
                        }
                    }
                    .cont-btn {
                        border-top:1px solid #d2d2d2;
                        margin:0 1.3rem;
                        padding:0;
                        ul.list-type-col2 {
                            li + li {
                                button { 
                                    position: relative;
                                    &:before {
                                        content: '';
                                        height:1.3rem;
                                        display: inline-block;
                                        border-left: 1px solid #d2d2d2;
                                        @include Position($top: 50%, $left: 0);
                                        transform: translateY(-.6rem);
                                    }
                                }
                            }
                        }
                        button {
                            width:100%;
                            color:#ed1c24;
                            font-size:1.2rem;
                            @include Align-middle;
                            @include Bold;
                            i {
                                margin-right:.5rem;
                            }
                            &.txt-black {
                                color:#2f2f2f;
                            }
                        }
                    }
                }
            }
            .list-none-item {
                @include Align-middle;
                min-height:12rem;
                margin:.9rem 0;
                border-top:1px solid #e7e7e7;
                border-bottom:1px solid #e7e7e7;
            }
        }
        .point-usage-history {
            .list-view-info {
                background-color: #eff2f7;
                padding: 1.5rem 1.3rem;
                border-radius: 1rem;
                margin:3.4rem 1.7rem 0;
                align-items: unset;
                strong {
                    @include Bold;
                    @include Align-between;
                    font-size:1.4rem;
                    span {
                        color:#54585a;
                        font-size:1.8rem;
                    }
                    &:first-child {
                        margin-bottom:1rem;
                        span {
                            color:#ff404b;
                        }
                    }
                }
                
            }
            .list-item {
                padding:0;
                > div + div {
                    display: none;
                }
                li {
                    border-bottom:1px solid #e7e7e7;
                    padding:1.3rem 0;
                    &:first-child {
                        padding-top:0;
                    }
                    > div {
                        @include Align-between;
                        div + div {
                            @include Align-right-column;
                            span:first-child {
                                @include Bold;
                            }
                        }
                        strong {
                            @include Bold;
                            display:block;
                            margin-bottom:1.4rem;
                            font-size:1.2rem;
                        }
                        p {
                            font-size:1.1rem;
                        }
                    }
                }
            }
        }
        .point-apply {
            display: none;
            .tab-nav {
                padding:3.4rem 1.7rem 1.3rem;
                ul {
                    @include Align-middle;
                    border:1px solid #d2d2d2;
                    border-radius: 1.7rem;
                    box-sizing: border-box;
                    li{
                        width:50%;
                        height:3.4rem;
                        &.active {
                            button {
                                background-color: #ff404b;
                                border-radius: 1.7rem;
                                color:#fff;
                                @include Bold;
                            }
                        }
                        button {
                            width:100%;
                            height:100%;
                            color:#666;
                            font-size:1.2rem;
                        }
                    }
                }
            }
            .tab-cont {
                .asiana-tab {
                    padding:0 1.7rem;
                    .transform-box {
                        @include Align-middle;
                        padding:1.7rem 0;
                        > div {
                            @include Align-middle-column;
                            width:50%;
                            strong {
                                @include Bold;
                                padding-top:1.7rem;
                                font-size:1.8rem;
                            }
                            & + div {
                                position: relative;
                                &::before {
                                    content:'';
                                    width:1rem;
                                    height:1.8rem;
                                    @include Position($top: 50%, $left: -.6rem);
                                    @include Background($sprite:'ico-arrow-left', $type:'png', $position:right center);
                                    transform: translateY(-.7rem);
                                }
                            }
                        }
                    }
                    .transform-info {
                        border-top:1px solid #e7e7e7;
                        border-bottom:1px solid #e7e7e7;
                        padding:.4rem 0;
                        li {
                            @include Align-top-left;
                            padding:1.3rem;
                            line-height:1.3;
                            font-size:1.1rem;
                            color:#54585a;
                            i {
                                margin-right:1rem;
                                padding-top:.5rem;
                            }
                        }
                    }
                    .cont-guide {
                        margin-top:1.3rem;
                        padding:0;
                    }
                    .section-layer-submit {
                        padding:5rem 0 0;
                    }
                    .info-box {
                        background-color: #f5f5f5;
                        margin-top:5rem;
                        padding:2.1rem 1.3rem;
                        strong {
                            @include Bold;
                            font-size:1.2rem;
                        }
                        p {
                            margin-top:.6rem;
                            font-size:1.1rem;
                            .btn-detail {
                                text-decoration: underline;
                                font-size:1.1rem;
                                margin-top:-.3rem;
                            }
                        }
                    }
                }
                .discount-coupon-tab {
                    display:none;
                    padding:0 1.7rem;
                    .transform-box {
                        @include Align-middle;
                        padding:1.7rem 0;
                        > div {
                            @include Align-middle-column;
                            width:50%;
                            strong {
                                @include Bold;
                                padding-top:1.7rem;
                                font-size:1.8rem;
                            }
                            & + div {
                                position: relative;
                                &::before {
                                    content:'';
                                    width:1rem;
                                    height:1.8rem;
                                    @include Position($top: 50%, $left: -.6rem);
                                    @include Background($sprite:'ico-arrow-left', $type:'png', $position:right center);
                                    transform: translateY(-.7rem);
                                }
                            }
                        }
                    }
                    .transform-info {
                        border-top:1px solid #e7e7e7;
                        padding:.4rem 0;
                        li {
                            @include Align-top-left;
                            padding:1.3rem;
                            line-height:1.3;
                            font-size:1.1rem;
                            color:#54585a;
                            i {
                                margin-right:1rem;
                                padding-top:.5rem;
                            }
                        }
                    }
                    .transform-table {
                        padding-top:1.3rem;
                        table {
                            border-top:1px solid #d2d2d2;
                            width:100%;
                            th {
                                padding:1.7rem 0;
                                background-color: #fafafa;
                                vertical-align: middle;
                                color:#2f2f2f;
                                font-size:1.1rem;
                                border-left:1px solid #e7e7e7;
                                &:last-child {
                                    border-right:1px solid #e7e7e7;
                                }
                            }
                            td {
                                padding:1.7rem .2rem;
                                vertical-align: middle;
                                border:1px solid #e7e7e7;
                                color:#54585a;
                                text-align:center;
                                font-size:1rem;
                            }
                        }
                    }
                    .cont-guide {
                        margin-top:1.3rem;
                        padding:0;
                    }
                    .section-layer-submit {
                        padding:5rem 0 0;
                    }
                }
                
            }
            
            
        }
        .cont-guide {
            margin-top:1rem;
            padding:0 1.7rem;
            //두줄이상 인 경우 가이드
            li {
                text-indent: -.7rem;
                padding-left:1rem;
                font-size:1.1rem;
                color:#8f9191;
                word-break: break-all;
                & + li {
                    padding-top:.3rem;
                }
                &::before {
                    content:'';
                    display: inline-block;
                    width:.2rem;
                    height:.2rem;
                    background-color: #000;
                    margin-right:.4rem;
                    margin-top:-.2rem;
                    border-radius:100%;
                    vertical-align: middle;
                }
                &.red {
                    color:#ff404b;
                    &::before {
                        background-color: #ff404b;
                    }
                }
                b.underline {
                    font-size:1.1rem;
                    color:#8f9191;
                    position: relative;
                    &::before {
                        content:'';
                        display: inline-block;
                        border-bottom:1px solid #8f9191;
                        width:100%;
                        @include Position($bottom: 0, $left: 0)
                    }
                   
                }
            }
            //한줄 인 경우 가이드
            p {
                text-indent: -.7rem;
                padding-left:1rem;
                font-size:1.1rem;
                color:#8f9191;
                word-break: break-all;
                &::before {
                    content:'';
                    display: inline-block;
                    width:.2rem;
                    height:.2rem;
                    background-color: #000;
                    margin-right:.4rem;
                    margin-top:-.2rem;
                    border-radius:100%;
                    vertical-align: middle;
                }
                &.red {
                    color:#ff404b;
                    &::before {
                        background-color: #ff404b;
                    }
                }
                b.underline {
                    font-size:1.1rem;
                    color:#8f9191;
                    position: relative;
                    &::before {
                        content:'';
                        display: inline-block;
                        border-bottom:1px solid #8f9191;
                        width:100%;
                        @include Position($bottom: 0, $left: 0)
                    }
                   
                }
            }
        }
        // .cont-bottom-bn {
        //     @include Position($position:sticky, $bottom: 0, $left: 0);
        // }
        .tab-history {
            border-bottom:1px solid #e7e7e7;
            background-color: #fff;
            padding:3.4rem 1.7rem 0;
            li {
                &.active {
                    button {
                        border-bottom: .3rem solid #ff3f4c !important;
                    }
                }
                button {
                    position: relative;
                    display: inline-block;
                    border-bottom:0;
                    padding:0 0 1.2rem;
                    height:auto;
                    margin-right:2.6rem;
                    font-size:1.3rem;
                    color:#8f9191;
                    @include Normal;
                }
            }
           
        }
    }

    //상세구조
    .section-detail {
        .detail-view-rest{
            position: relative;
            @include Align-middle;
            padding: 3.4rem 1.7rem 1.6rem;
            & > ul{
                justify-content: center;
                & > li{
                    @include Vertical-inline;
                    box-sizing: border-box;
                    position: relative;
                    text-align: center;
                    & > span{
                        display:block;
                        font-size:1.2rem;
                        color:#8f9191;
                        margin-top:.7rem;
                    }
                    &:after{
                        display:block;
                        content: "";
                        position: absolute;
                        top:25%;
                        right:-50%;
                        transform: translateY(-50%);
                        width: 100%;
                        height: .2rem;
                        background-color: #e7e7e7;
                        z-index: 1;
                    }
                    &:last-child{
                        margin-right:0;
                    }
                    &:last-child:after{
                        right:auto;
                        left:-50%;
                    }
                    &.active{
                        & > span{
                            color:#ed1c24;
                            @include Bold;
                        }
                    }
                    & > i{
                        position: relative;
                        z-index: 2;
                    }
                }
            }
        }
        .detail-view-info {
            background-color: #eff2f7;
            padding: 1.5rem 1.3rem;
            border-radius: 1rem;
            margin:3.2rem 1.7rem 0;
            @include Align-middle-column;
            strong {
                @include Bold;
                font-size:1.6rem;
                b {
                    @include Bold;
                    font-size:1.6rem;
                }
            }
            em {
                padding-top:1.3rem;
                color:#54585a;
                font-size:1.1rem;
            }
        }
        .detail-cont {
            padding:1.7rem 0;
            .item-wrap {
                padding:0 1.7rem;
                .cont-tit h4 {
                    background-color: #EFF2F7;
                    padding:1.5rem 1.3rem;
                    font-size: 1.4rem;
                    border-radius: 1rem;
                    @include Align-between;
                    @include Bold;
                }
                .cont-in {
                    padding-top:.4rem;
                    .detail-layer-inputR {
                        li {
                            width:100%;
                            padding:1.3rem 0;
                            .selectbox {
                                margin-top:.9rem;
                            }
                        }
                    }
                    .list-top-txt {
                        @include Align-middle-right;
                        color:#8f9191;
                        font-size:1.1rem;
                        margin:1.3rem 0;
                    }
                    .list-table {
                        border-top:1px solid #d5d5d5;
                        li {
                            @include Align-between;
                            border-bottom:1px solid #e7e7e7;
                            strong {
                                padding:1.7rem 1.3rem;
                                width:35%;
                                font-size:1.1rem;
                                background-color: #fafafa;
                                border-left:1px solid #e7e7e7;
                                @include Bold;
                            }
                            b {
                                padding:1.7rem 1.3rem;
                                width:65%;
                                font-size:1.1rem;
                                text-align: right;
                                border-left:1px solid #e7e7e7;
                                border-right:1px solid #e7e7e7;
                                color:#54585a;
                            }
                        }
                    }
                    p {
                        font-size:1.1rem;
                        padding:1.7rem 1.3rem 0;
                        @include Bold;
                    }
                }
                .cont-toggle {
                    padding:1.7rem 0 0;
                    .payment-method {
                        @include Align-between;
                        border:1px solid #e7e7e7;
                        padding:1.7rem 1.2rem;
                        strong {
                            font-size:1.1rem;
                            color:#54585a;
                        }
                        p {
                            font-size:1.1rem;
                            color:#54585a;
                        }
                        .box {
                            padding:.4rem .8rem;
                            border-radius:.5rem;
                            color:#fff;
                            font-size:1.1rem;
                            @include Bold;
                            &.gray {
                                background-color: #54585a;
                            }
                        }
                    }
                    .payment-detail {
                        margin-top:1.3rem;
                        .list-table {
                            border-top:1px solid #d5d5d5;
                            li {
                                border-bottom:1px solid #e7e7e7;
                                > div {
                                    @include Align-between;
                                    background-color: #fafafa;
                                    border-bottom:1px solid #e7e7e7;
                                }
                                strong {
                                    padding:1.7rem 1.3rem;
                                    width:35%;
                                    font-size:1.1rem;
                                    background-color: #fafafa;
                                    border-left:1px solid #e7e7e7;
                                    @include Bold;
                                }
                                b {
                                    padding:1.7rem 1.3rem;
                                    width:65%;
                                    font-size:1.1rem;
                                    text-align: right;
                                    border-left:1px solid #e7e7e7;
                                    border-right:1px solid #e7e7e7;
                                    color:#54585a;
                                }
                                > ul {
                                    li {
                                        @include Align-between;
                                        border-bottom:0;
                                        strong {
                                            padding:1.7rem 1.3rem 0;
                                        }
                                        b {
                                            padding:1.7rem 1.3rem 0;
                                        }
                                        &:last-child {
                                            strong {
                                                padding-bottom:1.7rem;
                                            }
                                            b {
                                                padding-bottom:1.7rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .payinfo-box {
                    margin-top:1.7rem;
                    background-color: unset;
                    height:auto;
                    b {
                        color:#2f2f2f;
                    }
                    em {
                        color:#da291c;
                    }
                }
            }
            &.cont-item2 {
                .detail-layer-inputT:first-child{
                    margin-top: 0;
                }
                .detail-layer-inputT{
                    margin-top:.9rem;
                    &.list-type-col2{
                        width:100%;
                        margin-left:0;
                    }
                    .btn-group{
                        @include Align-between;
                        .btn{
                            height: 12.6rem;
                            width: 7.5rem;
                            background-color: #f5f5f5;
                            border-radius: 1rem;
                            font-size:2.6rem;
                            @include Regular;
                        }
                    }
                }
                .detail-layer-inputT-tit{
                    @include Bold;
                    margin-top:1.7rem;
                    @include Align-middle;
                    justify-content: left;
                    & > button{
                        margin-left: .4rem;
                    }
                    & > i{
                        margin-right: .5rem;
                    }
                }
                .detail-iconBox{
                    margin-left: -.6rem;
                    label {
                        border:0 none;
                        border-radius: 0;
                        @include Regular;
                        &:after {
                            width: 1.7rem;
                            height: 1.7rem;
                            margin-top: -.85rem;
                            left:.5rem;
                        }
                        .flag{
                            background-color: #009bfa;
                            color:#fff;
                            @include Bold;
                            height:1.9rem;
                            padding:0 .6rem;
                            border-radius: .4rem;
                            margin-right:0;
                            i{
                                margin-right:.2rem;
                            }
                        }
                    }
                    input:checked + label {
                        @include Regular;
                    }
                    input[type='checkbox'] + label:after{
                        @include Background($sprite:'ico-chk-off03', $type:'png', $size:92% auto, $position:center center);
                    }
                    input[type='checkbox']:checked + label:after{
                        @include Background($sprite:'ico-chk-on05', $type:'png', $size:92% auto, $position:center center);
                    }
                }
                .detail-layer-short-payment{
                    border-top:1px solid #e7e7e7;
                    & > .detail-iconBox{
                        border-bottom:1px solid #e7e7e7;
                    }
                    //다른 결제 수단 open
                    .short-payment-toggle-cont{
                        display:none;
                        .detail-layer-inputR{
                            padding:1.5rem 0;
                            border-bottom:1px solid #e7e7e7;
                        }
                    }
                    //등록카드 open
                    .short-registration-toggle-cont{
                        display:none;
                        border-bottom:1px solid #e7e7e7;
                        padding:1.5rem 0;
                        .list-type-col2{
                            @include Align-middle-left;
                            li:first-child{
                                width:30%;
                                .detail-layer-inputT-tit{
                                    margin-top:0;
                                }
                            }
                            li:last-child{
                                width:70%;
                            }
                        }
                    }
                    //카드 직접입력 open
                    .short-card-toggle-cont{
                        display:none;
                        border-bottom:1px solid #e7e7e7;
                        padding:1.5rem 0;
                        .list-type-col2{
                            @include Align-middle-left;
                            .inputT{
                                .inputR{
                                    width:49%;
                                    border-bottom:0 none;
                                }
                            }
                            li:first-child{
                                width:30%;
                                .detail-layer-inputT-tit{
                                    margin-top:0;
                                }
                            }
                            li:last-child{
                                width:70%;
                            }
                        }
                    }
                    .detail-layer-inputR{
                        width:100%;
                        padding:.6rem 0;
                        label{
                            @include Regular;
                        }
                        .btn-small{
                            &.black{
                                height:1.9rem;
                                font-size:1rem;
                                background-color: #54585a;
                                color:#fff;
                                border-radius: .4rem;
                                @include Bold;
                                border-color: #54585a;
                                padding:0 .6rem;
                                position: relative;
                                top: -.2rem;
                                left:.6rem;
                                i{
                                    margin-right:.4rem;
                                }
                            }
                        }
                    }
                }
                .cont-guide {
                    padding:1.3rem 0;
                }
            }
            &.cont-item5 {
                .cont-guide {
                    padding:1.3rem 0 0;
                }
            }
            &.cont-item7 {
                .cont-in { 
                    > div {
                        padding:0 1.3rem;
                        &:first-child {
                            border-top: 0;
                        }
                        strong {
                            width:40%;
                        }
                    }
                }
            }
            &.cont-item8 {
                .cont-toggle { 
                    padding-top:0.4rem;
                    > div {
                        padding:0 1.3rem;
                        &:first-child {
                            border-top: 0;
                        }
                        & + div {
                            margin-top:1.3rem;
                            padding-top:1.3rem;
                        }
                        strong {
                            width:40%;
                        }
                    }
                } 
            }
            &.cont-item9 {
                .cont-in { 
                    > div {
                        padding:0 1.3rem;
                        &:first-child {
                            border-top: 0;
                        }
                        strong {
                            width:40%;
                        }
                    }
                    > ul {
                        width:100%;
                        margin:0;
                        @include Align-between;
                        li {
                            width:48%;
                            button {
                                width:100%;
                                height:2.6rem;
                                background-color:#54585a;
                                color:#fff;
                                border-radius:.5rem;
                                font-size:1.1rem;
                                @include Align-middle;
                                @include Bold;
                            }
                        }
                    }
                } 
                .cont-guide {
                    padding:1.3rem 0 0;
                }
            }

            .cont-guide {
                padding:1.7rem 0;
                li {
                    text-indent: -.7rem;
                    padding-left:1rem;
                    font-size:1.05rem;
                    color:#8f9191;
                    word-break: break-all;
                    & + li {
                        padding-top:.3rem;
                    }
                    &::before {
                        content:'';
                        display: inline-block;
                        width:.2rem;
                        height:.2rem;
                        background-color: #000;
                        margin-right:.4rem;
                        margin-top:-.2rem;
                        border-radius:100%;
                        vertical-align: middle;
                    }
                    &.red {
                        color:#ff404b;
                        &::before {
                            background-color: #ff404b;
                        }
                    }
                    b.underline {
                        font-size:1.1rem;
                        color:#8f9191;
                        position: relative;
                        &::before {
                            content:'';
                            display: inline-block;
                            border-bottom:1px solid #8f9191;
                            width:100%;
                            @include Position($bottom: 0, $left: 0)
                        }
                       
                    }
                }
            }
            .payinfo-box {
                @include Align-between;
                background-color: #54585a;
                border-radius: 1rem;
                padding:0 1.3rem;
                height: 4.3rem;
                b {
                    @include Bold;
                    color:#fff;
                    font-size:1.4rem;
                }
                em {
                    @include Bold;
                    color: #fff;
                    font-size: 1.8rem;
                    span {
                        font-size:1.2rem;
                    }
                }
            }
        }
        .detail-view-img {
            margin:1.7rem 0 0;
        }
        .detail-result {
            padding:1.7rem 0;
            .item-wrap {
                padding:0 1.7rem;
                .cont-in {
                    > strong {
                        @include Bold;
                        font-size:1.8rem;
                    }
                    .list-type-value {
                        margin-top: 1.7rem;
                    }

                }
            }
        }

        .detail-layer-submit {
            padding:0 1.7rem;
            margin-top:3.4rem;
            ul {
                width:100%;
                margin:0;
                justify-content: space-between;
                li {
                    width:48%;
                    .btn {
                        border-radius: 1rem;
                        &-white {
                            border-color: #d2d2d2;
                            color: #54585a;
                        }
                    }
                }
            }
        }

        .detail-layout {
            position: relative;
            background-color:#fff;
            padding: 3.4rem 1.7rem 0;
            .guide {
                font-size: 1.1rem;
                line-height: 1.5;
                margin-top: 1.2rem;
                text-indent: -.8rem;
                padding-left:1rem;
                & > li{
                    margin-top:.4rem;
                    color:#8f9191;
                    @include Regular;
                    & > i{
                        margin-right: .6rem;
                    }
                    &.red_txt{
                        color:#ed1c24;
                    }
                }
                & > li:first-child{
                    margin-top:0;
                }
            }
        }
        .detail-layout-cont {
            position: relative;
            background-color:#fff;
            padding: 3.4rem 1.7rem 0;
            .detail-inputT-tit {
                @include Bold;
                @include Align-middle-left;
                margin-top: 2rem;
            }
            .detail-inputT-tit:first-of-type {
                margin-top: 0;
            }
            .box-type {
                margin-top: 1.3rem;
                padding: 2.1rem 1.3rem 1.7rem;
                border: 1px dotted #eee;
                > p {
                    @include Align-middle;
                    @include Regular;
                    font-size: 1.1rem;
                    color: #54585a;
                    line-height: 1.5;
                    padding: 1rem;
                }
                .car-chose {
                    ul {
                        @include Align-box;
                        width: 100%;
                        li {
                            min-width: 20%;
                            .inner {
                                margin: .5rem .3rem;
                                min-width: 5.7rem;
                                position: relative;
                                .brand {
                                position: relative;
                                border:1px solid #d2d2d2;
                                height:2.6rem;
                                @include Align-middle;
                                box-sizing: border-box;
                                font-size: 1.1rem;
                                border-radius: 2rem;
                                padding: 0 .3rem;
                                transition: all .4s;
                                @include Regular;
                                color: #8f9191;
                                background-color: #fff; 
                                }
                            }
                            .btn-close {
                                position: absolute;
                                top: -0.5rem;
                                right: 0;
                            }
                        }
                    }
                    
                }
            }
            .section-filter {
                .result {
                    padding-top:2.6rem;
                    .filter-col {
                        position: relative;
                        .chk-list {
                            ul {
                                li {
                                    width: initial;
                                    input {
                                        display: none;
                                    }
                                    label {
                                        position: relative;
                                        border:0 none;
                                        height:2.6rem;
                                        @include Align-middle;
                                        box-sizing: border-box;
                                        font-size: 1.1rem;
                                        border-radius: 2rem;
                                        padding: 0 1.2rem;
                                        transition: all .4s;
                                        @include Regular;
                                        color: #8f9191;
                                        background-color: #f5f5f5;
                                    }
                                    input:checked + label {
                                        background: #fff9f9;
                                        border: 1px solid #ff404b;
                                        color:#ed1c24;
                                        @include Bold;
                                    }
                                }
                                &.list-type-col5{
                                    li {
                                        min-width: 20%;
                                        .inner {
                                            min-width: 3.7rem;
                                            label {
                                                padding: 0 .5rem;
                                            }
                                        }
                                    }
                                }    
                            }
                           
                        }
                    }
                    
                }
                &.section-filter-list{
                    padding:0;
                    .result {
                        .filter-col {
                            .chk-list {
                                margin-top:0;
                                ul {
                                    @include Inline-scrolling;
                                    padding-bottom:.5rem;
                                    li {
                                        display: inline-flex;
                                        width:6rem;
                                        margin-left:1rem;
                                        > div { 
                                            width:100%;
                                        }
                                        &:first-child {
                                            margin-left:0;
                                        }
                                        label {
                                            @include Align-middle-column;
                                            padding:0;
                                            height:8.6rem;
                                            border-radius: .4rem;
                                            color:#54585a;
                                            background-color: #fff;
                                            font-size:1rem;
                                            @include Regular;
                                            border:1px solid #d2d2d2;
                                            span{
                                                margin:1.7rem 0 0 0;
                                            }
                                            i {
                                                min-height:2.6rem;
                                            }
                                        }
                                        input:checked + label {
                                            background-color:rgb(255,249,249);
                                            background: linear-gradient(90deg, rgba(255,249,249,1) 0%, rgba(255,249,249,1) 100%);
                                            color:#ff404b;
                                            border:1px solid #ff404b;
                                            .brand01{
                                                @include Background($sprite:'ico-brand01-on', $size:100% auto, $position:center center);
                                            }
                                            .brand02{
                                                @include Background($sprite:'ico-brand02-on', $size:100% auto, $position:center center);
                                            }
                                            .brand03{
                                                @include Background($sprite:'ico-brand03-on', $size:100% auto, $position:center center);
                                            }
                                            .brand04{
                                                @include Background($sprite:'ico-brand04-on', $size:100% auto, $position:center center);
                                            }
                                            .brand05{
                                                @include Background($sprite:'ico-brand05-on', $size:100% auto, $position:center center);
                                            }
                                            .brand06{
                                                @include Background($sprite:'ico-brand06-on', $size:100% auto, $position:center center);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    
                    
                }
            }
        }
        .detail-layout-list {
            position: relative;
            background-color:#fff;
            padding: 3.4rem 1.7rem 0;
            .list-none {
                @include Align-middle;
                min-height:12rem;
                margin:.9rem 0;
                border-top:1px solid #e7e7e7;
                border-bottom:1px solid #e7e7e7;
            }
        }
        
    }

    .section-layer-submit {
        padding:5rem 1.7rem 0;
        button {
            color:#54585a;
            font-size:1.6rem;
            border:1px solid #d2d2d2;
            border-radius:.5rem;
        }
        .btn-gray {
            color:#fff;
            font-size:1.4rem;
        }
    }
}