.secondhand-wrap {
    padding-bottom: 4rem;

    .section-top{
        background-color: #f5f5f5;
        padding:0 0 3.4rem 0;
    }

    .section-tit{
        padding: 2.2rem 1.7rem 2.6rem;
        em{
            display:block;
            color:#8f9191;
            font-size:1.9rem;
        }
        strong{
            display:block;
            color:#2f2f2f;
            @include Bold;
            font-size:2.3rem;
            span{
                color:#6e5d50;
            }
        }
    }

    .detail-layer-top {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items:left;
        justify-content: center;
        background-color: #fff;
        padding:0 1.7rem;
        margin:0 1.7rem;
        overflow: hidden;
        border-radius: .9rem;
        height: 10.4rem;
        p {
            color:#54585a;
            @include Regular;
            b{
                display:block;
                @include Bold;
            }
        }
        .btn-simple{
            border:0 none;
            padding:0;
            @include Align-between;
            height:2rem;
            margin-top:1.6rem;
            b{
                font-size:1.4rem;
                @include Bold;
                margin-left:.9rem;
            }
            b:after{
                display:block;
                content:"";
                width:100%;
                border-bottom:.2rem solid #2B2B2B;
                margin-top:.2rem;
            }
        }
    }

    .section-detail{
        background-color:#f5f5f5;
        .detail-main-list{
            margin-top:1.1rem;
            background-color:#fff;
            padding:0 1.7rem;
            .list-tit{
                padding:3.4rem 0 2.2rem;
                @include Align-between;
                align-items: flex-end;
                p{
                    em{
                        display: block;
                        @include Regular;
                        color:#8f9191;
                        font-size:1.4rem;
                    }
                    b{
                        display: block;
                        @include Bold;
                        font-size:2rem;
                    }
                }
                .btn-group{
                    .btn{
                        height:1.2rem;
                        margin-right:0;
                        @include Bold;
                        .next4{
                            padding-right:.4rem;
                            margin-top:-.2rem;
                        }
                    }
                }
            }
            .event-list{
                padding:0 0 3.4rem;
                .list-type-col2 > li:nth-child(odd) .inner{
                    margin:2.6rem .8rem 0 0;
                }
                .list-type-col2 > li:nth-child(even) .inner{
                    margin:2.6rem 0 0 .8rem;
                }
                .list-type-col2 > li{
                    .text{
                        strong{
                            font-size:1.1rem;
                            @include Bold;
                            display: block;
                            margin-top:.9rem;
                        }
                        em{
                            font-size:1rem;
                            @include Regular;
                            display: block;
                            color:#8f9191;
                            margin-top:.6rem;
                        }
                    }
                }
                .list-type-col2 > li:nth-child(1) .inner,
                .list-type-col2 > li:nth-child(2) .inner{
                    margin-top:0;
                }
            }
            .life-event-view{
                padding-bottom:1.7rem;
                position: relative;
                .text{
                    margin-top:1.7rem;
                    b{
                        display: block;
                        @include Bold;
                    }
                    em{
                        display: block;
                        color:#8f9191;
                        margin-top:.6rem;
                    }
                    span {
                        margin-top: .4rem;
                        display: block;
                        @include Bold;
                        color:#da291c;
                        font-size:1.5rem;
                        b{
                            display:inline-block;
                            font-size:1rem;
                            color:#da291c;
                            margin-right:.4rem;
                        }
                        em{
                            font-size:1.2rem;
                            color:#da291c;
                            display:inline-block;
                        }
                    }
                }
                .btn-group{
                    padding-top:1.3rem;
                    justify-content: flex-start;
                    .btn{
                        width:auto;
                        height:2.2rem;
                        font-size:1rem;
                        color:#2f2f2f;
                        border-radius: .4rem;
                        background-color: #f4f4f4;
                        border-color:#f4f4f4;
                        margin:0 .4rem 0 0;
                        @include Regular;
                        &.blueOverlay02{
                            color:#fff;
                        }
                    }
                }
                .swiper-pagination-wrap{
                    margin-top:1.7rem;
                    @include Align-middle;
                    width: 100%;
                    z-index: 1;
                    .swiper-pagination {
                        position: static;
                        height: 2rem;
                        padding: 0 1.4rem;
                        border-radius: 1rem;
                        @include Align-middle;
                        .swiper-pagination-bullet {
                            @include Inline-align-middle;
                            margin: 0 .4rem;
                            width: .7rem;
                            height: .7rem;
                            border-radius: .5rem;
                            background-color: #ddd;
                            border:0;
                            opacity: 1;
                            //transition: all .4s;
                            &.swiper-pagination-bullet-active {
                                background-color:#ff404b;
                            }
                        }
                    }
                }
                .swiper-play-list-wrap{
                    height: 2.6rem;
                    background-color: #000;
                    opacity: .6;
                    @include Position($bottom:0, $right:0);
                    z-index: 1;
                    @include Align-middle;
                    border-radius: .5rem 0 0 0;
                    .swiper-button-pause{
                        @include Background($sprite:'ico-stop', $size:100% auto, $position:center center);
                        width: .6rem;
                        height: 1rem;
                        @include Vertical-inline;
                        @include Hide_txt;
                        flex: none;
                        margin:0 1.3rem;
                    }
                    .swiper-button-play{
                        @include Background($sprite:'ico-next02', $size:100% auto, $position:center center);
                        width: .6rem;
                        height: 1rem;
                        @include Vertical-inline;
                        @include Hide_txt;
                        flex: none;
                        display:none;
                        margin:0 1.3rem;
                    }
                    .swiper-button-thumbs{
                        @include Background($sprite:'ico-gallery', $size:100% auto, $position:center center);
                        width: 1.5rem;
                        height: 1rem;
                        @include Vertical-inline;
                        @include Hide_txt;
                        flex: none;
                        margin:0 .9rem 0 .2rem;
                        .btn{
                            height:1rem;
                        }
                    }
                }
            }
            &.detail-main-list1{
                margin:0;
                padding:0;
                .life-event-view{
                    padding-bottom:0;
                }
            }
            &.detail-main-list2{
                margin:0;
                padding:2.2rem 1.7rem 1.7rem;
                .list-type-col3{
                    li{
                        margin:0 0 0 .9rem;
                        width:31%;
                    }
                    li:first-child{
                        margin:0;
                    }
                }
            }
            &.detail-main-list3{
                .life-event-view{
                    .list-type-col2{
                        width:100%;
                        margin:0 0 0 .2rem;
                        li:first-child{
                            padding:0 .4rem 0 0;
                        }
                        li{
                            width:48%;
                            padding:0 0 0 .4rem;
                        }
                    }
                }
            }
            &.detail-main-list4{
                .life-event-view{
                    .img{
                        @include Position($position:relative, $top: 0, $left: 0);
                        @include Background($sprite:'bg-main-slide-secondhand', $type:'png', $position:center center, $size:contain, $path:'bgs');
                        height:17.1rem;
                        img{
                            @include Position($top: 60%, $left: 35%);
                            transform: translate(-50%,-50%);
                            width:65%;
                        }
                    }
                    .text{
                        b{
                            font-size:1.6rem;
                        }
                        span{
                            b{
                                font-size:1rem;
                            }
                            em{
                                font-size:1.4rem;
                            }
                        }
                    }
                    .btn-group{
                        justify-content: center;
                    }
                }
            }
            &.detail-main-list5{
                .life-event-view{
                    .list-type-col2{
                        width:100%;
                        margin:0 0 0 .2rem;
                        li:first-child{
                            padding:0 .4rem 0 0;
                        }
                        li{
                            width:48%;
                            padding:0 0 0 .4rem;
                        }
                    }
                }
            }
            &.detail-main-list6{
                .life-event-view{
                    .list-type-col1{
                        li:first-child{
                            border-top:1px solid #f1f1f1;
                        }
                        li{
                            @include Align-between-top;
                            padding:1.7rem 0;
                            border-bottom:1px solid #f1f1f1;
                            a{
                                @include Align-between-top;
                            }
                            .img{
                                @include Position($position:relative, $top: 0, $left: 0);
                                @include Align-box;
                                width: 9rem;
                            }
                            .text-box{
                                @include Align-box;
                                padding:0 0 0 1.3rem;
                                align-self: flex-end;
                                width: 19rem;
                                .text{
                                    margin:1rem 0 0 0;
                                    span{
                                        font-size:1.3rem;
                                        em{
                                            margin:0;
                                            font-size:1.1rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .section-filter {
                .result {
                    padding:0 0 2.2rem 0;
                    .filter-col {
                        position: relative;
                        .chk-list {
                            margin-top: .4rem;
                            li {
                                input {
                                    display: none;
                                }
                                label {
                                    position: relative;
                                    border:0 none;
                                    height:2.6rem;
                                    @include Align-middle;
                                    box-sizing: border-box;
                                    font-size: 1.1rem;
                                    border-radius: 2rem;
                                    padding: 0 1.2rem;
                                    transition: all .4s;
                                    @include Regular;
                                    color: #8f9191;
                                    background-color: #f5f5f5;
                                }
                                input:checked + label {
                                    background: rgb(129,112,221);
                                    background: linear-gradient(90deg, rgba(129,112,221,1) 0%, rgba(86,178,192,1) 100%);
                                    color:#fff;
                                    @include Bold;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}








