.shor-wrap {
    background-color: #EFF2F7;
    padding-bottom: 4rem;

    .section-tit{
        padding: 2.2rem 1.7rem 2.6rem;
        position: relative;
        em{
            display:block;
            color:#8f9191;
            font-size:1.9rem;
        }
        strong{
            display:block;
            color:#2f2f2f;
            @include Bold;
            font-size:2.3rem;
        }
        .btn-share {
            @include Position( $top: 1.9rem, $right: 1.7rem);
        }
    }

    .detail-layer-top {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items:left;
        justify-content: center;
        background-color: #fff;
        padding:0 1.7rem;
        margin:0 1.7rem;
        overflow: hidden;
        border-radius: 2rem;
        height: 10.4rem;
        p {
            color:#54585a;
        }
        .btn-simple{
            border:0 none;
            padding:0;
            @include Align-between;
            height:2rem;
            margin-top:1.6rem;
            b{
                font-size:1.4rem;
                @include Bold;
                margin-left:.9rem;
            }
            b:after{
                display:block;
                content:"";
                width:100%;
                border-bottom:.2rem solid #2B2B2B;
                margin-top:.2rem;
            }
        }
    }
    
    .section-filter {
        padding:2rem 0 2.6rem;
        .selection {
            padding: 0 1.7rem;
            margin:0 0 2.6rem 0;
            @include Align-middle-column;
            align-items: flex-start;
            .text {
                margin:0 0 .9rem 0;
                @include Bold;
            }
            select {
                width:100%;
                height: 4rem;
                padding: 0 3rem 0 2rem;
                background-color: #fff;
                border-radius: .5rem;
                margin-right: .5rem;
            }
        }
        .result {
            padding: 0 1.7rem;
            .text {
                margin:0 0 .9rem 0;
                @include Bold;
            }

            .filter-col {
				position: relative;
				.chk-list {
					margin-top: .4rem;
					li {
						input {
							display: none;
						}
						label {
							position: relative;
							border:0 none;
                            height:4.9rem;
							display: block;
							@include Align-middle;
							box-sizing: border-box;
							font-size: 1.1rem;
							border-radius: 2rem;
							padding: 0 1.2rem;
                            transition: all .4s;
                            @include Bold;
                            color: #8f9191;
                            background-color: #fff;
						}
						input:checked + label {
							background: rgb(255,51,102);
                            background: linear-gradient(90deg, rgba(255,51,102,1) 0%, rgba(255,77,52,1) 100%);
                            color:#fff;
						}
					}
				}
			}
            
        }
    }

    .section-list {
        padding: 1.7rem 1.7rem 3.4rem;
        background-color: #fff;
        .list-detail-top{
            @include Align-between;
			height:4.1rem;
			border-bottom: 1px solid #EBEBEB;
			> strong {
				font-size: 1.1rem;
				@include Bold;
				b {color:#F04040;font-size: 1.1rem;}
			}
        }
        ul {
            @include Align-box;
            li {
                width: 50%;
                margin-bottom:2rem;
                a {
                    display: block;
                    margin: 0 .5rem;
                }

                .img {
                    position: relative;
                    overflow: hidden;
                    border-radius: 1rem;
                    background-color: #fff;
                    img {
                        width: 100%;
                    }
                }
                .text {
                    text-align: center;
                    strong {
                        margin-top: 1rem;
                        display: block;
                        color: #2f2f2f;
                        @include Bold;
                    }
                    em{
                        color:#8f9191;
                        display: block;
                        margin-top: .6rem;
                        font-size:1rem;
                        b{
                            color:#8f9191;
                            margin-left:1.1rem;
                        }
                        b:before{
                            display:inline-block;
                            content:"";
                            width:1px;
                            height:1rem;
                            background-color:#d2d2d2;
                            position: relative;
                            left:-.6rem;
                            top:0;
                        }
                    }
                    span {
                        margin-top: .4rem;
                        display: block;
                        @include Bold;
                        color:#da291c;
                        font-size:1.5rem;
                        b{
                            font-size:1rem;
                            color:#da291c;
                            margin-right:.4rem;
                        }
                        em{
                            font-size:1.2rem;
                            color:#da291c;
                            display:inline-block;
                        }
                    }
                }
                .btn-group{
                    margin-top:1.3rem;
                    .btn-middle{
                        border-radius: .4rem;
                        border:.2rem solid #d2d2d2;
                        padding: 0 1.8rem;
                        margin:0;
                        height:2.9rem;
                    }
                    .btn-default{
                        border-radius: .4rem;
                        padding: 0 2.3rem;
                        margin:0;
                        width:auto;
                        height:2.9rem;
                        background-color:#f5f5f5;
                        border:1px solid #f5f5f5;
                        color:#bbb;
                        font-size:1.1rem;
                        @include Nomal;
                        box-sizing: border-box;
                        @include Align-middle;
                    }
                }

            }
        }
    }

    .section-detail {
        background-color: #fff;
        .detail-layout {
            position: relative;
            .detail-view-img{
                @include Align-between;
                padding:1.7rem;
                margin:0 auto;
                mix-blend-mode: multiply;
                img{
                    mix-blend-mode: multiply;
                }
            }
            .detail-view-top {
                background-color: #fff;
                padding:1.7rem;
                .normal{
                    color:#2B2B2B;
                    & > strong{
                        font-size:1.8rem;
                        @include Bold;
                    }
                }
            }
            .detail-layer-cont-limited{
                background-color: #fff;
                padding: 0 1.7rem 2.3rem;
                & > .table{
                    border-top:1px solid #EBEBEB;
                    border-bottom:1px solid #EBEBEB;
                    margin-bottom:.9rem;
                    & > table tr th{
                        border-top:0 none;
                        @include Bold;
                        color:#2f2f2f;
                        padding:1rem 0;
                        @include Align-middle-left;
                        & > i{
                            margin-right:.7rem;
                        }
                    }
                    & > table tr td{
                        border-top:0 none;
                        text-align: right;
                        padding-right:0;
                        padding:1rem 0;
                        & > b{
                            @include Nomal;
                            color:#54585a;
                        }
                        
                    }
                }
                .detail-layer-cont-pchase{
                    padding:1.7rem 0 2.2rem 0;
                    @include Align-between;
                    & > span{
                        @include Bold;
                    }
                    & > em{
                        color:#da291c;
                        font-size:1.8rem;
                        @include Bold;
                        & > span{
                            font-size:1.2rem;
                        }
                    }
                }
                .guide {
                    font-size: 1.1rem;
                    line-height: 1.3;
                    margin-top: 1.2rem;
                    text-indent: -.8rem;
                    padding-left:1rem;
                    & > li{
                        margin-top:.4rem;
                        color:#8f9191;
                        & > i{
                            margin-right: .6rem;
                        }
                    }
                    & > li:first-child{
                        margin-top:0;
                    }
                }
            }

        }

    }
    
}