@charset "UTF-8";
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*미디어쿼리 믹스인*/
/* 2020-10-23 공통 스타일 추가(임시) */
html, body {
	font-size: 16px;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	font-weight: normal;
}

.txt-brown {
	color: #ba9a81;
}

.txt-red {
	color: #ed1c24;
}

.txt-color-red {
	color: #ed1c24;
}

.txt-color-lightgrey {
	color: #8f9191;
}

.txt-bold {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.tit-size-big {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 30px;
}

.tit-size-mid {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 24px;
}

.tbl-type01 {
	width: 100%;
	border: 0;
}

.tbl-type01 th, .tbl-type01 td {
	height: 50px;
	padding: 10px 40px;
	text-align: center;
	vertical-align: middle;
	font-family: "ManropeR", "NotoR", serif;
	/*font-family: "SpoqaR", serif;*/
	font-weight: normal;
}

.tbl-type01 th {
	font-size: 17px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	background-color: #f5f5f5;
}

.tbl-type01 th:first-of-type {
	-webkit-border-top-left-radius: 10px;
	   -moz-border-radius-topleft: 10px;
	        border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	   -moz-border-radius-bottomleft: 10px;
	        border-bottom-left-radius: 10px;
}

.tbl-type01 th:last-of-type {
	-webkit-border-top-right-radius: 10px;
	   -moz-border-radius-topright: 10px;
	        border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	   -moz-border-radius-bottomright: 10px;
	        border-bottom-right-radius: 10px;
}

.tbl-type01 td {
	border-bottom: 1px solid #e7e7e7;
}

.tbl-type01 td:first-of-type {
	text-align: left;
}

.underline {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	padding-bottom: 2px;
	border-bottom: 1px solid #54585a;
}

#wrap {
	padding-bottom: 120px;
}

.tit-size-big {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 32px;
}

.tit-size-mid {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 24px;
}

.txt-color-brown {
	color: #ba9a81;
}

.section-headline {
	text-align: center;
	padding-bottom: 60px;
}

.section-headline .tit {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 40px;
}

.section-headline .txt {
	margin-top: 20px;
}

.section-headline .btn-share {
	position: absolute;
	top: 0;
	right: 0;
}

.section-explain {
	padding-bottom: 60px;
}

.section-explain .explain-header {
	padding-bottom: 30px;
	margin-bottom: 60px;
	border-bottom: 1px solid #e7e7e7;
}

.section-form .form-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	width: 100%;
	height: 80px;
	padding: 0 40px;
	background-color: #f5f5f5;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.section-form .form-cont {
	padding: 80px 0 120px;
}

.section-form .form-cont > .row {
	padding: 0 80px;
	margin-bottom: 20px;
}

.section-form .form-cont > .row.type2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.section-form .form-cont > .row.type2 .input-tit {
	width: 170px;
}

.section-form .form-cont > .row.type2 .inputT, .section-form .form-cont > .row.type2 .selectbox {
	width: 300px;
	margin-right: 5px;
}

.section-form .form-cont > .row.type2 .selectbox {
	width: 210px;
}

.section-form .form-cont > .row.type2 .txt {
	height: 50px;
	line-height: 50px;
}

.section-form .form-cont > .row.type2 .txt-exam {
	padding: 0 5px;
	color: #8f9191;
}

.section-form .form-cont > .row.type2 .at {
	margin-right: 5px;
}

.section-form .form-cont > .row.type2 .textarea {
	width: 700px;
}

.section-format {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-bottom: 40px;
	margin-bottom: 50px;
	border-bottom: 1px solid #e7e7e7;
}

.section-format .format-area > .row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	margin-bottom: 40px;
}

.section-format .format-area > .row dt {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	width: 170px;
}

.section.round {
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.box-type2 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}

.box-type2 .right {
	margin-left: auto;
}

.box-type3 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.box-type3 .right {
	margin-left: auto;
}

.box-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.grid-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.grid-row > li {
	margin-bottom: 60px;
}

.grid-row.type2 > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.grid-row.type2 > li .img-item {
	width: 186px;
}

.grid-row.type2 > li .img-item .circle {
	width: 130px;
	height: 130px;
	-webkit-border-radius: 130px;
	   -moz-border-radius: 130px;
	        border-radius: 130px;
	border: 1px solid #f2f2f2;
	background-color: #fafafa;
}

.grid-row.type2 > li .descri-box .tit {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 1.125rem;
	margin-bottom: 24px;
}

.grid-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.grid-col li {
	position: relative;
	margin-bottom: 80px;
}

.grid-col.col2 li {
	width: 50%;
}

.grid-col.col3 li {
	width: 33.3333%;
}

.grid-col.col4 li {
	width: 25%;
}

.grid-col.col5 li {
	width: 20%;
}

.grid-col.col6 li {
	width: 16.6666%;
}

.lst > li {
	position: relative;
	padding-left: 12px;
}

.lst.dot > li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "·";
	width: 12px;
	font-size: 18px;
}

.lst.hypen > li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "-";
	width: 12px;
}

.lst .spacing {
	position: relative;
	padding-left: 50px;
}

.lst .spacing > .tit {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 50px;
}

.btn-area {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.btn-area .btn {
	width: auto;
	min-width: 160px;
	height: 60px;
	margin: 0 5px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
}

.header .header-top .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	   -moz-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	height: 63px;
}

.header .header-top .inner .extra-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header .header-top .inner .extra-menu > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0 10px;
}

.header .header-top .inner .extra-menu > li > strong {
	font-size: 13px;
	color: #999;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.header .header-top .inner .extra-menu > li > a {
	font-size: 13px;
	color: #999;
}

.header .header-nav {
	border-bottom: 1px solid #EBEBEB;
}

.header .header-nav .inner {
	height: 84px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header .header-nav .inner .nav-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .header-nav .inner .nav-wrap h1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .header-nav .inner .nav-wrap > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .header-nav .inner .nav-wrap > ul > li {
	margin-left: 60px;
}

.header .header-nav .inner .nav-wrap > ul > li > a {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 16px;
}

.header .header-nav .inner .nav-wrap > ul > li > a:hover,
.header .header-nav .inner .nav-wrap > ul > li > a:focus {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	color: #2f2f2f;
	border-bottom: 2px solid #2f2f2f;
}

.header .header-nav .inner .nav-wrap > ul > li:first-child {
	margin-left: 160px;
}

.header .header-nav .inner .nav-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header .header-nav .inner .nav-menu > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header .header-nav .inner .nav-menu .btn.draw-btn {
	position: relative;
}

.header .header-nav .draw-toggle-cont {
	display: none;
	position: absolute;
	top: 148px;
	left: 0;
	width: 100%;
	padding-bottom: 90px;
	background-color: #fff;
	-webkit-box-shadow: 0 20px 40px -40px #54585a;
	   -moz-box-shadow: 0 20px 40px -40px #54585a;
	        box-shadow: 0 20px 40px -40px #54585a;
	z-index: 10;
}

.header .header-nav .draw-toggle-cont .detail-layer-in {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	min-width: 1280px;
	max-width: 1420px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
	padding: 50px 0 80px 0;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-info-top {
	width: 300px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-info-top p {
	font-size: 36px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	position: relative;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-info-top p span {
	position: relative;
	z-index: 10;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-info-top p span:after {
	display: block;
	content: "";
	width: 96%;
	height: 2px;
	background-color: #2f2f2f;
	position: absolute;
	bottom: 7px;
	left: 2px;
	z-index: 1;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-info-top p b {
	font-size: 36px;
	color: #8f9191;
	font-family: "ManropeL", "NotoL", serif;
	/*font-family:"SpoqaL", serif;*/
	font-weight: normal;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link {
	width: 300px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link > li {
	margin-top: 20px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link > li:first-child {
	margin-top: 60px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link .btn {
	width: 80%;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 18px;
	padding: 0;
	height: 26px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link .btn .flag {
	margin-right: 10px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link .btn .link-btn-align-left {
	width: 113px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb-info .layer-gnb-link .btn .link-btn-align-right {
	width: 90px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb {
	padding: 0 0 0 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	-webkit-justify-content: left;
	   -moz-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	width: 100%;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb > li p {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 18px;
	margin-top: 20px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb > li .layer-gnb-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb > li .layer-gnb-list ul > li {
	font-size: 16px;
	color: #54585a;
	margin-top: 16px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in .layer-gnb > li .layer-gnb-list ul > li:first-child {
	margin-top: 26px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all {
	padding: 0;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li {
	width: 16.6%;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li p {
	margin-top: 40px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li p a b {
	font-size: 26px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li .layer-gnb-list ul > li {
	margin-top: 16px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li .layer-gnb-list ul > li p {
	margin-top: 0;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in .layer-gnb-all > li > li:first-child {
	margin-top: 30px;
}

.header .header-nav .draw-toggle-cont .detail-layer-in.detail-layer-all-in:after {
	position: absolute;
	top: 50px;
	right: 20%;
	left: auto;
}

.header .header-nav .draw-toggle-cont .detail-layer-in:after {
	display: block;
	content: "";
	height: 500px;
	width: 1px;
	background-color: #e7e7e7;
	position: absolute;
	top: 50px;
	left: 20%;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn {
	width: 1420px;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide {
	margin-right: 195px;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list {
	width: 880px;
	height: 110px;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list .slick-slide {
	display: inline-block;
	width: 880px;
	height: 110px;
	vertical-align: top;
	text-align: left;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list .slick-slide a {
	display: block;
	position: relative;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list .slick-slide a .img {
	width: 100%;
	height: 110px;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list .slick-slide a .img img {
	display: block;
}

.header .header-nav .draw-toggle-cont .layer-gnb-bn .view-slide .specials-view-list .slick-dots {
	background-color: rgba(255, 255, 255, 0);
	width: auto;
	height: auto;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.footer {
	background-color: #fff;
	padding: 0 0 80px;
}

.footer .footer-link {
	background-color: #333;
	height: 80px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
}

.footer .footer-link .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer .footer-link .inner > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .footer-link .inner > ul > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .footer-link .inner > ul > li > a {
	color: #fff;
}

.footer .footer-link .inner > ul > li + li:before {
	display: block;
	content: '|';
	color: #717171;
	font-size: 16px;
	margin: 0 40px;
}

.footer .footer-link .inner .family-toggle-cont {
	display: none;
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	background-color: #fff;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border: 1px solid #e7e7e7;
	border-bottom: 0 none;
	padding: 80px 120px;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in p {
	color: #ed1c24;
	font-size: 16px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in .detail-layer-list-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in .detail-layer-list-wrap > li {
	color: #54585a;
	font-size: 14px;
	margin-left: 100px;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in .detail-layer-list-wrap > li .detail-layer-list ul > li {
	margin-left: 0;
	margin-top: 16px;
}

.footer .footer-link .inner .family-toggle-cont .detail-layer-in .detail-layer-list-wrap > li:first-child {
	margin-left: 0;
}

.footer .footer-logo {
	margin: 40px 0 20px;
}

.footer .footer-logo img {
	mix-blend-mode: multiply;
}

.footer .footer-infos-bn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	   -moz-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	margin-top: 45px;
}

.footer .footer-infos-bn .footer-infos-sns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 25px;
}

.footer .footer-infos-bn .footer-infos-sns ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .footer-infos-bn .footer-infos-sns ul > li {
	margin-left: 15px;
}

.footer .footer-infos-bn .footer-infos-sns ul > li:first-child {
	margin-left: 0;
}

.footer .footer-infos-bn .footer-infos-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .footer-infos-bn .footer-infos-list .detail-view-list-wrap {
	width: 202px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .footer-infos-bn .footer-infos-list .detail-view-list-wrap .detail-view-list-tit {
	font-size: 14px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.footer .footer-infos-bn .footer-infos-list .detail-view-list-wrap .detail-view-list .swiper-slide {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 14px;
}

.footer .footer-infos-bn .swiper-pagination-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.footer .footer-infos-bn .swiper-pagination-wrap .swiper-button-prev {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/ico-prev-foot.png");
	background-position: right center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	position: absolute;
	top: 4px;
	right: 36px;
	left: auto;
	width: 14px;
	height: 14px;
	margin-top: 0;
}

.footer .footer-infos-bn .swiper-pagination-wrap .swiper-button-next {
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/ico-next-foot.png");
	background-position: right center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	position: absolute;
	top: 4px;
	right: 16px;
	width: 14px;
	height: 14px;
	margin-top: 0;
}

.footer .footer-bottom-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer .footer-bottom-menu .footer-center-wrap .footer-center-top p {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 18px;
}

.footer .footer-bottom-menu .footer-center-wrap .footer-center-top b {
	display: block;
	margin-top: 20px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 32px;
	color: #ed1c24;
}

.footer .footer-bottom-menu .footer-center-wrap .footer-center-info {
	margin-top: 20px;
}

.footer .footer-bottom-menu .footer-center-wrap .footer-center-btn {
	margin-top: 20px;
}

.footer .footer-bottom-menu .footer-center-wrap .footer-center-btn .btn-simple {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 14px;
	color: #54585a;
	height: 36px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	border-color: #d2d2d2;
}

.footer .footer-bottom-menu .footer-app-wrap p {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 18px;
}

.footer .footer-bottom-menu .footer-app-wrap ul {
	margin-top: 32px;
}

.footer .footer-bottom-menu .footer-app-wrap ul > li {
	margin-top: 20px;
}

.footer .footer-bottom-menu .footer-app-wrap ul > li:first-child {
	margin-top: 0;
}

.footer .sitemap {
	height: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer .sitemap > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .sitemap > ul > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .sitemap > ul > li > a {
	font-size: 16px;
	color: #54585a;
}

.footer .sitemap > ul > li > a.txt_point {
	color: #ed1c24;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.footer .sitemap > ul > li + li:before {
	display: block;
	content: '|';
	color: #d2d2d2;
	font-size: 11px;
	margin: 0 12px;
}

.footer .site-infos {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.footer .site-infos .information {
	line-height: 1.5;
}

.footer .site-infos .information > ul > li {
	color: #A3A5AD;
	font-size: 13px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footer .site-infos .information > ul > li > a {
	color: #A3A5AD;
	font-size: 13px;
}

.inner {
	min-width: 1280px;
	max-width: 1420px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

.inner-type2 {
	position: relative;
	width: 1200px;
	min-width: 1200px;
	max-width: 1420px;
	margin: 0 auto;
}

.inner-type3 {
	position: relative;
	width: 1600px;
	min-width: 1600px;
	max-width: 1600px;
	margin: 0 auto;
}

.skip_nav {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 0;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 0;
	color: #fff;
	background-color: #f40404;
}

.path-wrap {
	position: relative;
	min-height: 70px;
	margin-bottom: 60px;
	z-index: 100;
}

.path-wrap .cover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: transparent;
	background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(70%, transparent), color-stop(70%, #eeeeee), to(#eeeeee));
	background: -webkit-linear-gradient(left, transparent 0%, transparent 70%, #eeeeee 70%, #eeeeee 100%);
	background: -moz-linear-gradient(left, transparent 0%, transparent 70%, #eeeeee 70%, #eeeeee 100%);
	background: -o-linear-gradient(left, transparent 0%, transparent 70%, #eeeeee 70%, #eeeeee 100%);
	background: linear-gradient(90deg, transparent 0%, transparent 70%, #eeeeee 70%, #eeeeee 100%);
}

.path-wrap .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.path-wrap .inner > strong {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	font-size: 15px;
	color: #F04040;
}

.path-wrap .inner > ul {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	min-width: 420px;
	height: 70px;
	padding-left: 179px;
	background-color: #eee;
}

.path-wrap .inner > ul > li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.path-wrap .inner > ul > li > a {
	font-size: 14px;
}

.path-wrap .inner > ul > li > b {
	font-size: 14px;
	color: #999;
}

.path-wrap .inner > ul > li + li {
	padding-left: 20px;
}

.path-wrap .inner > ul > li + li:after {
	display: block;
	content: '>';
	color: #999;
	margin-left: 10px;
}

.path-wrap .inner > ul > li + li > a {
	color: #54585a;
}

.path-wrap .inner > ul > li:last-of-type:after {
	display: none;
}

.path-wrap .inner > ul:before {
	content: "";
	position: absolute;
	top: 0;
	left: -86px;
	display: block;
	width: 86px;
	height: 70px;
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/common/bg-gnb-round.png");
	background-position: 0 0;
	-webkit-background-size: 86px 70px;
	   -moz-background-size: 86px 70px;
	        background-size: 86px 70px;
}

.title-box-wrap {
	margin-bottom: 50px;
}

.title-box-wrap > .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.title-box-wrap h2 {
	font-size: 32px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	line-height: 1;
}

.title-box-wrap .steps-indicator {
	margin-left: 40px;
}

.title-box-wrap .steps-indicator > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.title-box-wrap .steps-indicator > ul > li {
	position: relative;
}

.title-box-wrap .steps-indicator > ul > li > b {
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 14px;
	width: 29px;
	height: 29px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
}

.title-box-wrap .steps-indicator > ul > li + li {
	padding-left: 25px;
}

.title-box-wrap .steps-indicator > ul > li + li:after {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 1px;
	background-color: #ccc;
	margin-top: -.5px;
}

.title-box-wrap .steps-indicator > ul > li.active b {
	background-color: #333;
	border-color: #333;
	color: #fff;
}

.title-box-wrap .steps-indicator > ul > li.complete b {
	border-color: #333;
}

.estimateBottom {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 41;
	width: 100%;
	height: 120px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #F9FAFC;
	border-top: 1px solid #EBEBEB;
}

.estimateBottom .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 120px;
}

.estimateBottom .estimateBottom-infos > ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.estimateBottom .estimateBottom-infos > ul > li {
	padding: 7px 0;
}

.estimateBottom .estimateBottom-infos > ul > li .info-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	line-height: 20px;
}

.estimateBottom .estimateBottom-infos > ul > li .info-top > span {
	color: #999;
	font-size: 13px;
	margin-left: 5px;
}

.estimateBottom .estimateBottom-infos > ul > li .info-top > i {
	margin-left: 5px;
}

.estimateBottom .estimateBottom-infos > ul > li .info-price {
	font-size: 22px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	line-height: 1;
	margin-top: 10px;
}

.estimateBottom .estimateBottom-infos > ul > li + li {
	border-left: 1px solid #EBEBEB;
	padding-left: 30px;
	margin-left: 30px;
}

.estimateBottom .estimateBottom-btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.estimateBottom .estimateBottom-btns .btn {
	height: 60px;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	margin-left: 10px;
}

.estimateBottom .estimateBottom-btns .btn-white {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	font-size: 15px;
	width: 100px;
	color: #2B2B2B;
}

.estimateBottom .estimateBottom-btns .btn-white span {
	font-size: 13px;
	margin-bottom: 5px;
	font-family: "ManropeL", "NotoL", serif;
	/*font-family:"SpoqaL", serif;*/
	font-weight: normal;
}

.estimateBottom .estimateBottom-btns .btn-orange {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	font-size: 15px;
	width: 100px;
}

.estimateBottom .estimateBottom-btns .btn-orange span {
	font-size: 13px;
	margin-bottom: 5px;
	font-family: "ManropeL", "NotoL", serif;
	/*font-family:"SpoqaL", serif;*/
	font-weight: normal;
}

.estimateBottom .estimateBottom-btns .btn-red {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-flow: column;
	        flex-flow: column;
	width: 260px;
	font-size: 18px;
}

.estimateBottom .estimateBottom-btns .btn-red span {
	font-size: 13px;
	margin-bottom: 5px;
	font-family: "ManropeL", "NotoL", serif;
	/*font-family:"SpoqaL", serif;*/
	font-weight: normal;
}

.estimateBottom .estimateBottom-btns .btn-default.black {
	width: 300px;
}

.estimateBottom-toast-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #fff;
	width: 100%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s, visibility .5s;
	-o-transition: opacity .5s, visibility .5s;
	-moz-transition: opacity .5s, visibility .5s;
	transition: opacity .5s, visibility .5s;
}

.estimateBottom-toast-wrap:before {
	display: block;
	content: '';
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/ico-arr-toast02.png");
	background-position: center center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	width: 11px;
	height: 7px;
	position: absolute;
	top: -6px;
	left: 35px;
}

.estimateBottom-toast-wrap .estimateBottom-toast {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #EBEBEB;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	height: 56px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.estimateBottom-toast-wrap .estimateBottom-toast > strong {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.estimateBottom-toast-wrap .estimateBottom-toast > strong i {
	margin-right: 5px;
}

.estimateBottom-toast-wrap.active {
	opacity: 1;
	visibility: visible;
}

.section-nav .section-common-nav {
	border-bottom: 2px solid #EBEBEB;
	letter-spacing: 0;
	z-index: 5;
}

.section-nav .section-common-nav a {
	font-size: 32px;
	position: relative;
	display: inline-block;
	padding: 0 0 30px;
	margin-right: 40px;
	line-height: 1;
}

.section-nav .section-common-nav a.active, .section-nav .section-common-nav a:hover {
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
}

.section-nav .section-common-nav a.active:after, .section-nav .section-common-nav a:hover:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -5.5px;
	left: 50%;
	z-index: 1;
	width: 10px;
	height: 10px;
	margin-left: -5px;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	background-color: #F04040;
}

.toast-message {
	position: fixed;
	bottom: 0;
	left: 50%;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 1000px;
	margin-left: -500px;
	margin-bottom: 20px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, 115%, 0);
	   -moz-transform: translate3d(0, 115%, 0);
	        transform: translate3d(0, 115%, 0);
	-webkit-transition: opacity .5s, visibility .5s, -webkit-transform .5s;
	transition: opacity .5s, visibility .5s, -webkit-transform .5s;
	-o-transition: opacity .5s, visibility .5s, -o-transform .5s;
	-moz-transition: opacity .5s, visibility .5s, transform .5s, -moz-transform .5s;
	transition: opacity .5s, visibility .5s, transform .5s;
	transition: opacity .5s, visibility .5s, transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}

.toast-message.active {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.toast-message-login {
	background-color: #fff;
	margin-left: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
	width: 250px;
	border: 1px solid #333;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	padding: 10px 0px;
	text-align: center;
	font-size: 13px;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s, visibility .5s;
	-o-transition: opacity .5s, visibility .5s;
	-moz-transition: opacity .5s, visibility .5s;
	transition: opacity .5s, visibility .5s;
}

.toast-message-login b {
	font-size: 13px;
}

.toast-message-login:before {
	display: block;
	content: '';
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/ico-arr-toast01.png");
	background-position: center center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	width: 11px;
	height: 7px;
	position: absolute;
	top: -7.5px;
	left: 50%;
	margin-left: -5.5px;
}

.toast-message-login.active {
	opacity: 1;
	visibility: visible;
}

.toast-message-sale {
	position: absolute;
	top: -35px;
	right: 0;
	background-color: #fff;
	margin-left: auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 260px;
	border: 1px solid #333;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	padding: 10px 0px;
	text-align: center;
	font-size: 14px;
	font-family: "ManropeB", "NotoM", serif;
	/*font-family: "SpoqaB", serif;*/
	font-weight: normal;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .5s, visibility .5s;
	-o-transition: opacity .5s, visibility .5s;
	-moz-transition: opacity .5s, visibility .5s;
	transition: opacity .5s, visibility .5s;
}

.toast-message-sale:before {
	display: block;
	content: '';
	background-repeat: no-repeat;
	background-image: url("../../resources-pc/images/icons/ico-arr-toast03.png");
	background-position: center center;
	-webkit-background-size: auto auto;
	   -moz-background-size: auto;
	        background-size: auto;
	width: 11px;
	height: 8px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -5.5px;
}

.toast-message-sale.active {
	opacity: 1;
	visibility: visible;
}

/*# sourceMappingURL=../maps/layout.css.map */
