.drawer {
    @include Position( $position:fixed, $top: 0, $right: 0);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 70;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .4s;
    -webkit-overflow-scrolling:touch;
    &.active {
        transform: translateX(0);
    }

    .drawer-top {
        @include Position( $position:sticky, $top: 0, $left: 0);
        z-index: 1;
        .drawer-btns {
            height: 6.8rem;
            padding: 0 2.4rem;
            @include Align-between;
            > div {
                @include Align-middle;
            }
            .left {
                button {
                    margin-right: 1rem;
                }
            }
            .right {
                button {
                    margin-left: 1rem;
                }
            }
        }

        &.logout-state {
            background: rgb(251,68,87);
			background: linear-gradient(90deg, rgba(251,68,87,1) 0%, rgba(241,93,55,1) 100%);
            .logout-state-box {
                // background-color: #EFF2F7;
                // @include Align-between;
                // height: 4.1rem;
                padding: 5.1rem 1.7rem 2.6rem;
                button {
                    padding: 0 1.3rem;
                }
                p{
                    @include Align-left-column;
                    b{
                        font-size:2.2rem;
                        color:#fff;
                        @include Bold;
                        @include Align-box-left;
                        margin-bottom:1.4rem;
                    }
                    span{
                        color:#fff;
                        @include Regular;
                        @include Align-box-left;
                        em{
                            @include Bold;
                            @include Align-box-left;
                        }
                    }
                }
                .login-btns {
                    padding: 2.8rem 0 0;
                    button:first-child{
                        margin-right:1.7rem;
                    }
                    button {
                        color:#fff;
                        @include Bold;
                        font-size:1.4rem;
                        border-bottom-color: #fff;
                        padding:0 0 .4rem;
                    }
                }
                .close-btn{
                    @include Position($top:3.4rem, $right:1.7rem);
                }
            }
            .login-state-box {display: none;}
        }

        &.login-state {
            background: rgb(251,68,87);
			background: linear-gradient(90deg, rgba(251,68,87,1) 0%, rgba(241,93,55,1) 100%);
            .login-state-box {
                .login-top {
                    // background-color: #EFF2F7;
                    @include Align-between;
                    height: 4.1rem;
                    padding: 0 1.7rem;
                    strong {
                        @include Bold;
                        font-size: 1.8rem;
                    }
                }
                .login-btns {
                    padding: .8rem 1.7rem 1.7rem;
                    button {
                        @include Align-between;
                        width: 100%;
                        b {
                            @include Bold;
                            font-size: 1.4rem;
                            color:#F04040;
                        }
                    }
                }
            }


            .logout-state-box {display: none;}
        }
    }

    .drawer-cont {
        background-color: #EFF2F7;
    }

    .drawer-list {
        padding:0 0 5.1rem 0;
        background-color: #fff;
        h5 {
            padding:0 1.7rem;
            margin:5.1rem 0 0;
            span {
                @include Bold;
                @include Vertical-inline;
                font-size:1.4rem;
                margin-left: .7rem;
            }
            a {
                display: block;
                &:after {
                    @include Vertical-inline;
                    @include Background($sprite:'ico-next', $type:'png', $size:100% auto, $position:center center);
                    content: '';
                    width: .6rem;
                    height: 1.2rem;
                    transition: transform .5s;
                    margin-left:.4rem;
                }
            }
        }
        > ul {
            position: relative;
            @include Align-box;
            > li {
                width:33.3%;
                box-sizing: border-box;
                padding:3rem 0 0 0;
                a {
                    @include Align-middle-column;
                    span{
                        padding:1.3rem 0 0 0;
                        color:#54585a;
                        @include Regular;
                    }
                }
            }
        }
    }
    .drawer-toggle-btn {
        cursor: pointer;
        .drawer-toggle-tit {
            
        }
        &.active {
            border-bottom:1px solid #e7e7e7;
            .btn-toggle:after {
                transform: rotate(180deg);
            }
        }
        &.drawer-list {
            padding:2.6rem 0 2.6rem 0;
            margin-top: .6rem;
            h5{
                margin:0;
            }
        }
    }

    .drawer-toggle-cont {
        display: none;
        .drawer-menu-wrap{
            @include Align-top-left;
            background-color: #f5f5f5;
            .drawer-menu-tab{
                padding:2.6rem 0;
                width:40%;
                ul{
                    @include Align-left-column;
                    .drawer-menu-tit{
                        @include Position( $position:relative, $top:0, $left:1.7rem);
                        margin:.4rem 0 0 0;
                        &.active{
                            button{
                                border-radius: .9rem;
                                color:#fff;
                                background-color: #ff404b;
                                box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
                            }
                        }
                        button{
                            border-bottom:0;
                        }
                        &.drawer-menu-tit:first-child{
                            margin:0;
                        }
                    }
                }
            }
            .drawer-menu-list{
                padding:2.6rem 0;
                width:60%;
                height: 41.4rem;
                overflow-y: auto;
                background-color: #fff;
                .drawer-menu-cont{
                    margin:0 0 0 3.4rem;
                    ul > li{
                        b{
                            display: inline-block;
                            @include Regular;
                            font-size:1.1rem;
                            padding:1.1rem 0;
                        }
                        em{
                            display: inline-block;
                            @include Regular;
                            color:#8f9191;
                            font-size:1.1rem;
                            padding:.7rem 0;
                        }
                    }
                }
            }
        }
    }
    


}